@using ProducerInterfaceCommon.ContextModels;
@model AccountCompany

<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse_account_@Model.Id" class="panel-title">
                <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; Список зарегистрированных пользователей <p class="pull-right">@Model.Account.Count()</p>
            </a>
        </div>
        <div id="collapse_account_@Model.Id" class="panel-collapse collapse">
            <div class="panel-body">
    @foreach (var AccountItem in Model.Account)
            {
        <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <a data-toggle="collapse" href="#collapse_account_item_@AccountItem.Id" class="panel-title">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; @AccountItem.Name <p class="pull-right">@AccountItem.Login</p>
                                </a>
                            </div>

                            <div id="collapse_account_item_@AccountItem.Id" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <div class="col-sm-12">

                                        <div class="col-sm-6">
                                            <p><label>Email </label> <a href="@("mailto:" + AccountItem.Login)">@AccountItem.Login</a></p>
                                            <p><label>Телефон </label> @AccountItem.Phone</p>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <a data-toggle="collapse" href="#collapse_account_item_group_@AccountItem.Id" class="panel-title">
                                                        <span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp; Список групп в которых состоит пользователь <p class="pull-right">@AccountItem.AccountGroup.Count()</p>
                                                    </a>
                                                </div>

                                                <div id="collapse_account_item_group_@AccountItem.Id" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        @foreach (var GroupItem in AccountItem.AccountGroup)
                                                        {
                                                        <p><label>Название группы</label> @GroupItem.Name</p>
                                                        <p><label>Описание группы</label> @GroupItem.Description</p>

                                                            if (AccountItem.AccountGroup.Count() > 1)
                                                            {
                                                        <hr />
                                                            }

                                                        @*<div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <a data-toggle="collapse" href="#collapse_account_item_group_permission_@AccountItem.Id" class="panel-title">
                                                                    <span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp; Список прав в группе <p class="pull-right">@GroupItem.AccountPermission.Count()</p></a>
                                                                </div>

                                                                <div id="collapse_account_item_group_permission_@AccountItem.Id" class="panel-collapse collapse">
                                                                    <div class="panel-body">

                                                                        @foreach (var PermissionItem in GroupItem.AccountPermission)
                                                                        {
                                                                            <p>
                                                                                <span><label>Описание</label> @PermissionItem.Description</span>
                                                                                <span><label>Путь</label> @PermissionItem.ControllerAction</span>
                                                                                <span><label>Тип запроса</label> @PermissionItem.ActionAttributes</span>
                                                                            </p>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="container">
                                        <div class="col-sm-12">
                                            <div class="form-group">

                                                <label>Управление пользователем</label>
                                                <div class="btn-group btn-group-lg">
                                                    @Html.ActionLink(" ", "Ban", "AccountProducer", new { Id = AccountItem.Id }, new { @class = "btn btn-primary glyphicon glyphicon-lock", @title = "Заблокировать аккаунт" })
                                                    @Html.ActionLink(" ", "Delete", "AccountProducer", new { Id = AccountItem.Id }, new { @class = "btn btn-primary glyphicon glyphicon-trash", @title = "Заблокировать аккаунт" })
                                                    @Html.ActionLink(" ", "Index", "AccountProducer", new { Id = AccountItem.Id }, new { @class = "btn btn-primary glyphicon glyphicon-question-sign", @title = "Подробнее" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

    }
            </div>
        </div>
    </div>

</div>
