@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Models
@model AccountCompany
@{
	var ListProducer = ViewBag.ListProducer as IEnumerable<OptionElement>;
	var ListReport = ViewBag.ReportList as IEnumerable<Job>;
}

<hr/>

<h3>Информация по @ListProducer.Where(x => x.Value == Model.ProducerId.ToString()).First().Text</h3>

<ul class="nav nav-tabs">
	<li class="active">
		<a data-toggle="tab" href="#panel1">Сотрудники</a>
	</li>
	<li>
		<a data-toggle="tab" href="#panel2">Домены</a>
	</li>
	<li>
		@Ajax.ActionLink("Акции", "Promotions", new { id = Model.ProducerId },
			new AjaxOptions { UpdateTargetId = "panel3"}, new { data_toggle="tab", data_target = "#panel3" })
	</li>
	<li>
		<a data-toggle="tab" href="#panel4">Отчеты</a>
	</li>
	<li>
		<a data-toggle="tab" href="#panel5">Должности</a>
	</li>
</ul>

<div class="tab-content">

	<div id="panel1" class="tab-pane fade in active">
		<br/>

		@if (Model.Account != null && Model.Account.Count() > 0) {
			<div class="form-group">

				@foreach (var ItemAccount in Model.Account) {
					<p>
						@ItemAccount.Name @ItemAccount.Login
						@if (ItemAccount.Enabled == 1) {
							<span>Почтовый адрес подтвержден</span>
						} else {
							<span>Почтовый адрес не подтвержден</span>
						}
					</p>
				}
			</div>
			<hr/>
		}
	</div>

	<div id="panel2" class="tab-pane fade">
		<br/>

		@if (Model.CompanyDomainName != null && Model.CompanyDomainName.Count() > 0) {
			<div class="form-group">

				@foreach (var ItemDomainName in Model.CompanyDomainName) {
					<p>@ItemDomainName.Name</p>
				}
			</div>
			<hr/>
		}

	</div>

	<div id="panel3" class="tab-pane fade">
	</div>

	<div id="panel4" class="tab-pane fade">
		<br/>

		@if (ListReport != null && ListReport.Count() > 0) {
			<div class="form-group">

				<table class="table-bordered table-striped table-custom">
					<tr>
						<th>Название</th>
						<th>Создатель</th>
						<th>Последний раз изменялась</th>
						<th>Последний запуск</th>
					</tr>
					@foreach (var ItemReport in ListReport) {
						<tr>
							<td>@ItemReport.CustomName</td>
							<td>@ItemReport.Owner.Name</td>
							<td>@ItemReport.LastModified</td>
							<td>@ItemReport.LastRun</td>
						</tr>
					}
				</table>
			</div>
		}

	</div>

	<div id="panel5" class="tab-pane fade">
		<br/>

		@if (Model.Account != null && Model.Account.Count() > 0) {
			var ListAppointment = Model.Account.Select(x => x.AccountAppointment).ToList().Select(x => x.Name).ToList().Distinct();

			foreach (var ItemAppointment in ListAppointment) {
				<p>@ItemAppointment</p>
			}
		}
	</div>
</div>

