@using AnalitFramefork.Helpers
@using AnalitFramefork.Hibernate.Models
@using ProducerInterface.Models
@{
	ViewBag.Title = "Редактирвать акцию";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Producer> producers = ViewBag.ProducerList;
	var promotion = (ViewBag.CurrentPromotion as Promotion);
}
@{
	<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
		@using (Html.BeginForm("EditPromotion", "ProducerProfile", FormMethod.Post)) {
			@Html.HiddenFor(s => promotion.Id)
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Распространитель</strong>:</label>
					<div class="col-lg-8">
						@Html.DropDownListExtendedFor(s => promotion.Producer, producers, obj => obj.Name, null,
							new {@Name = "promotion.Producer.Id", @Class = "form-control width-default", @Placeholder = "Поставщик"})
						@ViewBag.Validation.GetError(promotion, "Producer")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Заголовок</strong>:</label>
					<div class="col-lg-8">
						@Html.TextBoxFor(s => promotion.Name, new { @Class = "form-control width-default", @Placeholder = "Заголовок"})
						@ViewBag.Validation.GetError(promotion, "Name")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Дата начала</strong>:</label>
					<div class="col-lg-8">
						@Html.TextBoxFor(o => promotion.Begin, promotion.Begin.ToString("dd.MM.yyyy"),
							new
							{
								@Value = (promotion.Begin.Year > 1900 ? promotion.Begin.ToString("dd.MM.yyyy") : ""),
								@data_format = "dd.mm.yyyy",
								@class = "form-control",
								@data_provide = "datepicker-inline"
							})
						@ViewBag.Validation.GetError(promotion, "Begin")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Дата конца</strong>:</label>
					<div class="col-lg-8">
						@Html.TextBoxFor(o => promotion.End, promotion.End.ToString("dd.MM.yyyy"),
							new
							{
								@Value = (promotion.End.Year > 1900 ? promotion.End.ToString("dd.MM.yyyy") : ""),
								@data_format = "dd.mm.yyyy",
								@class = "form-control",
								@data_provide = "datepicker-inline"
							})
						@ViewBag.Validation.GetError(promotion, "End")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label" for="promotionStatus"><strong>Подтверждено</strong>:</label>
					<div class="col-lg-8">
						@Html.CheckBoxFor(model => promotion.Status, new {@id = "promotionStatus", @class = "c-pointer"})
						@ViewBag.Validation.GetError(promotion, "Status")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Содержание</strong>:</label>
					<div class="col-lg-8">
						@Html.TextAreaFor(s => promotion.Annotation, new { @Class = "form-control width-default", @Rows = "7"})
						@ViewBag.Validation.GetError(promotion, "Annotation")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<button type="submit" class="btn btn-success btn-sm btn-icon icon-left"><i class="entypo-brush"></i>Редактирвать акцию</button>
				</div>
			</div>
		}
	</div>
	<div class="row buffer-top">
		<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("ListPromotions")">
			<i class="entypo-left-open"></i>
			Назад
		</a>
	</div>
}