@using AnalitFramefork.Helpers
@using ProducerInterface.Models
@{
	ViewBag.Title = "Редактирвать новость";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Producer> producers = ViewBag.ProducerList;
	var profileNews = (ViewBag.CurrentProfileNews as ProfileNews);
}


@{
	<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
		@using (Html.BeginForm("EditNews", "ProducerProfile", FormMethod.Post)) {
			@Html.HiddenFor(s => profileNews.Id)
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Поставщик</strong>:</label>
					<div class="col-lg-8">
						@Html.DropDownListExtendedFor(s => profileNews.Producer, producers, obj => obj.Name, null, new {@Name = "profileNews.Producer.Id", @Class = "form-control width-default", @Placeholder = "Заголовок"}, profileNews.Producer.Id.ToString())
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Заголовок</strong>:</label>
					<div class="col-lg-8">
						@Html.TextBoxFor(s => profileNews.Topic, new {@Name = "profileNews.Topic", @Class = "form-control width-default", @Placeholder = "Заголовок"})
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Содержание</strong>:</label>
					<div class="col-lg-8">
						@Html.TextAreaFor(s => profileNews.Text, new {@Name = "profileNews.Text", @Class = "form-control width-default", @Rows = "7"})
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<button type="submit" class="btn btn-success btn-sm btn-icon icon-left"><i class="entypo-brush"></i>Редактирвать новость</button>
				</div>
			</div>
		}
	</div>
	<div class="row buffer-top">
		<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("ListNews")">
			<i class="entypo-left-open"></i>
			Назад
		</a>
	</div>
}