@using AnalitFramefork.Components
@using ProducerInterface.Models
@{
	ViewBag.Title = "Панель администратора";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ModelFilter<ProfileNews> pager = ViewBag.Pager;
	IList<ProfileNews> profileNews = pager.GetItems();

}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">

	<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateNews", "ProducerProfile")">
		<i class="entypo-attach"></i>
		Добавить
	</a>
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.Id)">Номер</a></th>
			<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.Producer)">Поставщик</a></th>
			<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.Topic)">Заголовок</a></th>
			<th class="sorting" tabindex="0" aria-controls="table-2">Содержание</th>
			<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.CreatedDate)">Дата создания</a></th>
			<th class="sorting" tabindex="0" aria-controls="table-2"><a href="@pager.OrderBy(s => s.EditedDate)">Дата изменения</a></th>
			<th tabindex="0" aria-controls="table-2">Действие</th>
		</tr>
		</thead>

		<tbody>
		@foreach (var item in profileNews) {
			<tr role="row" class="odd">
				<td class="sorting_1">
					<span>@item.Id</span>
				</td>
				<td><span>@item.Producer.Name</span></td>
				<td><span>@item.Topic</span></td>
				<td style="max-width: 400px;"><span class="col-lg-8">@(item.Text.Length > 300 ? Html.Raw(item.Text.Substring(0, 300) + "...") : Html.Raw(item.Text))</span></td>
				<td><span>@item.CreatedDate</span></td>
				<td><span>@item.EditedDate</span></td>
				<td>
					<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("InfoNews", "ProducerProfile", new {@Id = item.Id})">
						<i class="entypo-eye"></i>
						Просмотреть
					</a>
					<a class="btn btn-green btn-sm btn-icon icon-left" href="@Url.Action("EditNews", "ProducerProfile", new {@Id = item.Id})">
						<i class="entypo-brush"></i>
						Редактировать
					</a>
					<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteNews", "ProducerProfile", new {@Id = item.Id})">
						<i class="entypo-cancel"></i>
						Удалить
					</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>
