@using AnalitFramefork.Components
@using ProducerInterface.Models
@{
	ViewBag.Title = "Панель администратора";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ModelFilter<Promotion> pager = ViewBag.Pager;
	IList<Promotion> listPromotion = pager.GetItems();
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">

	@*
		<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreatePromotion", "ProducerProfile")">
			<i class="entypo-attach"></i>
			Добавить
		</a>*@
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
			<tr role="row">
				<th class="sorting" tabindex="0" aria-controls="table-2">
					<a href="@pager.OrderBy(s => s.Id)">Номер</a>
				</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">Пользователь</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">Производитель</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">Препараты</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">
					<a href="@pager.OrderBy(s => s.Name)">Заголовок</a>
				</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">
					<a href="@pager.OrderBy(s => s.Begin)">Начало</a>
				</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">
					<a href="@pager.OrderBy(s => s.End)">Конец</a>
				</th>
				<th class="sorting" tab
				<th class="sorting" tabindex="0" aria-controls="table-2">Содержание</th>
				<th class="sorting" tabindex="0" aria-controls="table-2">
					<a href="@pager.OrderBy(s => s.Status)">Подтверждено</a>
				</th>
				<th tabindex="0" aria-controls="table-2">Действие</th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in listPromotion)
			{
				<tr role="row" class="odd">
					<td class="sorting_1">
						<span>@item.Id</span>
					</td>
					<td>
						<span>@(item.ProducerUser != null ? item.ProducerUser.Name : "")</span>
					</td>
					<td>
						<span>@(item.ProducerUser != null ? item.Producer.Name : "")</span>
					</td>
					<td>
						<span>@(new HtmlString(string.Join("<br/>", item.Drugs.Select(s => s.Name))))</span>
					</td>
					<td>
						<span>@item.Name</span>
					</td>
					<td>
						<span>@item.Begin.ToString("dd.MM.yyyy")</span>
					</td>
					<td>
						<span>@item.End.ToString("dd.MM.yyyy")</span>
					</td>
					<td style="max-width: 400px;">
						<span class="col-lg-8">@(item.Annotation.Length > 300 ? Html.Raw(item.Annotation.Substring(0, 300) + "...") : Html.Raw(item.Annotation))</span>
					</td>
					<td>
						<span>@(item.Status ? "Да" : "Нет")</span>
					</td>
					<td>
						@if (!item.Status)
						{
							<a class="btn btn-green btn-sm btn-icon icon-left" href="@Url.Action("SetPromotionStatus", "ProducerProfile", new {@promotionId = item.Id, status = true})">
								<i class="entypo-brush"></i>
								Активировать
							</a>
						}
						else
						{
							<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("SetPromotionStatus", "ProducerProfile", new {@promotionId = item.Id, status = false})">
								<i class="entypo-brush"></i>
								Деактивировать
							</a>
						}

						@*
							<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("InfoPromotion", "ProducerProfile", new {@Id = item.Id})">
								<i class="entypo-eye"></i>
								Просмотреть
							</a>
							<a class="btn btn-green btn-sm btn-icon icon-left" href="@Url.Action("EditPromotion", "ProducerProfile", new {@Id = item.Id})">
								<i class="entypo-brush"></i>
								Редактировать
							</a>
							<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeletePromotion", "ProducerProfile", new {@Id = item.Id})">
								<i class="entypo-cancel"></i>
								Удалить
							</a>
						*@
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>