@using AnalitFramefork.Hibernate.Models
@using ProducerInterface.Models
@{
	ViewBag.Title = "Добавить роль";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Producer> producers = ViewBag.ProducerList;
	var currentRole = (ViewBag.CurrentRole as AdminRole) ?? new AdminRole();
}

@{
	<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
		@using (Html.BeginForm("CreateRole", "AdminRoles", FormMethod.Post)) {
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Название</strong>:</label>
					<div class="col-lg-8">
						@Html.TextBoxFor(s => currentRole.Name, new {@Name = "role.Name", @Class = "form-control width-default", @Placeholder = "Название"})
						@ViewBag.Validation.GetError(currentRole, "Name")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<label class="col-lg-4 control-label"><strong>Описание</strong>:</label>
					<div class="col-lg-8">
						@Html.TextAreaFor(s => currentRole.Description, new {@Name = "role.Description", @Class = "form-control width-default", @Rows = "7"})
						@ViewBag.Validation.GetError(currentRole, "Description")
					</div>
				</div>
			</div>
			<div class="row buffer-top">
				<div class="form-group col-lg-4">
					<button type="submit" class="btn btn-success btn-sm btn-icon icon-left"><i class="entypo-brush"></i>Добавить роль</button>
				</div>
			</div>
		}
	</div>
	<div class="row buffer-top">
		<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("ListRoles")">
			<i class="entypo-left-open"></i>
			Назад
		</a>
	</div>
}