@model IEnumerable<ProducerInterfaceCommon.ViewModel.ControlPanel.Permission.ListGroupView>
@{
    ViewBag.Title = "Список групп сайта";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
 

<h2>Группы Панели управления</h2>

<hr />

<table class="table-bordered table-condensed table-striped" id="table-width-100prc">
    <tr>     
        @*<th>Id группы</th>*@ 
        <th>Название группы</th>
        <th>Список пользователей</th>
        <th>Список доступных Экшенов</th>
    </tr>
    @foreach (var GroupItem in Model)
    {
        <tr>
            @*<td>@GroupItem.Id</td>*@
            <td>
                <p>@GroupItem.NameGroup</p>

                @if (GroupItem.Description == null || GroupItem.Description == "")
                {
                    @*Описание у группы отсутствует*@
                }
                else
                {
                    <p>Описание <br />' @GroupItem.Description '</p>
                }          
                <a class="btn btn-primary" href="~/Permission/GetOneGroup/@GroupItem.Id">Редактировать группу</a>
            </td>
            <td>                       
                @for (int i = 0; i < GroupItem.CountUser; i++)
                {
                    <p>@GroupItem.Users[i]</p>
                }                     
            </td>
            <td>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#table-width-100prc" href="#ListUsercollapseOne_@GroupItem.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>Раскрыть</a>
                        </h4>
                    </div>
                    <div id="ListUsercollapseOne_@GroupItem.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @for (int i = 0; i < GroupItem.Permissions.Length; i++)
                {
                                <p>@GroupItem.Permissions[i]</p>
                }
                        </div>
                    </div>
                </div>    



              
            </td>
        </tr>
    }
</table>
