@using ProducerInterfaceCommon.CatalogModels
@model IEnumerable<Catalog>

@{
    var title = $"Формы выпуска и дозировки препарата {ViewData["familyName"]} в классификации АналитФармация";
    ViewBag.Title = title;
}
<div class="row">
    <div class="col-md-12">
        <h3>@title</h3>
    </div>
</div>

@if (Model != null && Model.Any()) {
    using (Html.BeginForm("EditForms", "Drug")) {
        @Html.Hidden("familyId", ViewData["familyId"])
         <div class="row">
             <div class="col-md-12">
                 <table class="table table-striped table-bordered">
                     <thead>
                     <tr>
                         <th class="w20p">
                             @Html.DisplayNameFor(m => m.Name)
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.VitallyImportant)<br />
                             @Html.CheckBox("VitallyImportant", false, new { @onchange = "$('.VitallyImportant').prop('checked', $(this).prop('checked'))" })
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.MandatoryList)<br />
                             @Html.CheckBox("MandatoryList", false, new { @onchange = "$('.MandatoryList').prop('checked', $(this).prop('checked'))" })
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.Narcotic)<br />
                             @Html.CheckBox("Narcotic", false, new { @onchange = "$('.Narcotic').prop('checked', $(this).prop('checked'))" })
                        </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.Toxic)<br />
                             @Html.CheckBox("Toxic", false, new { @onchange = "$('.Toxic').prop('checked', $(this).prop('checked'))" })
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.Other)<br/>
                             @Html.CheckBox("Other", false, new { @onchange = "$('.Other').prop('checked', $(this).prop('checked'))" })
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.Combined)<br />
                             @Html.CheckBox("Combined", false, new { @onchange = "$('.Combined').prop('checked', $(this).prop('checked'))" })
                         </th>
                         <th class="w10p">
                             @Html.DisplayNameFor(m => m.Monobrend) 
                             @ViewData["producerName"]<br />
                             @Html.CheckBox("Monobrend", false, new { @onchange = "$('.Monobrend').prop('checked', $(this).prop('checked'))" })
                        </th>
                         <th class="w10p">Свойства</th>
                     </tr>
                     </thead>
                     <tbody>
                     @foreach (var item in Model) {
                         <tr>
                             <td style="white-space:nowrap">
                                 @Html.DisplayFor(m => item.Name)
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_VitallyImportant", item.VitallyImportant, new {@class = "VitallyImportant" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_MandatoryList", item.MandatoryList, new {@class = "MandatoryList" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_Narcotic", item.Narcotic, new {@class = "Narcotic" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_Toxic", item.Toxic, new {@class = "Toxic" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_Other", item.Other, new {@class = "Other" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_Combined", item.Combined, new {@class = "Combined" })
                             </td>
                             <td>
                                 @Html.CheckBox($"{item.Id}_Monobrend", item.Monobrend, new {@class = "Monobrend" })
                             </td>
                             <td>
                                 @foreach (var p in item.Products)
                                {
                                     <div>@p.Properties</div>
                                }
                             </td>
                         </tr>
                     }
                     </tbody>
                 </table>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6">
                 <a class="btn btn-primary" href="@Url.Action("DisplayForms", new { id = ViewData["familyId"] })">Отменить</a>
             </div>
             <div class="col-md-6" style="text-align:right">
                 <input type="submit" value="Предложить правку" class="btn btn-primary" />
             </div>
         </div>
     }
}
else {
    <div class="row">
        <b>@string.Format("Лекарственные формы {0} не найдены", ViewData["familyName"])</b>
    </div>
    <div class="row">
        @Html.ActionLink("К списку лек. форм", "DisplayForms", new { id = ViewData["familyId"] })
    </div>
}


@section JavaScript {
    <script>
        //function getArray() {

        //    $("[name='checkboxArray']]")

        //        .val("");
        //    var raw = $("table input[type='checkbox']:checked");
        //    var strArray = "";
        //    for (i = 0; i < raw.length; i++) {
        //        if (i == 0) {
        //            strArray += raw[i].attr("name");
        //        } else {
        //            strArray += "," + raw[i].attr("name");
        //        }
        //    }
        //    $("[name='checkboxArray']").val(strArray);
        //}

        //$(function() {
        //    $("table input[type='checkbox']").checked(function() {
        //        getArray();
        //    });
        //});
    </script>

}