@using ProducerInterfaceCommon.CatalogModels
@model Descriptions

@{
  var title = $"Описание препарата \"{ViewData["familyName"]}\"";
  ViewBag.Title = title;
  var mnn = (mnn)ViewData["mnn"];
}

<div class="row">
    <div class="col-md-12">
        <h4>@title</h4>
        @Html.Partial("FeedBack")
   </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm()) {
            <fieldset>
                @Html.ValidationSummary(true)
                @Html.EditorFor(m => mnn)
                @Html.EditorFor(m => m)
                @Html.Hidden("familyId", ViewData["familyId"])
                @Html.Hidden("url", Url.Action("EditDescriptionField", "Drug"))
                @Html.Hidden("urlMnn", Url.Action("EditMnnField", "Drug"))
                @Html.Hidden("urlGetMnn", Url.Action("GetMnn", "Drug"))
            </fieldset>
        }
    </div>
</div>

<div class="row margin5">
    <div class="flabel col-md-12">
        @Html.ActionLink("К списку препаратов", "Index")
    </div>
</div>
<p>&nbsp;</p>


@section JavaScript {    
    <script src="~/Content/Chosen/js/ajax-chosen.g.js"></script>
    <script src="~/Content/Chosen/js/initDrug.js"></script>
}


