@using ProducerInterfaceCommon.CatalogModels
@using ProducerInterfaceCommon.ContextModels
@model Descriptions

@{
  var title = $"Описание препарата \"{ViewData["familyName"]}\"";
  ViewBag.Title = title;
  var mnn = (mnn)ViewData["mnn"];
  var list = new List<SelectListItem>() { new SelectListItem() { Text = mnn.Mnn1, Value = mnn.Id.ToString(), Selected = true } };
}

<div class="row">
    <div class="col-md-12">
        <h4>@title</h4>
    </div>
</div>

<hr />
@if (mnn != null)
{


<div>
    @Html.DropDownList("mnn", list)
</div>

@*<div>
    @Html.ListBoxFor(m => mnn.Mnn1, new SelectList(new List<OptionElement>() { new OptionElement() {Text = mnn.Mnn1, Value = mnn.Id.ToString() } }, "Value", "Text", mnn.Id))
</div>*@


<div>@Html.LabelFor(m => mnn.Mnn1)</div>
<div>@Html.DisplayTextFor(m => mnn.Mnn1)</div>
<hr />
<div>@Html.LabelFor(m => mnn.RussianMnn)</div>
<div>@Html.DisplayTextFor(m => mnn.RussianMnn)</div>
}
else
{

}
<hr/>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm()) {
            <fieldset>
                @Html.ValidationSummary(true)
                @Html.Hidden("familyId", ViewData["familyId"])
                @Html.EditorFor(m => m)
                @Html.Hidden("url", Url.Action("EditDescriptionField", "Drug"))
            </fieldset>
        }
    </div>
</div>

<div class="row margin5">
    <div class="flabel col-md-12">
        @Html.ActionLink("К списку препаратов", "Index")
    </div>
</div>


@section JavaScript {
    <script src="~/Content/Chosen/js/chosen.jquery.js"></script>
    <script src="~/Content/Chosen/js/ajax-chosen.g.js"></script>
    <script src="~/Content/Chosen/js/initDrug.js"></script>
}

@section Styles {
    <link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
}

@*<div>У данного товара нет описания</div>*@


