@using ProducerInterfaceCommon.ContextModels
@model drugmnn

@{
    var title = $"МНН препарата \"{ViewData["familyName"]}\"";
    ViewBag.Title = title;
}

<div class="row">
    <div class="col-md-12">
        <h4>@title</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm()) {
        <fieldset>
            @Html.ValidationSummary(true)
            @Html.Hidden("familyId", ViewData["familyId"])
            @Html.EditorForModel()
            <div class="row margin5">
                <div class="flabel col-md-4">
                    @Html.ActionLink("К списку препаратов", "Index")
                </div>
            </div>
            @Html.Hidden("url", Url.Action("EditMnnField", "Drug"))
        </fieldset>
        }
    </div>
</div>

@section JavaScript {
<script src="~/Content/Chosen/js/initDrug.js"></script>
}



