@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Heap

@model IEnumerable<CataloglogUiPlus>
@{
  ViewBag.Title = "История правок";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (Model != null && Model.Count() > 0)
{
    <table class="table-bordered table-striped" id="Table-LogUserChange">
        <tr>
            <th>Сущность</th>
            <th>Свойство</th>
            <th>Было</th>
            <th>Стало</th>
            <th>Подробнее</th>
        </tr>

        @foreach (var item in Model)
        {
            var details = Json.Encode(new { item.ObjectReference, item.Id, item.LogTimeUi, item.OperatorHost, item.ProducerName, item.Login, item.UserName, item.DateEditUi });
        <tr>
            <td>@item.ObjectReferenceNameUi</td>
            <td>@item.TypeEnum.DisplayName() / @item.PropertyNameUi</td>
            <td>@item.BeforeUi</td>
            <td>@item.AfterUi</td>
            <td><a onclick="bindDetailsItem(@details)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
        </tr>
        }
    </table>

    <div id="ModalDetailsItem" class="modal fade modal-open-noscroll" role="dialog">
        <div class="modal-dialog modal-dialog-full">
            <div class="modal-content modal-content-full">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Правка № <span data-bind="text:Id"></span></h3>
                </div>
                <div class="modal-body">
                    <table class="table-bordered table-striped" id="Table-LogUserChange">
                        <tr>
                            <td>Дата добавления</td>
                            <td><span data-bind="text:LogTimeUi"></span></td>
                        </tr>
                        <tr>
                            <td>Пользователь</td>
                            <td><span data-bind="text:UserName"></span> (<span data-bind="text:Login"></span>, IP <span data-bind="text:OperatorHost"></span>)</td>
                        </tr>
                        <tr>
                            <td>Производитель</td>
                            <td><span data-bind="text:ProducerName"></span></td>
                        </tr>
                        <tr>
                            <td>Дата принятия правки</td>
                            <td><span data-bind="text:DateEditUi"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>

}
else
{
<h4>История правок пуста</h4>
}

<style>
    .modal-dialog-full {
        width: 50%;
        height: 50%;
    }

    .modal-content-full {
        height: 100%;
    }

    table.table-striped td, table.table-striped th {
        vertical-align: top;
        padding: 10px;
    }
</style>

@section JavaScript
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Content/Chosen/js/initCatalogHistory.js"></script>
}
