@model IEnumerable<ProducerInterfaceCommon.ContextModels.drugfamily>

@{
    var title = $"Список препаратов производителя \"{ViewData["producerName"]}\"";
    ViewBag.Title = title;
}

<div class="row">
    <div class="col-md-12">
        <h4>@title</h4>
    </div>
</div>

@if (Model != null && Model.Any()) {
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Описание</th>
                        <th>Формы выпуска и дозировка</th>
                        <th>Время последней корректировки</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>@item.FamilyName</td>
                        <td>
                            @if (item.DescriptionId.HasValue) {
                                @Html.ActionLink("Описание", "EditDescription", new { id = item.FamilyId })
                            }
                            else {
                                <a style="color: red" href="@Url.Action("EditDescription", new { id = item.FamilyId })">Добавить описание</a>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Формы выпуска и дозировка", "DisplayForms", new { id = item.FamilyId })
                        </td>
                        @*<td>
                            @if (item.MnnId.HasValue) {
                                @Html.ActionLink("МНН", "EditMnn", new { id = item.FamilyId })
                            }
                            else {
                                <a style="color: red" href="@Url.Action("EditMnn", new { id = item.FamilyId })">Добавить МНН</a>
                            }
                        </td>*@
                        <td>@Html.DisplayTextFor(m => item.UpdateTime)</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}
else {
    <div class="row">
        <b>@string.Format("Препараты производителя \"{0}\" не найдены", ViewData["producerName"])</b>
    </div>
}