@model Quartz.Job.Models.Report
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm()) {
            <fieldset>

                <legend>@Model.Name</legend>
                @Html.ValidationSummary(true)
                @Html.EditorFor(m => m.CastomName)
                @Html.EditorForModel()
                @Html.EditorFor(m => m.MailTo)
                @Html.EditorFor(m => m.Id)
                @Html.EditorFor(m => m.MailSubject)
                <div class="row margin5">
                    <div class="flabel col-md-4">
                        @Html.ActionLink("Назад", "JobList")
                    </div>
                    <div class="feditor col-md-8">
                        <input id="btn" type="submit" value="Сохранить"/>
                    </div>
                </div>

            </fieldset>
        }
    </div>
</div>
@section javascript {
    <script src="~/Content/js/initAddJob.js"></script>
    <script src="~/Content/js/chosen.jquery.js"></script>
}