@model ProducerInterfaceCommon.Models.Report
@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>*@

<div class="row">     
    <div class="col-md-12">
        @using (Html.BeginForm()) {
            <fieldset>
                <legend>@Model.Name</legend>
                @Html.ValidationSummary(true)
                @Html.EditorFor(m => m.CastomName)
                @Html.EditorForModel()
                @Html.EditorFor(m => m.MailTo)
                @Html.EditorFor(m => m.Id)
                @Html.EditorFor(m => m.MailSubject)
                <div class="row margin5">
                    <div class="flabel col-md-4">
                        @Html.ActionLink("К списку отчётов", "JobList", new {r = Guid.NewGuid(), @class="btn btn-primary"})
                    </div>
                    <div class="feditor col-md-8">
                        <input id="btn" type="submit" value="Сохранить" class="btn btn-primary"/>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>
@section JavaScript {
<link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
<script src="~/Content/Chosen/js/chosen.jquery.js"></script>
<script src="~/Content/Chosen/js/initAddJob.js"></script>    
}