@model System.Data.DataSet

@{
    var data = Model.Tables["Data"];
    var headers = Model.Tables["Headers"];
    var title = Model.Tables["Titles"].Rows[0][0].ToString();
    ViewBag.Title = title;
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("К списку отчётов", "JobList", new {r = Guid.NewGuid()})
    </div>
</div>

<h2>@title</h2>

<ul>
    @foreach (System.Data.DataRow row in headers.Rows) {
    <li>@row[0].ToString()</li>
    }
</ul>



<table border="1">
    <thead>
        <tr>
            @foreach (System.Data.DataColumn col in data.Columns) 
            {
                <th>@col.Caption</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(System.Data.DataRow row in data.Rows) {
        <tr>
            @foreach (var cell in row.ItemArray) {
            <td>@cell.ToString()</td>
            }
        </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("К списку отчётов", "JobList", new {r = Guid.NewGuid()})
    </div>
</div>