@model IEnumerable<ProducerInterfaceCommon.ContextModels.News>

@if (Model != null && Model.Any())
{
    foreach (var NewsItem in Model)
    {
        <div class="col-xs-12 pointer" onclick="window.location='@Url.Action("News", "Profile", new { Id = NewsItem.Id})'">
            <h4><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; <strong>@NewsItem.Name</strong></h4>
            <p><span>@NewsItem.DatePublication.Value.ToString("dd.MM.yyyy")</span></p>
            <br />
            <a href="@Url.Action("News", "Profile", new { Id = NewsItem.Id})">читать далее</a>
        </div>
        <hr />
    }

    if (ViewBag.MaxCount >= ViewBag.Pager)
    {

        <div id="@("LoadingListDiv" + ViewBag.Pager)" class="row">

        </div>

            <div id=@("Delete_Id" + ViewBag.Pager)>
                @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "Profile",
                new { Pager = ViewBag.Pager },
                new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
                new { @class = "btn btn-primary" }
                )
            </div>
    }
}
else
{

}

