@using ProducerInterfaceCommon.ContextModels

@{
    var currentUser = ViewBag.CurrentUser as Account;
    ViewBag.Title = "Кабинет производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NewsList = ViewBag.News as IEnumerable<NotificationToProducers>;
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-lg-2 visible-lg">
            <div class="body-content" style="padding:0.2em;">
                <h3 style="margin:0.5em;">Меню</h3>
                <hr/>
                <div class="btn-group-vertical profile_submenu" style="width:100%;">
									<a href="@Url.Action("JobList", "Report")" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Отчеты</a>
									<a href="@Url.Action("Index", "Promotion")" class="btn btn-default" style="width:100%;"><span class="glyphicon glyphicon-star-empty"></span> Акции</a>
									<a href="@Url.Action("Index", "Drug")" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span> Наша продукция</a>
									<a data-toggle="modal" data-target="#myModal" class="pointer btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Обратная связь</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-10">
            <div class="body-content">
                <div class="form-group">
                    <p class="lead text-center">Здраствуйте, @currentUser.Name!</p>
                </div>

                <hr />

                @*<h2>Новости</h2>
                <hr />*@

                @*<div class="form-group" id="NewsListDiv">
                    @if (ViewBag.News != null && ViewBag.News.Count > 0)
                    {
                        <div class="row">
                            @foreach (var NewsItem in NewsList)
                            {
                                <div class="col-xs-12" id="News_Item">
                                    <div class="row pointer" onclick="window.location='@Url.Action("News", "Profile", new { Id = NewsItem.Id})'">
                                        <div class="col-md-9 col-xs-12">
                                            <h4><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; <strong>@NewsItem.Name</strong></h4>
                                        </div>
                                        <div class="col-md-2 col-xs-6 text_align_bottom">
                                            <a href="@Url.Action("News", "Profile", new { Id = NewsItem.Id})">читать далее</a>
                                        </div>
                                        <div class="col-md-1 col-xs-6 text_align_bottom">
                                            <span class="pull-right">@NewsItem.DatePublication.Value.ToString("dd.MM.yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    if (ViewBag.MaxCount > 10)
                    {
                            <div id="@("LoadingListDiv" + ViewBag.Pager)" class="row">

                            </div>

                            <div id=@("Delete_Id" + ViewBag.Pager)>
                                @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "Profile",
                    new { Pager = ViewBag.Pager },
                    new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
                    new { @class = "btn btn-primary" })
                            </div>
                    }
                }

                </div>*@
            </div>
        </div>
    </div>
</div>

@section JavaScript
{
<script src="~/Scripts/WorkPlace/GradientText.js"></script>

<script type="text/javascript">
    function newsisloadcomplete(data_int) {
        var ElementId = "#Delete_Id" + data_int;
        $(ElementId).css("display", "none");
    }
</script>
}