@using ProducerInterfaceCommon.ContextModels
@model AccountPermission

@{
    ViewBag.Title = "Редактирование описание прав";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("ListPermission", "PermissionUser")">Список прав</a>
                </li>
                <li class="active">Редактировать</li>
            </ol>
        </div>
    </div>
}

<h2>@ViewBag.Title</h2>

<hr/>

<h4>Название @Model.ControllerAction | Тип запроса @Model.ActionAttributes </h4>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.HiddenFor(m=>m.Id)

    <div class="form-group">
        @Html.TextBoxFor(m=>m.Description, null, new { @class="form-control", @rows="3"})

    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Сохранить описание"/>
        <a class="btn btn-primary" href="@Url.Action("DeletePermission",new { Id = Model.Id })" onclick="return confirm('Вы уверены, что хотите удалить данный доступ?')">Удалить доступ</a>
    </div>

}