@using ProducerInterfaceCommon.ViewModel.ControlPanel.Permission
@using ProducerInterfaceCommon.Heap
@model IEnumerable<ListGroupView>
@{
    ViewBag.Title = "Список групп";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Список групп</li>
            </ol>
        </div>
    </div>
}
<h2>@ViewBag.Title</h2>

@foreach (var group in Model)
{
    <div class="panel panel-default">

        <div class="panel-heading">
            <H4 class="panel-title">
                <p data-toggle="collapse" href="#collapse_@group.Id" class="pointer"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;&nbsp;@group.NameGroup</p>
            </H4>
        </div>

        <div id="collapse_@group.Id" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Описание: @group.Description</h4>
                <p>Проект: @group.TypeUser.DisplayName()</p>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h4 class="panel-title pointer" data-toggle="collapse" href="#collapse_a_@group.Id"><span class="glyphicon glyphicon-user" style="color:green;"></span>&nbsp;&nbsp;&nbsp; Список пользователей</h4>
                    </div>

                    <div id="collapse_a_@group.Id" class="panel-collapse collapse">
                        <div class="panel-body">

                            @foreach (var AccountItem in group.ListUsersInGroup)
                            {
                                <p>@AccountItem.Name (@AccountItem.eMail) @AccountItem.ProducerName</p>
                            }
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">

                    <div class="panel-heading">
                        <H4 class="panel-title pointer" data-toggle="collapse" href="#collapse_a_a_@group.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="color:green;"></span>&nbsp;&nbsp;&nbsp;Список доступов группы</H4>
                    </div>

                    <div id="collapse_a_a_@group.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @for (int i = 0; i < group.Permissions.Length; i++)
                            {
                                <p>@group.Permissions[i]</p>
                            }
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <a class="btn btn-primary" href="@Url.Action("GetOneGroup", new { id=group.Id})"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;Редактировать группу</a>
                </div>

            </div>
        </div>
    </div>

}
