@using ProducerInterfaceCommon.ContextModels;
@model Statistics

@{
  ViewBag.Title = "Статистика";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h4>Зарегистрировано</h4>
        <ul>
            <li>@Html.DisplayFor(m => m.ProducerCount) @Html.DisplayNameFor(m => m.ProducerCount)</li>
            <li>@Html.DisplayFor(m => m.NotProducerCount) @Html.DisplayNameFor(m => m.NotProducerCount)</li>
        </ul>

        <ul>
            <li>@Html.DisplayFor(m => m.ActionCount) @Html.DisplayNameFor(m => m.ActionCount)</li>
            <li>@Html.DisplayFor(m => m.AcceptedActionCount) @Html.DisplayNameFor(m => m.AcceptedActionCount)</li>
            <li>@Html.DisplayFor(m => m.ActiveActionCount) @Html.DisplayNameFor(m => m.ActiveActionCount)</li>
        </ul>

        <ul>
            <li>@Html.DisplayFor(m => m.UserCount) @Html.DisplayNameFor(m => m.UserCount)</li>
            <li>@Html.DisplayFor(m => m.ActiveUserCount) @Html.DisplayNameFor(m => m.ActiveUserCount)</li>
            <li>@Html.DisplayFor(m => m.NewUserCount) @Html.DisplayNameFor(m => m.NewUserCount)</li>
            <li>@Html.DisplayFor(m => m.RequestUserCount) @Html.DisplayNameFor(m => m.RequestUserCount)</li>
            <li>@Html.DisplayFor(m => m.BlockedUserCount) @Html.DisplayNameFor(m => m.BlockedUserCount)</li>
        </ul>

        <ul>
            <li>@Html.DisplayFor(m => m.ReportCount) @Html.DisplayNameFor(m => m.ReportCount)</li>
        </ul>
    </div>
</div>


