@model IEnumerable<EntityContext.ContextModels.promotions>

@{
    ViewBag.Title = "Домащняя страница";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
   <h2>Стартовая страница Администрирования Интерфейса Производителя</h2>
</div>

  <div class="jumbotron">
    <h5>Список подтверждённых Промо-Акций производителей</h5>

      @foreach (var PromotionItem in Model)
      {
        <div class="col-sm-4" id="Promo-Action">
            <h5><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp; @PromotionItem.Name</h5>
            <p>Описание: <br/> @PromotionItem.Annotation</p>     
            <br/>      
        </div>
      }   

      @*<div class="row">@User.Identity.Name</div>

      @foreach(var XXX in ViewBag.ListGroup)
      {
      <div class="row">
            @Html.DisplayFor(itemModel => XXX)
      </div>      
      }

      <a class="form-control">
          @ViewBag.x
      </a>*@

     

  </div>

