@model ProducerInterfaceCommon.ContextModels.NotificationToProducers

@{
    ViewBag.Title = "Новое сообщение для производителей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}



    <h2>Новая новость</h2>

    <hr />

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)

            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows="10" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>

    


        <div class="form-group"> 
            <input type="submit" class="btn btn-primary" value="Добавить новость" />
        </div>
    }
    
@section scripts
{   
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        CKEDITOR.replace('Description',{'filebrowserBrowseUrl':'/MediaFiles/Index/',
            'filebrowserImageBrowseUrl': '/MediaFiles/Index/',
  'filebrowserFlashBrowseUrl': '/MediaFiles/Index/',
  'filebrowserUploadUrl': '/MediaFiles/Index/',
  'filebrowserImageUploadUrl':'/MediaFiles/Index/',
  'filebrowserFlashUploadUrl':'/MediaFiles/Index/'
        });
    });

</script>
}

