@using ProducerInterfaceCommon.ContextModels
@model NotificationToProducers

@{
    ViewBag.Title = "Новое сообщение для производителей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="container body-content">
    @if (Model.Id > 0)
    {
        <h2>Редактирование новости</h2>
        <hr />
    }
    else
    {
        <h2>Создание новости</h2>
        <hr />
    }

    <input hidden="hidden" id="FullUrlStringFile" value="@ViewBag.FullUrlStringFile" />

    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        if (Model.Id > 0)
        {
            @Html.HiddenFor(m => m.Id)
        }
        else
        {
            <input type="hidden" id="Id" name="Id" value="0" />
        }

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description)

            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "10" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <div class="form-group">
            <a href="@Url.Action("Index")" class="btn btn-primary">Назад к списку новостей</a>
            <a class="btn btn-primary" onclick="TargetBlackPreviewNews()">Посмотреть результат</a>
            @if (Model.Id == 0) {
	            <input type="submit" class="btn btn-primary" value="Добавить новость" />
            } else {
	            <input type="submit" class="btn btn-primary" value="Сохранить изменения"/>
							if (Model.Enabled) {
								 <a href="@Url.Action("DeleteNews", "News", new {Model.Id})" class="btn btn-warning">В архив</a>
							}
            }
        </div>

    }
</div>

@section scripts
{
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/InitCKEditor_News.js"></script>

}

