@model IEnumerable<ProducerInterfaceCommon.ContextModels.NotificationToProducers>

@if (Model != null && Model.Count() > 0)
{

    foreach (var NewsItem in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>Тема @NewsItem.Name
                    <div class="pull-right">Дата изменения @NewsItem.DatePublication.Value.ToString("dd-MM-yyyy")</div>
                </div>                
            </div>
            <div class="panel-body">
                <p><h4>Сообщение</h4>@Html.Raw(NewsItem.Description)</p>
            </div>      
        </div>
    }

    if (Model.Count() == 10)
    {
        <div class="row">
            <div id="@("LoadingListDiv" + ViewBag.Pager)" class="col-xs-12">

            </div>
        </div>
    <div id=@("Delete_Id" + ViewBag.Pager)>
        @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "News",
                 new { Pager = ViewBag.Pager },
                 new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
                 new { @class = "btn btn-primary" }
                 )
    </div>
    }
    else
    {
        <h3>Все новости уже отображены на странице</h3>
    }
}
else
{

}
