@model IEnumerable<ProducerInterfaceCommon.ContextModels.NotificationToProducers>

@{
    ViewBag.Title = "Список новостей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
    <div class="container">
        <h2>Список новостей</h2>

        <hr />

        <a href="~/News/Create" class="btn btn-primary">Создать новость</a>

        <hr />

        @if (Model != null && Model.Count() > 0)
        {
            foreach (var NewsItem in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            @NewsItem.Name
                            <div class="pull-right">@NewsItem.DatePublication.Value.ToString("dd-MM-yyyy")</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <p>@Html.Raw(NewsItem.Description)</p>
                        </div>
                        <div class="form-group">
                            <a href="@Url.Action("Create", new { Id = NewsItem.Id})" class="btn btn-primary">Редактировать</a>
                           <a href="@Url.Action("DeleteNews", new { id= NewsItem.Id})" class="btn btn-primary">Удалить</a>
                        </div>

                        <div class="form-group">
                            <label>История изменений</label>
                            @foreach (var HistoryItem in NewsItem.NewsChange)
                            {
                                <p>@HistoryItem.DateChange @HistoryItem.Account.Name @HistoryItem.TypeChangeDisplayName </p>
                            }
                        </div>

                    </div>     
                </div>
            }

            <div class="row">
                <div id="@("LoadingListDiv" + ViewBag.Pager)" class="col-xs-12">
                </div>
            </div>

            <div id=@("Delete_Id" + ViewBag.Pager)>
                @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "News",
       new { Pager = ViewBag.Pager },
       new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
       new { @class = "btn btn-primary" }
       )
            </div>
        }
        else
        {
            <h3>Список новостей пуст</h3>
        }
    </div>

<script type="text/javascript">
    function newsisloadcomplete(data_int) {
        var ElementId = "#Delete_Id" + data_int;
        $(ElementId).css("display", "none");
    }
</script>
