@model IEnumerable<ProducerInterfaceCommon.ContextModels.Account>
@{
    ViewBag.Title = "Заявки на регистрацию";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var I = 1;
}

<h2>Список заявок на регистрацию</h2>

@if (Model != null && Model.Any())
{
    foreach (var ItemAccount in Model)
    {
        <div class="form-group">
            <label>@I</label>

            <p>@ItemAccount.Name</p>
            <p>@ItemAccount.Login</p>
            <p>@ItemAccount.Phone</p>
            <p>@ItemAccount.AccountCompany.Name</p>

            @{
                I += 1;
            }
        </div>
        <hr/>
    }
}