@using AnalitFramefork.Components
@using ProducerInterface.Models
@{
	ViewBag.Title = "Список пользователей";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ModelFilter<ProducerUser> pager = ViewBag.Pager;
	var producerUserList = pager.GetItems();
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">

	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Id)">Номер</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Name)">Поставщик</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Email)">Заголовок</a>
			</th>
			<th tabindex="0" aria-controls="table-2">Действие</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var item in producerUserList) {
			<tr role="row" class="odd">
				<td class="sorting_1">
					<span>@item.Id</span>
				</td>
				<td>
					<span>@item.Name</span></td>
				<td>
					<span>@item.Email</span></td>
				<td>
					<a class="btn btn-green btn-sm btn-icon icon-left" href="@Url.Action("ManageUserPermission", "UserPermissions", new {item.Id})">
						<i class="entypo-brush"></i>
						Изменить права
					</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>