@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<Account>

@{
    ViewBag.Title = "Управление пользователями";
    Layout = "~/Views/Shared/_MasterPage.cshtml"; 
}

<h2>Управление пользователями</h2>

@if (Model.Where(xxx => xxx.AccountCompany.ProducerId == null).Count() == 0)
{
    <h4>Список заявок пуст</h4>
}
else
{

<div class="row">
    <div class="col-xs-12">
        <h3>Список заявок на регистрацию</h3>
        <hr />
        

        @foreach (var AccountItem in Model.Where(xxx => xxx.AccountCompany.ProducerId == null))
        {
            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        @AccountItem.Name | @AccountItem.Login @if (AccountItem.Enabled == 1)
                        {
                            <span class="pull-right">Подтвержден</span>
                        }
                        else
                        {
                            <span class="pull-right">Не Подтвержден</span>
                        }
                    </h4>
                </div>
            </div>
            <div class="panel-body">
                @AccountItem.Name | @AccountItem.Login @if (AccountItem.Enabled == 1)
                {
                    <label>Название компании</label>
                    <p>@AccountItem.AccountCompany.Name</p>
                }
                else
                {
                    <label>Текст обращения и контакты для свзяи</label>
                    <p>@AccountItem.AccountCompany.Name</p>

                    <div class="form-group">
                        <div class="btn-group">
                            @Html.ActionLink("Предоставить доступ к сайту", "SuccessAccount", "GlobalAccount", new { Id = AccountItem.Id }, new { @class="btn btn-primary" })
                            @Html.ActionLink("Удалить аккаунт", "DeleteAccount", "GlobalAccount", new { Id = AccountItem.Id }, new { @class = "btn btn-primary", @onclick="return confirm('Вы точно хотите удалить данную заявку?')" })
                        </div>
                    </div>                   
                }                        
            </div>
        }
   
    </div>
</div>
}