@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Heap
@model IEnumerable<Account>

@{
    ViewBag.Title = "Заявки на регистрацию";
    Layout = "~/Views/Shared/_MasterPage.cshtml"; 
}

<h2>@ViewBag.Title</h2>

@if (!Model.Any())
{
    <h4>Список заявок пуст</h4>
}
else
{

<div class="row">
    <div class="col-xs-12">
        <hr />
        

        @foreach (var item in Model)
        {
            <div class="panel">
                <div class="panel-heading">
                    <h4>
                        Пользователь @item.Name (@item.Login) 
                        <span class="pull-right">@item.EnabledEnum.DisplayName()</span>
                    </h4>
                </div>
            </div>
            <div class="panel-body">
                @if (item.EnabledEnum == UserStatus.Active)
                {
                    <label>Название компании</label>
                    <p>@item.AccountCompany.Name</p>
                }
                else
                {
                    <label>Текст обращения и контакты для связи</label>
                    <p>@item.AccountCompany.Name</p>

                    <div class="form-group">
                        <div class="btn-group">
                            @Html.ActionLink("Активировать", "AccountVerification", "GlobalAccount", new { id = item.Id }, new { @class="btn btn-primary" })
                            @*@Html.ActionLink("Удалить аккаунт", "DeleteAccount", "GlobalAccount", new { id = item.Id }, new { @class = "btn btn-primary", @onclick="return confirm('Вы точно хотите удалить данную заявку?')" })*@
                        </div>
                    </div>                   
                }                        
            </div>
        }
   
    </div>
</div>
}