@using ProducerInterfaceCommon.ContextModels;
@model Account

@{
    ViewBag.Title = "Заполненине данных пользователя";
    Layout = "~/Views/Shared/_MasterPage.cshtml"; 
    var ListReturn = ViewBag.GroupList as IEnumerable<OptionElement>;
}



<div class="row">
    <div class="col-xs-12 container">
        <h2>Карточка клиента</h2>
        @using (Html.BeginForm("SuccessAccount", "GlobalAccount", FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                <label>e-Mail (Логин пользователя)</label>
                @Html.TextBoxFor(m => m.Login, null,new { @class="form-control"})
                @Html.ValidationMessageFor(m => m.Login)
            </div>

            <div class="form-group">
                <label>ФИО</label>
                @Html.TextBoxFor(m => m.Name,null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>

            <div class="form-group">
                <label>Номер Телефона</label>
                @Html.TextBoxFor(m => m.Phone,null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Phone)
            </div>

            <div class="form-group">
                <label>Список групп  (при нажатой клавише `Ctrl` Можно выбрать несколько групп)</label>
                <select typeof="input" name="Group" id="Group" multiple="multiple" class="form-control">
                    @foreach (var Item in ListReturn)
                    {
                        <option value="@Item.Value">@Item.Text</option>
                    }
                </select>

            </div>

            <div class="form-group">




            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary"/>
            </div>

        }
    </div>
</div>