@using ProducerInterfaceCommon.ViewModel.Interface.Registration;
@model RegNotProducerViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h3>Регистрация</h3>

    <hr />

    @using (Html.BeginForm("CustomRegistration", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "")

        <div class="form-group">
            <label>Какие задачи и в чьих интересах предполагается решать, получив доступ к ресурсу</label>
            @Html.TextAreaFor(m => m.CompanyName, new { @class = "form-control", rows = "5" })
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        @Html.EditorFor(m => m.LastName)

        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(m => m.OtherName)
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(m => m.login)
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(m => m.PhoneNumber)
            </div>
        </div>
             
        @Html.EditorFor(m => m.Appointment)

        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-primary col-lg-12 col-sm-12 col-md-12 col-xs-12" value="Запрос на регистрацию" />
        </div>
        <div class="form-group">
            <a href="~/Registration/Index">Я уже регистрировался</a>
        </div>
        <div class="form-group">
            <a href="~/Registration/PasswordRecovery">Забыли пароль?</a>
        </div>
    }
</div>