@using ProducerInterfaceCommon.ViewModel.Interface.Registration;
@model RegDomainViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <h3>Регистрация нового пользователя от производителя @Model.ProducerName</h3>

    <hr />

    @using (Html.BeginForm("DomainRegistration", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(m => m.Producers)
         
        <div class="form-group">
            <label>Email (введите имя и выберите доменное имя)</label>
            <div class="input-group">
                @Html.EditorFor(m => m.Mailname)
                <div class="input-group-btn" style="min-width: 175px;">
                    @Html.EditorFor(m => m.EmailDomain)
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Mailname)
            @Html.ValidationMessageFor(model => model.EmailDomain)


        </div>

        <div class="form-group">
            <a data-toggle="modal" data-target="#myModal" class="btn btn-primary"><span class="glyphicon glyphicon-envelope"></span> Домена нет в списке (обратная связь)</a>
        </div>

        @Html.EditorFor(m => m.LastName)
        <div class="row">
            <div class="col-xs-6">
                @Html.EditorFor(m => m.FirstName)
            </div>
            <div class="col-xs-6">
                @Html.EditorFor(m => m.OtherName)
            </div>
        </div>

        @Html.EditorFor(m => m.PhoneNumber)
        @Html.EditorFor(m => m.AppointmentId)

        <br />

            <div class="form-group">
                <input type="submit" class="btn btn-primary col-lg-12 col-sm-12 col-md-12 col-xs-12" value="Регистрация" />
            </div>
            <div class="form-group">
                <a href="~/Registration/Index">Я уже регистрировался</a>
            </div>
            <div class="form-group">
                <a href="~/Registration/PasswordRecovery">Забыли пароль?</a>
            </div>

    }
</div>

@section JavaScript{
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/WorkPlace/InitRegistrationAddAppointment.js"></script>
}
