@model System.Data.DataSet

@{
    var data = Model.Tables["Data"];
    var headers = Model.Tables["Headers"];
    var title = Model.Tables["Titles"].Rows[0][0].ToString();
    ViewBag.Title = title;
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var jobName = (string)ViewData["jobName"];
}

<h2>@title</h2>

<div style="margin-bottom: 1em;">@Html.ActionLink("Сохранить в Excel", "GetFile", new { jobName = jobName })</div>

<div>
    <ul>
        @foreach (System.Data.DataRow row in headers.Rows)
        {
            <li>@row[0].ToString()</li>
        }
    </ul>

    <table border="1">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn col in data.Columns)
                {
                    <th>@col.Caption</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in data.Rows)
            {
                <tr>
                    @foreach (var cell in row.ItemArray)
                    {
                        <td>@cell.ToString()</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
