@using ProducerInterfaceCommon.ContextModels
@model IEnumerable<jobextendwithproducer>

@{
  Layout = null;
}


@if (Model != null && Model.Any())
{
@Html.Partial("Partial/Pager")
<table class="table-bordered table-striped table-responsive" id="table-width-100prc">
    <tr>
        <th class="th_275"><label>Название</label></th>
        <th><label>Активен</label></th>
        <th>
            <label>Тип</label>
        </th>
        <th>
            <label>Расписание</label>
        </th>
        <th>
            <label>Производитель</label>
        </th>
        <th>
            <label>Создана</label>
        </th>
        <th>
            <label>Запуск</label>
        </th>
        <th><label>История запусков</label></th>
        <th colspan="2"><label>Посл.отчет</label></th>
      
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td class="td_275">
            @Html.DisplayFor(modelItem => item.CustomName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReportTypeEnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scheduler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProducerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastRun)
        </td>
        <td>@Html.ActionLink("История запусков", "RunHistory", new { jobName = item.JobName })</td>
        <td> @Html.ActionLink("Просмотр", "DisplayReport", new { jobName = item.JobName })</td>
        <td> @Html.ActionLink("Загрузить", "GetFile", new { jobName = item.JobName })</tr>
    }
</table>
<br />
}
else
{
<h4>Отчетов не найдено</h4>
}

