@using ProducerInterfaceCommon.ContextModels
@model IEnumerable<jobextendwithproducer>

@{
  Layout = null;
}


@if (Model != null && Model.Any())
{
@Html.Partial("Partial/Pager")
<table class="table table-bordered table-striped" id="table-width-100prc">
    <tr>
        <th class="th_275">Название</th>
        <th>Активен</th>
        <th>Тип</th>
        <th>Формировать отчет</th>
        <th>Производитель</th>
        <th>Создана</th>
        <th>Запуск</th>
        <th>История запусков</th>
        <th colspan="2">Посл.отчет</th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="td_275">
                @Html.DisplayFor(modelItem => item.CustomName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTypeEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scheduler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastRun)
            </td>
            <td>@Html.ActionLink("История запусков", "RunHistory", new { jobName = item.JobName })</td>
            @if (item.DisplayStatusEnum == DisplayStatus.Ready) {
                <td> @Html.ActionLink("Просмотр", "DisplayReport", new { jobName = item.JobName })</td>
                <td> @Html.ActionLink("Загрузить", "GetFile", new { jobName = item.JobName })</td>
            }
            else {
                <td></td>
                <td></td>
            }
        </tr>
    }
</table>
<br />
}
else
{
<h4>Отчетов не найдено</h4>
}

