@using AnalitFramefork.Components
@using AnalitFramefork.Extensions
@using ProducerInterface.Models
@model dynamic

@{
	var pager = ViewBag.Filter as ModelFilter<DrugDescriptionRemark>;
	var models = pager.GetItems();
}
<div class="panel panel-default panel-dark">
	<form>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-2">Статус</div>
				<div class="col-sm-2">@pager.FormFilter(i => i.Status, HtmlType.Dropdown, ComparsionType.Equal, new { @class = "form-control", @style = "min-width:280px;" })</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-1">
					@pager.SubmitButton(new { @class = "btn btn-success btn-sm" })
				</div>
				<div class="col-sm-1">
					@pager.CleanButton(new { @class = "btn btn-success btn-sm" })
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
	<table class="table table-bordered " role="grid">
		<thead>
		<tr role="row">
			<th><a href="@pager.OrderBy(s => s.Id)">Номер</a></th>
			<th><a href="@pager.OrderBy(s => s.ProducerUser.Email)">Пользователь</a></th>
			<th><a href="@pager.OrderBy(s => s.ProducerUser.Email)">Статус</a></th>
			<th><a href="@pager.OrderBy(s => s.ProducerUser.Email)">Время смены статуса</a></th>
			<th><a href="@pager.OrderBy(s => s.CreationDate)">Время создания</a></th>
			<th>Действия</th>
		</tr>
		</thead>
		<tbody>
		@{ string odd = null; }
		@foreach (var item in models)
		{
			odd = odd == "even" ? "odd" : "even";
			<tr role="row" class="@odd">
				<td>@item.Id</td>
				<td>@item.ProducerUser.Email</td>
				<td>@item.Status.GetDescription()</td>
				<td>@item.ModificationDate</td>
				<td>@item.CreationDate</td>
				<td>
					<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("EditDrugDescriptionRemark", new {id = item.Id})">
						<i class="entypo-pencil"></i>
						Просмотр
					</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>


