@using AnalitFramefork.Helpers
@using ProducerInterface.Models

@{
	ViewBag.Title = "Дополнить описание препарата";
	var drugDescriptionRemark = ViewBag.DrugDescriptionRemark as DrugDescriptionRemark;
}
<form class="forn-bordered" method="POST">
	<div class="row">
		<h4>
			<b>Наименование @(drugDescriptionRemark.Name != drugDescriptionRemark.DrugFamily.DrugDescription.Name ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Name</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Name</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Английское наименование @(drugDescriptionRemark.EnglishName != drugDescriptionRemark.DrugFamily.DrugDescription.EnglishName ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.EnglishName</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.EnglishName</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Формакологическое действие @(drugDescriptionRemark.PharmacologicalAction != drugDescriptionRemark.DrugFamily.DrugDescription.PharmacologicalAction ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.PharmacologicalAction</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.PharmacologicalAction</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Состав @(drugDescriptionRemark.Composition != drugDescriptionRemark.DrugFamily.DrugDescription.Composition ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Composition</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Composition</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Показания к применению @(drugDescriptionRemark.IndicationsForUse != drugDescriptionRemark.DrugFamily.DrugDescription.IndicationsForUse ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.IndicationsForUse</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.IndicationsForUse</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Способ применения и дозы @(drugDescriptionRemark.Dosing != drugDescriptionRemark.DrugFamily.DrugDescription.Dosing ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Dosing</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Dosing</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Взаимодействие @(drugDescriptionRemark.Interaction != drugDescriptionRemark.DrugFamily.DrugDescription.Interaction ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Interaction</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Interaction</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Побочные эффекты @(drugDescriptionRemark.SideEffect != drugDescriptionRemark.DrugFamily.DrugDescription.SideEffect ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.SideEffect</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.SideEffect</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Предостережения и противопоказания @(drugDescriptionRemark.Warnings != drugDescriptionRemark.DrugFamily.DrugDescription.Warnings ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Warnings</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Warnings</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Форма выпуска @(drugDescriptionRemark.ProductForm != drugDescriptionRemark.DrugFamily.DrugDescription.ProductForm ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.ProductForm</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.ProductForm</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Условия хранения @(drugDescriptionRemark.Storage != drugDescriptionRemark.DrugFamily.DrugDescription.Storage ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Storage</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Storage</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Срок годности @(drugDescriptionRemark.Expiration != drugDescriptionRemark.DrugFamily.DrugDescription.Expiration ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Expiration</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Expiration</div>
		</div>
	</div>
	<div class="row">
		<h4>
			<b>Дополнительно @(drugDescriptionRemark.Description != drugDescriptionRemark.DrugFamily.DrugDescription.Description ? "(Изменено)" : "")</b>
		</h4>
		<div>
			<div class="col-sm-6">@drugDescriptionRemark.Description</div>
			<div class="col-sm-6">@drugDescriptionRemark.DrugFamily.DrugDescription.Description</div>
		</div>
	</div>

	<div class="clearfix"></div>
	@if (drugDescriptionRemark.Status == DrugDescriptionRemarkStatus.New)
	{
		<div class="buttons-box clearfix">
			<button type="submit" name="accept" value="true" class="btn btn-success">Принять</button>
	<button type="submit" name="accept" value="false" class="btn btn-red">Отменить</button>
			</div>
			}
</form>
<form action="@Url.Action("DeclineDrugDescriptionRemark", new {id = drugDescriptionRemark.Id})" method="POST">
	
</form>