<div class="navbar navbar-fixed-top navbar-inverse" id="MenuPU">
	<div class="navbar-header navbar-left">
			<button type="button" class="navbar-toggle navbar-left col-lg" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			</button>
	</div>

	<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
					<li><a href="~/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>
			</ul>

			<ul class="nav navbar-nav navbar-left" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp; Разделы сайта</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index", "ProducerInformation")">Статистика по производителям</a></li>
									<li><a href="@Url.Action("Index", "Promotion")">Акции</a></li>
									<li><a href="@Url.Action("Index","Report")">Отчеты</a></li>
									<li><a href="@Url.Action("ReportDescription", "Report")">Свойства отчетов</a></li>
									<li><a href="@Url.Action("Index","Mail")">Шаблоны писем</a></li>
									<li><a href="@Url.Action("Index","Slide")">Слайдер</a></li>
							</ul>
					</li>
			</ul>
			<ul class="nav navbar-nav navbar-left" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Новости</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index","News")">Список новостей</a></li>
									<li><a href="@Url.Action("Archive","News")">Архив новостей</a></li>
									<li><a href="@Url.Action("Create","News")">Создать</a></li>
							</ul>
					</li>
			</ul>

			<ul class="nav navbar-nav navbar-left" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-cog"></span>&nbsp; Администрирование</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index","LogCatalog")">Запросы правок каталога</a></li>
									<li><a href="@Url.Action("Index","LogUserChange")">Логи изменений</a></li>
									<li><a href="@Url.Action("Index","GoToProducerInterface")">Вход в Интерфейс производителя</a></li>
									<li><a href="@Url.Action("domainlist","ProducerInformation")">Управление доменами</a></li>
									<li><a href="@Url.Action("Index", "Appointment")">Управление должностями</a></li>
							</ul>
					</li>
			</ul>

			<ul class="nav navbar-nav navbar-left" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-envelope"></span>&nbsp; Обращения пользователей</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index","Feedback2")">Обратная связь</a></li>
							</ul>
					</li>
			</ul>

			<ul class="nav navbar-nav navbar-left" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Управление пользователями (Интерфейс производителя)"> <span class="glyphicon glyphicon-user"></span>&nbsp; Пользователи</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index","PermissionUser")">Список пользователей</a></li>
									<li><a href="@Url.Action("AdminList","PermissionUser")">Список администраторов</a></li>
									<li><a href="@Url.Action("Group","PermissionUser")">Список групп</a></li>
									<li><a href="@Url.Action("ListPermission","PermissionUser")">Список прав</a></li>
									<li><a href="@Url.Action("CreateGroup","PermissionUser")">Создать группу</a></li>
							</ul>
					</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" role="navigation">
					<li class="dropdown" id="dropdownmenu">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown" title="Мой профиль/Выход"><span class="glyphicon glyphicon-user"></span>&nbsp; @ViewBag.CurrentUser.Login</a>
							<ul class="dropdown-menu">
									<li><a href="@Url.Action("Index","AdminAccount")">Мой профиль</a></li>
									<li><a href="@Url.Action("LogOut","Registration")">Выход</a></li>
							</ul>
					</li>
			</ul>
	</div>
</div>
