@using AnalitFramefork.Mvc
@using ReportsControlPanel.Models

@{
	GeneralReport generalReport = ViewBag.GeneralReport;
	BaseController controller = ViewBag.Controller;
}

<div class="panel panel-primary">
	<div class="panel-body">
		<div class="col-md-6">
			@using (@Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal" }))
			{
				@Html.HiddenFor(i => generalReport.Id)
				<div class="form-group ">
					<label class="col-sm-3 control-label">Название</label>
					<div class="col-sm-5">
						@Html.TextBoxFor(i => generalReport.Title, new { @class = "form-control form" })
						@ViewBag.Validation.GetError(generalReport, "Title")
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-3 control-label">Плательщик</label>
					<div class="col-sm-5">
						@Html.HiddenFor(i => generalReport.Payer.Id, new { @class = "payerId" })
						<input type="text" value="@(generalReport.Payer != null ? @generalReport.Payer.Name : "")" class="findPayer form-control" autocomplete="off" />
						@ViewBag.Validation.GetError(generalReport, "Payer")
					</div>
				</div>
				<div class="form-group ">
					<label class="col-sm-3 control-label">Включен</label>
					<div class="col-sm-5">
						@Html.CheckBoxFor(i => generalReport.Enabled, new { @class = "form-control form" })
						@ViewBag.Validation.GetError(generalReport, "Title")
					</div>
				</div>
				<div class="form-group ">
					<button class="btn btn-green" type="submit">@controller.IfEdit("Изменить","Сохранить")</button>
				</div>
			}
		</div>
	</div>
</div>

<div class="form-group">
	<a class="btn btn-blue" href="@controller.GetIndexActionUrl()">
		Назад
	</a>
</div>

