@using System.Activities.Statements
@using System.Globalization
@using AnalitFramefork.Components
@using AnalitFramefork.Extensions
@using AnalitFramefork.Hibernate.Models
@using Microsoft.Win32.TaskScheduler

@{
	GeneralReport report = ViewBag.Report;
	var daysofweek = Enum.GetNames(typeof(DayOfWeek)).ToList();
	var sunday = daysofweek.First();
	daysofweek.RemoveAt(0);
	daysofweek.Add(sunday);
	ReportExecuteForm reportExecuteForm = ViewBag.ReportExecuteForm;
    var reportStatus = reportExecuteForm.GetReportStatus(report);
    var needToBlockControls = reportStatus == ReportExecutionStatus.InProgress ? true : false;
    var additionalButtonHtml = needToBlockControls ? "disabled='disabled'" : "";
}

<div class="panel panel-default panel-dark">
	<div class="panel-body">
		<span>Команда</span>
		<span>@report.GetCommandText()</span>
	</div>
	<div class="panel-body">
		<span>Рабочая папка</span>
		<span>@report.GetFolderPath()</span>
	</div>
	<div class="panel-body">
		<span>Состояние</span>
	    <span class="status">
			<b>@reportStatus.GetDescription()</b>
		</span>
        <div class="hidden reportId">@report.Id</div>
        <div class="hidden lastExecutionDate">@reportExecuteForm.GetLastExecutionDate(report)</div>
	</div>
</div>


<div class="panel panel-default panel-dark">
	<div class="panel-heading">
		<div class="panel-title">
			<span>Единоразовый запуск отчета</span>
		</div>
	</div>
	<div class="panel-body">
		<form  method="post" class="form form-horizontal">
		<div class="form-group">
			<label class="col-sm-1">От</label>
			<div class="col-sm-1">
				@Html.TextBoxFor(i => reportExecuteForm.StartTime, "{0:dd.MM.yyyy}", new { @data_format = "dd.mm.yyyy", @class = "datepicker form-control"})
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-1">До</label>
			<div class="col-sm-1">
					@Html.TextBoxFor(i => reportExecuteForm.EndTime, "{0:dd.MM.yyyy}", new { @data_format = "dd.mm.yyyy", @class = "datepicker form-control"})
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-1"></div>
			<div class="col-sm-3">
				<div class="div">
					@Html.RadioButtonFor(i => reportExecuteForm.UseEmailList, false)
					<span>Выслать на @reportExecuteForm.UserEmail</span>
				</div>
				<div class="div">
					@Html.RadioButtonFor(i => reportExecuteForm.UseEmailList, true)
					<span>Использовать список</span>
				</div>
			</div>
		</div>
			
			<div class="form-group">
				<label class="col-sm-1">Адреса</label>
				<div class="col-sm-3">
					@Html.TextAreaFor(i => reportExecuteForm.Emails, new { @class = "form-control"})
					@Html.HiddenFor(i => reportExecuteForm.UserEmail)
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-5">
					<button type="submit" @additionalButtonHtml  class="btn btn-green run" name="reportExecuteForm.Execute" value="true">Запустить отчет</button>
					<button type="submit"  class="btn btn-blue" name="reportExecuteForm.Execute" value="false">Отправить готовый отчет</button>
				</div>
			</div>
			</div>
		</form>
	</div>
</div>
	<div class="panel panel-default panel-dark">
		<div class="panel-heading">
			<div class="panel-title">
				<span>Еженедельные расписания</span>
				<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateWeeklySchedule", "GeneralReports", new {id = report.Id})">
					<i class="entypo-plus-circled"></i>
					Добавить
				</a>
				<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("ExecuteReport", "GeneralReports", new {id = report.Id})">
					<i class="entypo-play"></i>
					Запустить отчет
				</a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			@foreach (var schedule in report.WeeklySchedules)
			{
				<tr class="">
					<td>@schedule.Hour:@schedule.Minute.ToString("D2")</td>
					@foreach (var name in daysofweek)
					{
						var dayofweek = (DayOfWeek)Enum.Parse(typeof(DayOfWeek), name);

						<td>
							<div>
								<input type="checkbox" disabled="disabled" @(schedule.Days.Contains(dayofweek) ? "checked='checked'" : "") />
								<span>@DateTimeFormatInfo.CurrentInfo.GetDayName(dayofweek)</span>
							</div>
						</td>
				}
					<td>
						<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditWeeklySchedule", "GeneralReports", new {id = report.Id, scheduleId = schedule.Id})">
							<i class="entypo-pencil"></i>
							Изменить
						</a>
						<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteWeeklySchedule", "GeneralReports", new {id = report.Id, scheduleId = schedule.Id})">
							<i class="entypo-cancel-circled"></i>
							Удалить
						</a>
					</td>
				</tr>
			}
		</table>
	</div>

	<div class="panel panel-default panel-dark">
		<div class="panel-heading">
			<div class="panel-title">
				<span>Ежемесячные расписания</span>
				<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateMonthlySchedule", "GeneralReports", new {id = report.Id})">
					<i class="entypo-plus-circled"></i>
					Добавить
				</a>
			</div>

		</div>
		<table class="table table-striped table-bordered">
			@foreach (var schedule in report.MonthlySchedules)
			{
				<tr class="">
					<td>@schedule.Hour:@schedule.Minute.ToString("D2")</td>
					<td>
						<div>
							@{ var j = 1;}
							@foreach (var name in Enum.GetNames(typeof(MonthsOfTheYear)))
							{
								var month = (MonthsOfTheYear)Enum.Parse(typeof(MonthsOfTheYear), name);
								if (j > 12)
								{
									continue;
								}
								<span>
									<input type="checkbox" disabled="disabled" @(schedule.Months.Contains(month) ? "checked='checked'" : "") />
									<span>@DateTimeFormatInfo.CurrentInfo.GetMonthName(j++)</span>
								</span>
							}
						</div>
						<div>
							@for (var i = 1; i <= 31; i++)
							{
								var checkd = schedule.Days.Contains(i) ? "checked='checked'" : "";
								<input type='checkbox' disabled="disabled" @checkd value="@i" />
								<span>@i</span>
							}
						</div>
					</td>
					<td>
						<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("EditMonthlySchedule", "GeneralReports", new {id = report.Id, scheduleId = schedule.Id})">
							<i class="entypo-pencil"></i>
							Изменить
						</a>
						<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteMonthlySchedule", "GeneralReports", new {id = report.Id, scheduleId = schedule.Id})">
							<i class="entypo-cancel-circled"></i>
							Удалить
						</a>
					</td>
				</tr>
								}
		</table>
	</div>

	<div class="panel panel-default panel-dark executions">
		<div class="panel-heading">
			<div class="panel-title">
				<span>Статистика запусков</span>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
			<th>Время начала</th>
			<th>Время завершения</th>
			<th>Статус</th>
			</thead>
			@{ var k = 0;}
			@foreach (var log in report.ReportExecuteLogs.OrderByDescending(i => i.Id))
			{
				k++;
				if (log.StartTime <= SystemTime.Now().AddMonths(-1) || k > 10)
				{
					break;
				}

				<tr class="">
					<td>@log.StartTime</td>
					<td>@log.EndTime</td>
					<td>@(log.IsFailed ? "Ошибка" : "Успех")</td>
				</tr>
			}
		</table>
	</div>

	<div class="panel panel-default panel-dark">
		<div class="panel-heading">
			<div class="panel-title">
				<span>Статистика отсылки отчета</span>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
			<th>Дата</th>
			<th>Email</th>
			<th>SMTPID</th>
			</thead>
			@{ k = 0;}
			@foreach (var log in report.ReportSendLogs.OrderByDescending(i => i.Id))
			{
				k++;
				if (k > 10 || log.Time <= SystemTime.Now().AddMonths(-2))
				{
					break;
				}

				<tr class="">
					<td>@log.Time</td>
					<td>@log.Email</td>
					<td>@log.SMTPID</td>
				</tr>
			}
		</table>
	</div>
