@{
    ViewBag.Title = "Home Page";
    var user = ViewBag.CurrentUser;
    Layout = null;
}
<html>
<head>
    <title>Аналит @ViewBag.Title</title>

    <link href="~/Content/Chosen/css/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")  
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
</head>
<body>

    <div class="server-message" style="font-size:1.5em; text-align:center;"></div>

    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="container">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("Index","Home")" class="navbar-brand">
                        <img class="image-brand" src="~/Content/Image/aflogo.png" />
                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        @*<li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span> Главная</a></li>*@
                        @if (user != null)
                        {
                            <li><a href="~/Report/JobList/"><span class="glyphicon glyphicon-th-list"> </span> Отчеты</a></li>
                            <li><a href="~/Promotion/"><span class="glyphicon glyphicon-star-empty"> </span> Акции</a></li>
                            <li><a href="~/Drug/Index/"><span class="glyphicon glyphicon-align-justify"> </span> Описания препаратов</a></li>
                        }
                    </ul>

                    @if (user != null)
            {
                        <ul class="nav navbar-nav navbar-right" role="navigation">
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>&nbsp; @user.Email</a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/Profile/Index">Кабинет производителя</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/UserPermission/Index">Редактирование прав</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("ChangePassword","Registration")">Сменить пароль</a></li>
                                    <li class="divider"></li>
                                    <li><a href="~/Registration/LogOut">Выход</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right" role="navigation">

                            <li><a href="@Url.Action("Registration", "Registration")"><span class="glyphicon glyphicon-ok-sign" style="margin-right:0.5em;"></span> Регистрация</a></li>
                            <li class="dropdown">

                                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user" style="margin-right:0.5em;"></span> Вход на сайт <span class="caret"></span>
                                </a>
                                @Html.Partial("LoginPartialView")
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>


            <div class="container-fluid" style="margin-top:0px; padding:0px;">
                <div id="myCarousel3" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel3" data-slide-to="1"></li>
                        <li data-target="#myCarousel3" data-slide-to="2"></li>
                        <li data-target="#myCarousel3" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <!-- 1 слайд -->
                        <div class="item active">
                            <div class="container center-block">
                                <h3 class="text-center">Амбробене</h3>
                                <hr />
                                <p>
                                    Муколитический и отхаркивающий препарат.
                                    Амброксол - активный метаболит бромгексина улучшает реологические свойства мокроты, уменьшает ее вязкость и адгезивные свойства, способствуя ее выведению из дыхательных путей.
                                    Амброксол стимулирует активность серозных клеток желез оболочки бронхов, выработку ферментов, расщепляющих связи между полисахаридами мокроты,
                                    образование сурфактанта и непосредственно активность ресничек бронхов,
                                    препятствуя их слипанию.
                                    После приема внутрь терапевтический эффект наступает через 30 мин и сохраняется в течение 6-12 ч (в зависимости от принятой дозы).
                                    При парентеральном введении действие препарата наступает быстро и продолжается в течение 6-10 ч.
                                </p>
                                <hr />
                            </div>
                        </div>
                        <!-- 2 слайд -->
                        <div class="item">
                            <div class="container center-block">
                                <h3 class="text-center">Модэль МАМ</h3>
                                <hr />
                                <p>
                                    Гестагенсодержащий пероральный контрацептив. Подобно другим гестагенсодержащим пероральным контрацептивным средствам,
                                    препарат Модэлль Мам показан для применения во время грудного вскармливания и для женщин, которым противопоказаны или которые не хотят принимать эстрогены.
                                    В отличие от других гестагенсодержащих препаратов контрацептивный эффект препарата Модэлль Мам достигается в основном за счет подавления овуляции,
                                    а также увеличения вязкости секрета шейки матки.
                                    При применении препарата Модэлль Мам в первые 56 дней частота овуляции не превышает 1%,
                                    после прекращения 56-дневного приема препарата овуляция происходит через 7-30 дней (в среднем через 17 дней).
                                    Индекс Перля препарата Модэлль Мам (показатель, отражающий частоту наступления беременности у 100 женщин в течение года применения контрацептивного средства) составляет 0.4,
                                    что сопоставимо с индексом Перля комбинированных пероральных контрацептивов (КПК) в общей популяции принимающих пероральные контрацептивные препараты.
                                    Прием препарата Модэлль Мам приводит к снижению концентрации эстрадиола в плазме крови до значений, соответствующих ранней фолликулярной фазе.
                                    При этом не выявлено клинически значимых изменений со стороны углеводного, липидного обмена и показателей гемостаза.
                                </p>
                                <hr />
                            </div>
                        </div>
                        <!-- 3 слайд -->
                        <div class="item">
                            <div class="container">
                                <h3 class="text-center">Кромоглин</h3>
                                <hr />
                                <p>
                                    Противоаллергическое средство, стабилизатор мембран тучных клеток. Тормозит высвобождение гистамина, лейкотриенов и других биологически активных веществ из тучных клеток.
                                    Полагают, что задержка высвобождения медиаторов происходит в результате непрямой блокады проникновения ионов кальция в клетки. Установлено,
                                    что кромоглициевая кислота подавляет миграцию нейтрофилов, эозинофилов, моноцитов.
                                    Предупреждает астматические реакции немедленного и замедленного типа после вдыхания аллергенов и неантигенных раздражителей.
                                </p>
                                <hr />
                            </div>
                        </div>
                        <!-- 4 слайд -->
                        <div class="item">
                            <div class="container">
                                <h3 class="text-center">Лозартан</h3>
                                <hr />
                                <p>
                                    Антигипертензивное средство. Является непептидным блокатором рецепторов ангиотензина II.
                                    Обладает высокой селективностью и аффинитетом к рецепторам типа AT1 (при участии которых реализуются основные эффекты ангиотензина II).
                                    Блокируя указанные рецепторы, лозартан предупреждает и устраняет сосудосуживающее действие ангиотензина II,
                                    его стимулирующее влияние на секрецию альдостерона надпочечниками и некоторые другие эффекты ангиотензина II. Характеризуется длительным действием (24 ч и более),
                                    что обусловлено образованием его активного метаболита.
                                </p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <!-- Система навигации для карусели, с помощью которой осуществляется переход на предыдущий и следующий слайд -->
                    <h1 class="carousel-control left" href="#myCarousel3"
                        data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </h1>
                    <h1 class="carousel-control right" href="#myCarousel3"
                        data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </h1>
                </div>
            </div>

    <div class="body-content container">
        <div class="row">
            <div class="jumbotron">
                <p>ed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
            </div>
        </div>
    </div>


            <footer class="panel-footer navbar-fixed-bottom">
                <center>
                    <p>&copy; @DateTime.Now.Year – Аналит Фармация | Телефон:8-800-555-46-88</p>
                </center>
            </footer>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            @Scripts.Render("~/bundles/jqueryval")

            <script src="~/Scripts/WorkPlace/Analit.js"></script>
            <script src="~/Scripts/WorkPlace/ZAnalit.js"></script>

            <script type="text/javascript">
                $('#myCarousel3').carousel('cycle');
            </script>

</body>

</html>



