
@using ProducerInterfaceCommon.ViewModel.ControlPanel.Promotion;
@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Models
@model SearchProducerPromotion

@{
    ViewBag.Title = "Промоакции";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    var listStatus = new List<SelectListItem>();
    listStatus.AddRange(EnumHelper.GetSelectList(typeof(ActualPromotionStatus)));

    var producerList = ViewBag.ProducerList as IEnumerable<OptionElement>;
}

<div class="row">
    <h2 class="col-xs-2">Промо-Акции</h2>
    <a data-toggle="modal" data-target="#FilterModal" class="pointer col-xs-2 btn btn-primary btn-sm" style="margin-top:2em;">Фильтр</a>
</div>

<div class="body-content">
    <div class="row">
        <div id="loadingdata" class="row" style="display:none;">
            <div class="col-xs-12">
                <h3><span class="glyphicon glyphicon-time"></span>&nbsp; Ожидайте, осуществляется поиск</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" id="replacecontent">
                @Html.Action("SearchResult", Model)
            </div>
        </div>

    </div>
</div>

<div id="FilterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" id="feedback_modal_content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">Закрыть</button>
                <h4 class="modal-title">Фильтр</h4>
            </div>

            <div class="modal-body" id="ModalBodyId">
                @using (Ajax.BeginForm("SearchResult", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "replacecontent", OnBegin = "LoadingResult", OnSuccess = "LoadingResultCompleted" }))
                {
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Производитель</label>

                                <select id="Producer" name="Producer" class="form-control">
                                    @foreach (var item in producerList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>

                            </div>

                            <div class="form-group">
                                <label>Статус</label>

                                <select id="Status" name="Status" class="form-control">
                                    @foreach (var item in listStatus)
                                    {
                                        if (item.Value == Model.Status.ToString())
                                        {
                                            <option value="@item.Value" selected="selected">@item.Text</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    }
                                </select>

                            </div>

                            <div class="form-group">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(m => m.EnabledDateTime, new { @onchange = "ShowOrHideDateTime()" })
                                    <span>Не учитывать даты от-до</span>
                                </label>
                            </div>

                            <div class="row" id="datepickers">

                                <div class="col-xs-12">
                                    <label>Период действия акции входит в заданный диапазон дат</label>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Дата начала</label>
                                        <input type="text" id="Begin" name="Begin" class="form-control" readonly style="max-width:15em; cursor:pointer;" value="@Model.Begin.ToString("dd.MM.yyyy")" />
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>Дата окончания</label>
                                        <input type="text" id="End" name="End" class="form-control" readonly style="max-width:15em; cursor:pointer;" value="@Model.End.ToString("dd.MM.yyyy")" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input value="Применить" class="btn btn-primary btn-sm" type="submit" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/WorkPlace/Promotion_Index.js"></script>
}
