
@using ProducerInterfaceCommon.ContextModels;
@model ProducerInterfaceCommon.ContextModels.SearchProducerPromotion

@{
    ViewBag.Title = "Промоакции";
    Layout = "~/Views/Shared/_MasterPage.cshtml";

    var listStatus = new List<SelectListItem>();
    listStatus.AddRange(EnumHelper.GetSelectList(typeof(PromotionStatus)));

    var ProducerList =  ViewBag.ProducerList as IEnumerable<OptionElement>;
}

<h2>Промо-Акции</h2>

<div class="body-content">
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <a href="#FiltersMenu" data-toggle="collapse" class="btn btn-primary">Фильтр</a>
                <div id="FiltersMenu" class="collapse">

                    <div class="form-group">
                        <label>Производитель</label>
                        @Html.DropDownList(Model.Producer.ToString(), new SelectList(ProducerList, "Value", "Text", Model.Producer), new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Статус</label>
                        @Html.DropDownList(Model.Status.ToString(), listStatus, new { @class = "form-control" })
                    </div>


                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Дата начала</label>
                                @Html.TextBoxFor(m => m.Begin, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Дата окончания</label>
                                @Html.TextBoxFor(m => m.End, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-xs-12" id="replacecontent">
        @Html.Action("SearchResult", Model);

    </div>
</div>

@section scripts
{

    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>

    <script type="text/javascript">
        $(function () {
            var dateFrom = $('#Begin').datepicker({
                format: 'dd.mm.yyyy',
                language: 'ru',
                weekStart: 1,
                autoclose: true,
                onRender: function (date) {
                    return date.valueOf() > Date.now() ? 'disabled' : '';
                }
            }).on('changeDate', function (ev) {
                //$('#DateToUI')[0].focus();
            }).data('datepicker');

            var dateTo = $('#End').datepicker({
                format: 'dd.mm.yyyy',
                autoclose: true,
                language: 'ru',
                weekStart: 1,
                onRender: function (date) {
                    //return date.valueOf() <= dateFrom.date.valueOf() ? 'disabled' : '';
                    return date.valueOf() > Date.now() ? 'disabled' : '';
                }
            }).data('datepicker');
        });
    </script>


}