@model IEnumerable<ProducerInterfaceCommon.LoggerModels.logchangeview>
@using ProducerInterfaceCommon.LoggerModels;
@{
    ViewBag.Title = "Логирование изменений базы данных";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Лог изменений БД</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3"><h3 class="headText">@ViewBag.Title</h3></div>
</div>
<hr />

@Html.Partial("Partial/PagerPArtial")

@if (Model != null && Model.Any())
{

<table class="table-bordered table-striped" id="Table-LogUserChange">

    <tr>
        @*<th>Id</th>*@
        <th>Дата изменения</th>
        <th>Пользователь</th>
        <th>Производитель</th>
        <th>Действие</th>
        <th>Операция</th>
        <th>Объект</th>
        <th>Подробнее</th>
    </tr>



@foreach (var LogChangeItem in Model)
{
    <tr>
        @*<td>@LogChangeItem.ChangeSetId</td>*@
        <td>@LogChangeItem.Timestamp</td>
        <td>@LogChangeItem.UserName (@LogChangeItem.Email)</td>
        <td>@LogChangeItem.ProducerName</td>
        <td>@LogChangeItem.Description</td>
       <td>@LogChangeItem.EntityCommandEnum.GetDescription()</td>
        <td>@LogChangeItem.TypeDisplayName</td>
        <td>
        <a href="~/LogUserChange/ReadMore/@LogChangeItem.ChangeObjectId"><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
    </tr>
}

</table>
}
else
{
<h4>Список логов пуст</h4>
}