@using ProducerInterfaceCommon.ContextModels

@{
    ViewBag.Title = "Список пользователей из вашей компании";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li class="active">Сотрудники</li>
</ol>
    <h3>Сотрудники</h3>

    @foreach (var User in ViewBag.UserList)
    {

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseTwo_@User.Id"><span class="glyphicon glyphicon-user"></span> @User.Name @User.Login</a>
                </h4>
            </div>
            <div id="collapseTwo_@User.Id" class="panel-collapse collapse">

                <div class="panel-body">

                        @if (User.Id == ViewBag.CurrentUser.Id)
                {
                    <div class="form-group">
                        <p>
                            Это ваш профиль <strong><span class="glyphicon glyphicon-info"></span>(Свои права изменить нельзя)</strong>
                        </p>
                    </div>
                }

                    <div class="form-group">
                        <p>Список групп, в которых

                        @if (User.Id != ViewBag.CurrentUser.Id)
                        {
                        <p> cостоит пользователь</p>
                        }
                        else
                        {
                       <p> вы состоите </p>
                        }
                        </p>

                        @foreach (var GroupUser in User.AccountGroup)
                        {
                            <p>- @GroupUser.Name (@GroupUser.Description)</p>
                        }
                    </div>
                    <div class="form-group">
                        @if (User.Id != ViewBag.CurrentUser.Id)
                        {
                            <a class="btn btn-primary" href="@Url.Action("Change", new { id= User.Id})"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp; Редактировать</a>
                        }
                    </div>
                </div>
            </div>
        </div>



    <hr/>
}



