@model ProducerInterfaceCommon.Models.Report

<div class="container body-content">
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Отчеты", "Index") </li>
		<li class="active">Новый отчет</li>
	</ol>
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm()) {
				<fieldset>
					<legend>@Model.Name</legend>
					@Html.ValidationSummary(true)
					@Html.EditorFor(m => m.CastomName)
					@Html.EditorForModel()
					@Html.EditorFor(m => m.Id)
					<div class="row margin5">
						<div class="flabel col-md-4">&nbsp;</div>
						<div class="feditor col-md-8">
							<input id="btn" type="submit" value="Сохранить" class="btn btn-primary"/>
						</div>
					</div>
					@Html.Hidden("supurl", Url.Action("GetSupplierJson", "Report"))
					@Html.Hidden("caturl", Url.Action("GetConcurrentProducts", "Ajax"))
				</fieldset>
			}
		</div>
	</div>
</div>
@section JavaScript {
	@Scripts.Render("~/Content/Chosen/js/ajax-chosen.g.js")
	@Scripts.Render("~/Content/Chosen/js/initAddJob.js")
}
