@using ProducerInterfaceCommon.ContextModels
@model SendReport

@{
  // лист всех вариантов для построения селекта
  var propList = (List<OptionElement>)ViewData["MailToList"];
  if (Model.MailTo != null && Model.MailTo.Count > 0)
  {
      // сохранённые email
      var propListVal = propList.Select(x => x.Value).ToList();
      // новые email из модели, возможно, невалидные
      var newMail = Model.MailTo.Where(x => !propListVal.Contains(x)).Select(x => new OptionElement() { Value = x, Text = x }).ToList();
      // добавили к сохранённым email новые
      propList.AddRange(newMail);
  }

    // класс для ошибки валидации, если есть
    var errorClass = "";
    var state = ViewData.ModelState["MailTo"];
    if (state != null && state.Errors.Count > 0)
    {
        errorClass = " input-validation-error";
    }
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Отчеты", "Index") </li>
    <li class="active">Отчет</li>
</ol>
<div class="body-content">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Сохранить в Excel", "GetFile", new { jobName = Model.jobName })
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm())
            {
                @Html.Hidden("url", Url.Action("GetReport", "Report", new { jobName = Model.jobName }))
                @Html.EditorFor(m => m.jobName)
                <div class="form-group form-group-otstup">
                    <label>Отправить на email</label>
                    <div class="@("input-group" + errorClass)">
                        @Html.ListBoxFor(m => Model.MailTo, new MultiSelectList(propList, "Value", "Text", Model.MailTo), new { style = "display: none;" })
                        <span class="input-group-btn">
                            <input type="submit" value="Отправить" class="btn btn-primary w150" />
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => Model.MailTo)
                </div>
                <div class="form-group form-group-otstup">
                    <label>Дополнительные email-адреса</label>
                    <div class="input-group">
                        @Html.TextBox("addMail", null, new { @class = "form-control", @placeholder = "Email" })
                        <span class="input-group-btn">
                            <input id="addBtn" name="addBtn" type="button" value="Добавить" class="btn btn-primary w150" />
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr/>
    <div class="row">
        <div id="report" class="col-md-12">
            <img src="~/Content/Image/Loading_icon.gif" width="30px"/> Загружается...
        </div>
    </div>
</div>

@section JavaScript {
    <link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/js/chosen.jquery.js"></script>
    <script src="~/Content/Chosen/js/initDisplayReport.js"></script>
}
