@using ProducerInterfaceCommon.ContextModels
@model long?

<div class="body-content">

     @{
       var descr = (List<ReportDescription>)ViewData["descr"];
       var listReport = new List<SelectListItem>();
       listReport.Add(new SelectListItem() { Value = "", Text = "Выберите тип отчета, который вы хотите создать", Selected = true });
       listReport.AddRange(descr.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }));
    }

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm()) {
                <div class="form-group">
                    <h4>Создание нового отчета</h4>

                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DropDownList("id", listReport, new { @class = "form-control" })
                            @Html.ValidationMessage("id")
                        </div>
                        <div class="col-xs-1">
                            <input id="btn" type="submit" value="Создать" class="btn btn-primary" disabled="disabled" />
                        </div>
                        <div class="col-xs-7">
                            @foreach (var d in descr) {
                                <div id="@('d' + d.Id.ToString())" class="descr" style="display: none">@d.Description</div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />

    @Html.Action("SearchResult", Model)

</div>

@section JavaScript {
    <script src="@Url.Content("~/Content/Chosen/js/initJobList.js")"></script>
    <script src="@Url.Content("~/Content/Chosen/js/forReports.js")"></script>
}


