@model ProducerInterfaceCommon.Models.CronParam

<div class="container body-content">
	<div class="row">
		<div class="col-md-12">
			@using (Html.BeginForm()) {
				<fieldset>
					<legend>@ViewBag.Title</legend>
					@Html.ValidationSummary(true)
					@Html.EditorForModel()
					<div class="row margin5">
						<div class="flabel col-md-4">
							@Html.ActionLink("Отменить", "JobList", new {r = Guid.NewGuid()}, new {@class = "btn btn-primary"})
						</div>
						<div class="feditor col-md-8">
							<input id="btn" class="btn btn-primary" type="submit" value="Применить"/>
						</div>
					</div>
				</fieldset>
			}
		</div>
	</div>
</div>

@section JavaScript {
	@Scripts.Render("~/bundles/cron")
	@Styles.Render("~/content/cron")
}
