@model ProducerInterfaceCommon.ReportModels.general_reports

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>general_reports</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirmCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirmCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Allow)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Allow)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EMailSubject)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EMailSubject)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportFileName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportFileName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReportArchName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReportArchName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ContactGroupId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ContactGroupId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Temporary)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Temporary)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TemporaryCreationDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TemporaryCreationDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PayerID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PayerID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Format)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Format)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NoArchive)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NoArchive)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OwnedByUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OwnedByUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SendDescriptionFile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SendDescriptionFile)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Public)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Public)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastSuccess)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastSuccess)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PublicSubscriptionsId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PublicSubscriptionsId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MailPerFile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MailPerFile)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GeneralReportCode }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
