@model IEnumerable<ProducerInterfaceCommon.ReportModels.general_reports>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneralReportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMailSubject)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allow)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralReportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMailSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table class="table">
                    <tr>
                        <th>ReportCaption</th>
                        <th>Enabled</th>
                    </tr>
                    @foreach (var report in item.reports.Where(x => x.Enabled))
                    {
                      <tr>
                          <td>
                              @Html.DisplayFor(m => report.ReportCaption)
                          </td>
                          <td>
                              @Html.DisplayFor(m => report.Enabled)
                          </td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              ReportTypeName: @Html.DisplayFor(m => report.reporttypes.ReportTypeName)<br/>
                              AlternateSubject: @Html.DisplayFor(m => report.reporttypes.AlternateSubject)<br />
                              ReportClassName: @Html.DisplayFor(m => report.reporttypes.ReportClassName)<br />
                              ReportTypeCode: @Html.DisplayFor(m => report.reporttypes.ReportTypeCode)<br />
                              ReportTypeFilePrefix: @Html.DisplayFor(m => report.reporttypes.ReportTypeFilePrefix)<br/>
                              @Html.ActionLink("Подробнее", "ReportDetails", new { id = report.ReportCode })
                          </td>
                      </tr>
                    }
                </table>
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
