@model ProducerInterfaceCommon.ReportModels.reports

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportDetails</title>
</head>
<body>
    <div> 
        <div>Отчет</div>
        @Html.DisplayForModel()
        <div>Тип отчета</div>
        @Html.DisplayFor(m => Model.reporttypes)
        <div>&nbsp;</div>
        @foreach (var prop in Model.report_properties)
        {
        <span><b>Name:</b></span> @Html.DisplayFor(m => prop.report_type_properties.PropertyName)<br />
        <span>DisplayName:</span> @Html.DisplayFor(m => prop.report_type_properties.DisplayName)<br />
            <span>Value:</span> @Html.DisplayFor(m => prop.PropertyValue) <br/>
            <span>Type:</span> @Html.DisplayFor(m => prop.report_type_properties.PropertyType)<br />
            if (prop.report_type_properties.PropertyType == "ENUM")
            {
            <div>Enum:</div>
            @Html.DisplayFor(m => prop.report_type_properties.property_enums.EnumName)<br />
                foreach (var en in prop.report_type_properties.property_enums.enum_values)
                {
              @(en.DisplayValue + ", " + en.Value)<br/>
                }
            }
        <span>PropertyEnumID:</span> @Html.DisplayFor(m => prop.report_type_properties.PropertyEnumID)<br />
        <div>Values:</div>
        foreach(var v in prop.report_property_values)
        {
          @Html.DisplayFor(m => v.Value)<br />
        }
        }
        <br /><br />
    </div>
</body>
</html>
