@using ProducerInterfaceCommon.ContextModels
@model AdminAutentification
@{
    ViewBag.Title = "Вход с паролем администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Главная</a></li>
    <li class="active">Авторизация</li>
</ol>
<div class="container body-content">

    <h3>@ViewBag.Title</h3>
    <hr/>

    @using (Html.BeginForm("AdminAuth", "Account", FormMethod.Post))
    {
        <div class="form-group" style="max-width:480px;">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.IdProducerUser)

            <div class="form-group">
                <label>Введите ваш логин</label>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Введите ваш пароль</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "Password" })
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Вход" />
            </div>
        </div>
    }
    </div>
