@using ProducerInterfaceCommon.ViewModel.Interface.Profile;
@model ChangePassword

@{
    ViewBag.Title = "Смена пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Смена пароля</h2>

    @using(Html.BeginForm("ChangePassword","Account",FormMethod.Post))
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(m=>m.Pass)
            @Html.TextBoxFor(m=>m.Pass, new { @class="form-control"})
            @Html.ValidationMessageFor(m=>m.Pass)

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.PassConfirm)
            @Html.TextBoxFor(m => m.PassConfirm, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PassConfirm)

        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить новый пароль" class="btn btn-primary"/>
        </div>
    }
</div>