@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<AccountFeedBack>

@{ 
    var ProducerList = ViewBag.ProducerList as IEnumerable<OptionElement>;
}

@if (Model == null || Model.Count() == 0)
{
<h4>По данному запросу ничего не найдено</h4>

}
else
{
<table class="table-bordered table-striped table-condensed table-custom">
    <tr>
        <th>Дата обращения</th>
        <th>Сообщение</th>
        <th>Тип Сообщения</th>
        <th>Страница (с которой отправлен запрос)</th>

        <th>Производитель</th>
        <th>Пользователь</th>

        <th>Контакты для связи</th>
    </tr>
    @foreach (var FeedItem in Model)
    {
        var DisplayType = ProducerInterfaceCommon.Heap.AttributeHelper.DisplayName((ProducerInterfaceCommon.ContextModels.FeedBackType)FeedItem.Type);



        <tr>
            <td>@FeedItem.DateAdd.Value.ToString("dd.MM.yyyy")</td>
            <td>@FeedItem.Description</td>
            <td>@DisplayType</td>
            <td>@FeedItem.UrlString</td>
            
            @if (FeedItem.AccountId != null)
            {
                <td>@ProducerList.Where(x => x.Value == FeedItem.Account.AccountCompany.ProducerId.ToString()).First().Text</td>
                <td>@FeedItem.Account.Login @FeedItem.Account.Name</td>                
            }
            else
            {
                <td></td><td></td>
            }

            <td>@FeedItem.Contacts</td>
        </tr>
    }
</table>
}