@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<promotions>
@{
    var ProducerList = ViewBag.ProducerList as IEnumerable<OptionElement>;
}
    <div class="row">
        <div class="col-xs-12">
            <table class="table-bordered table-striped table-condensed table-custom" style="min-width:100%;">
                <tr>
                    <th>Наименование</th>
                    <th>Статус</th>
                    <th>Аннотация</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Препараты</th>
                    <th>Поствщики</th>
                    <th>Производитель</th>
                    <th>Файл</th>
                    <th></th>                 
                </tr>

                @foreach (var Item in Model)
                {
                    <tr>
                        <td>@Item.Name</td>
                        <th>@Html.Partial("PromotionStatus", Item)</th>
                        <td>@Item.Annotation</td>
                        <td>@Item.Begin.Value.ToString("dd.MM.yyyy")</td>
                        <td>@Item.End.Value.ToString("dd.MM.yyyy")</td>
                        <td>@Item.promotionToDrug.Count()</td>
                        <td>@Item.PromotionsToSupplier.Count()</td>
                        <td>@ProducerList.Where(xx=>xx.Value == Item.ProducerId.ToString()).First().Text</td>
                        <td>
                            @if (Item.MediaFiles != null)
                            {
                                <a href="@Url.Action("GetFile",new { Id= Item.MediaFiles.Id})">@Item.MediaFiles.ImageName</a>
                            }
                        </td>
                        <td>@Html.ActionLink("Подробно", "OnePromotion", new { id=Item.Id })</td>
                    </tr>
                }

            </table>
        </div>
    </div>
