@using AnalitFramefork.Components
@using ProducerInterface.Models
@model dynamic

@{
	ViewBag.Title = "Список логов";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ModelFilter<UserLogModel> pager = ViewBag.Pager;
	var logs = pager.GetItems();
}
<div id="table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
	<table id="table-2" class="table table-bordered table-striped datatable dataTable no-footer" role="grid" aria-describedby="table-2_info">
		<thead>
		<tr role="row">
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Id)">Номер</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.ProducerUser.Id)">Номер пользователя</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.ProducerUser.Name)">Имя пользователя</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Type)">Тип события</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Date)">Дата</a>
			</th>
			<th class="sorting" tabindex="0" aria-controls="table-2">
				<a href="@pager.OrderBy(s => s.Message)">Содержание</a>
			</th>
			<th tabindex="0" aria-controls="table-2">Действие</th>
		</tr>
		</thead>

		<tbody>
		@foreach (var log in logs) {
			<tr role="row" class="odd">
				<td class="sorting_1">
					<span>@log.Id</span>
				</td>
				<td>
					<span>@(log.ProducerUser == null ? "" : log.ProducerUser.Id.ToString())</span></td>
				<td>
					<span>@(log.ProducerUser == null ? "" : log.ProducerUser.Name)</span></td>
				<td>
					<span>@log.Type.ToString()</span></td>
				<td>
					<span>@log.Date</span></td>
				<td>@(log.Message.Length > 300 ? Html.Raw(log.Message.Substring(0, 300) + "...") : Html.Raw(log.Message))</td>
				<td>
					<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("LogRegUserResultInfo", "Admin", new {log.Id, @path = Request.Url.ToString()})">
						<i class="entypo-eye"></i>
						Просмотреть
					</a>
				</td>
			</tr>
		}
		</tbody>
	</table>
	<div class="row">
		@{ Html.RenderPartial("Pagination"); }
	</div>
</div>