@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<AccountAppointment>

@{
  ViewBag.Title = "Глобальный список должностей";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Список должностей</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("GlobalAppointmentAdd", "OfficePost"))
        {
        <div class="form-group">
            <label>Добавить должность</label>
            <input type="text" id="NewNameAppointment" name="NewNameAppointment" placeholder="Наименование должности" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table-bordered table-striped table-condensed table-custom">
            <tr>
                <th>Наименование должности</th>
                <th></th>
                <th></th>
                <th>Количество пользователей</th>
            </tr>

            @foreach (var PostItem in Model)
            {
            <tr>
                <td>
                    @using (Html.BeginForm("GlobalAppointmentChange", "OfficePost"))
                    {
                        <input value="@PostItem.Id" hidden="hidden" name="idAppointment" />
                        <div class="input-group">
                            <input type="text" class="form-control max-w-10em" name="nameAppointmentName" value="@PostItem.Name"/>
                            <span class="input-group-btn">
                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                        </span>
                        </div>
                    }
                </td>
                <td>
                    @if (PostItem.GlobalEnabled)
                    {
                        @Html.ActionLink(" Сделать недоступной для выбора пользователям ", "GlobalAppointmentActivate", "OfficePost",
                        new { IdAppointment = PostItem.Id, Active = false },
                        new { @class = "btn btn-info" })
                    }
                    else
                    {
                        @Html.ActionLink(" Сделать доступной для выбора пользователям ", "GlobalAppointmentActivate", "OfficePost",
                        new { IdAppointment = PostItem.Id, Active = true },
                        new { @class = "btn btn-success" })
                    }
                </td>
                <td>
                    @Html.ActionLink(" Удалить ", "GlobalAppointmentDelete", "OfficePost",
                    new { idDelAppointment = PostItem.Id },
                    new { @class = "btn btn-danger", @onclick = "return confirm('Вы уверены, что хотите удалить должность?')" })
                </td>
                <td>
                    @PostItem.Account.Count()
                </td>
            </tr>}
        </table>
    </div>
</div>
