@model IEnumerable<ProducerInterfaceCommon.ContextModels.ListGroupView>
@{
    ViewBag.Title = "Список групп сайта";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ProducerList = ViewBag.ProducerList as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>;
    @* as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>(); *@


}
<h2>Группы созданные на сайте</h2>

<hr />

<table class="table-bordered table-condensed table-striped" id="table-width-100prc">
    <tr>
        @*<th>Id группы</th>*@
        <th>Название группы</th>
        <th>Список пользователей</th>
        <th>Список доступных Экшенов</th>
    </tr>
    @foreach (var GroupItem in Model)
    {
        <tr>     
            <td>
                <!--   Название группы   -->
                <p>@GroupItem.NameGroup</p>

                @if (GroupItem.Description == null || GroupItem.Description == "")
                {
                    <!--Описание у группы отсутствует -->
                }
                else
                {
                    <p>Описание <br />' @GroupItem.Description '</p>
                }
                <a class="btn btn-primary" href="~/PermissionUser/GetOneGroup/@GroupItem.Id">Редактировать группу</a>
            </td>
            <!--   Окончание первого столбика таблицы   -->
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#table-width-100prc" href="#ListUsercollapseOne_a_@GroupItem.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;&nbsp;Раскрыть</a>
                        </h4>
                    </div>
                    <div id="ListUsercollapseOne_a_@GroupItem.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @for (int i = 0; i < GroupItem.CountUser; i++)
                            {
                                <!--   ФИО пользователя / eMail ссылка / Название организации -->
                                <p>                                
                                    @GroupItem.Users[i] <br />
                                    <a href="@("mailto:" + GroupItem.ListUsersInGroup[i].eMail)">@GroupItem.ListUsersInGroup[i].eMail</a> <br />
                                    Компания: @ProducerList.Where(xxx => xxx.Value == GroupItem.ListUsersInGroup[i].ProducerName).First().Text
                                </p>
                                <hr />                              
                            }
                        </div>
                    </div>
                </div>
            </td>
            <!--   Окончание второго столбика таблицы   -->
            <td>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#table-width-100prc" href="#ListUsercollapseOne_@GroupItem.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;&nbsp;Раскрыть</a>
                        </h4>
                    </div>
                    <div id="ListUsercollapseOne_@GroupItem.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            @for (int i = 0; i < GroupItem.Permissions.Length; i++)
                {
                                <p>@GroupItem.Permissions[i]</p> <br />
                            }
                        </div>
                    </div>
                </div>
            </td>

        </tr>
    }
</table>
