@model IEnumerable<ProducerInterfaceCommon.ContextModels.ListGroupView>
@{
    ViewBag.Title = "Список групп сайта";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var ProducerList = ViewBag.ProducerList as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>;
    @* as IEnumerable<ProducerInterfaceCommon.ContextModels.OptionElement>(); *@


}
<h2>Группы Интерфейса производителя</h2>

<hr />

@foreach (var GroupItem in Model)
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <H4 class="panel-title">
                <p data-toggle="collapse" href="#collapse_@GroupItem.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;&nbsp;&nbsp;@GroupItem.NameGroup</p>
            </H4>
        </div>
        <div id="collapse_@GroupItem.Id" class="panel-collapse collapse">
            <div class="panel-body">
                <h4>Описание</h4> <p>' @GroupItem.Description '</p>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title" data-toggle="collapse" href="#collapse_a_@GroupItem.Id"><span class="glyphicon glyphicon-user" style="color:green;"></span>&nbsp;&nbsp;&nbsp; Список пользователей</h4>
                    </div>
                    <div id="collapse_a_@GroupItem.Id" class="panel-collapse collapse">
                        <div class="panel-body">

@foreach (var AccountItem in GroupItem.ListUsersInGroup)
{
    <p>
    <p>Email: <a href="@("mailto:"+AccountItem.eMail)">@AccountItem.eMail</a></p>
    <p>ФИО: @AccountItem.Name</p>
    <p>Компания: @AccountItem.ProducerName</p>
    </p>


}
@*
                               @for (int i = 0; i < GroupItem.CountUser; i++)
                               {
                                   <!--   ФИО пользователя / eMail ссылка / Название организации -->
                                   <p>


    @GroupItem.Users[i] <br />

       <a href="@("mailto:" + GroupItem.ListUsersInGroup[i].eMail)">@GroupItem.ListUsersInGroup[i].eMail</a> <br />
       Компания: @ProducerList.Where(xxx => xxx.Value == GroupItem.ListUsersInGroup[i].ProducerName).First().Text



                                </p>

                            }
*@
                        </div>
                    </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <H4 class="panel-title" data-toggle="collapse" href="#collapse_a_a_@GroupItem.Id"><span class="glyphicon glyphicon-sort-by-attributes-alt" style="color:green;"></span>&nbsp;&nbsp;&nbsp;Список доступов группы</H4>
                    </div>
                    <div id="collapse_a_a_@GroupItem.Id" class="panel-collapse collapse">
                        <div class="panel-body" >
                            @for (int i = 0; i < GroupItem.Permissions.Length; i++)
                            {
                                <p>@GroupItem.Permissions[i]</p>
                            }
                        </div>                     
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" href="@Url.Action("GetOneGroup", new { id=GroupItem.Id})"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;Редактировать группу</a>
                </div>
            </div>
        </div>
    </div>

}
