@using ProducerInterfaceCommon.ContextModels

@model IEnumerable<AccountPermission>

@{
    ViewBag.Title = "Список Доступов Интерфейс Производителя";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var ListPermission = Model;
}

<h2>@ViewBag.Title</h2>

<hr />

@if (Model != null || Model.Any())
{
<table class="table-bordered table-responsive table-custom">
    <tr>
        <th>Номер</th>
        <th>Наименивание доступа</th>
        <th>Тип</th> 
        <th>Описение</th>      
        <th>Редактирование</th>      
    </tr>

    @foreach (var ItemPerm in Model)
    {
        <tr>
            <td>@ItemPerm.Id</td>
            <td>@ItemPerm.ControllerAction</td>
            <td>@ItemPerm.ActionAttributes</td>
            <td>@ItemPerm.Description</td>
            <td>
                <a href="@Url.Action("EditPermission", new { Id = ItemPerm.Id })">Редактировать</a>
            </td>
        </tr>
    }
</table>
}
