@using ProducerInterfaceCommon.ContextModels
@{
    ViewBag.Title = "Результаты поиск пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Userlist = ViewBag.ListUser_ProducerUser as IEnumerable<ProducerInterfaceCommon.ContextModels.ProducerUser>;
}

<h2>Результаты поиска</h2>

<hr/>

@if (Userlist != null && Userlist.Count() > 0)
{
    foreach (var UserItem in Userlist)
    {

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <p data-toggle="collapse" data-parent="#accordion-menu2" href="#collapseTwo_@UserItem.Id"><span class="glyphicon glyphicon-user"></span> @UserItem.Name @UserItem.Email</p>
            </h4>
        </div>
        <div id="collapseTwo_@UserItem.Id" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="form-group">
                    <p>Список групп, в которых состоит пользователь</p>
                    @foreach (var GroupUser in UserItem.ControlPanelGroup)
                    {
                        <p title="@GroupUser.Description">- @GroupUser.Name</p>
                    }
                </div>
                <div class="form-group">              
                        <a class="btn btn-primary" href="@Url.Action("Change", new { Id = UserItem.Id })"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp; Редактировать</a>                 
                </div>
            </div>
        </div>
    </div>
    }
}
else
{
<h3>По вашему запросу ничего не найдено</h3>
}

<div class="form-group">
    <a class="btn btn-primary" href="@Url.Action("SearchUser")">назад к поиску</a>
</div>