@using ProducerInterfaceCommon.ContextModels
@model UserFilter

@{
    ViewBag.Title = "Список пользователей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>@ViewBag.Title</h2>
<span class="btn btn-group">
    <a class="btn btn-primary" data-toggle="modal" data-target="#ModalFilterForm">Фильтр</a>
</span>

<hr/>

@Html.Action("SearchUser", Model)

@using (Html.BeginForm())
{
<div id="ModalFilterForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Фильтр пользователей</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Login)
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.ProducerName)
                            @Html.TextBoxFor(m => m.ProducerName, new { @class = "form-control" })
                        </div>

                        @*<div class="form-group">
                            <label>Количество записей на странице</label>
                            <select data-bind="foreach: ItemsPerPageList, value: ItemsPerPage" class="form-control">
                                <option data-bind="value: Value, text: Text"></option>
                            </select>
                        </div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="btn btn-group btn-group-sm">
                    <input type="submit" value="Искать" class="btn btn-primary" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть без поиска</button>
                </div>
            </div>
        </div>

    </div>
</div>

}
<hr/>
