@using ProducerInterfaceCommon.ContextModels
@using ProducerInterfaceCommon.Models
@model MailFormUi

@{
    ViewBag.Title = "Изменение шаблона";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var subjectHeader = "Тема сообщения";
    var bodyHeader = "Текст сообщения";
    if (Model.Id == (int)MailType.HeaderFooter) {
        subjectHeader = "Шапка письма";
        bodyHeader = "Подпись к письму";
    }

    var mediaFiles = new List<SelectListItem>();
}

<h2>Шаблон "@Html.DisplayFor(m=>m.Description)"</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            @using (Html.BeginForm("Edit", "Mail")) {
                @Html.HiddenFor(model => model.Id)
                @Html.DropDownList("AddMediaFiles", mediaFiles, new { style = "display: none;" })
                @Html.DropDownList("RemoveMediaFiles", mediaFiles, new { style = "display: none;" })
                <div class="form-group">
                    <p>@subjectHeader</p>
                    @if (Model.Id == (int)MailType.HeaderFooter) {
                        @Html.TextAreaFor(model => model.Subject, new { @class = "form-control", @rows = "10" })
                    }
                    else {
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                    }
                </div>

                <div class="form-group">
                    <p>@bodyHeader</p>
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = "20" })
                </div>

                <div class="form-group">
                    <input hidden="hidden" id="IsBodyHtml" value="false"/>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Сохранить изменения"/>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h2>Расшифровка подставляемых значений</h2>
        <ul>
            <li>CreatorName - имя пользователя, создавшего отчет</li>
            <li>DateTimeNow - текущее время</li>
            <li>Http - ссылка на акцию</li>
            <li>Password - пароль, генерируется</li>
            <li>ProducerName - название производителя</li>
            <li>PromotionName - имя акции, данное пользователем</li>
            <li>ReportName - имя отчёта, данное пользователем</li>
            <li>SiteName - название сайта, из конфигурации</li>
            <li>Status - статус промоакции, устанавливается админом</li>
            <li>UserLogin - email пользователя</li>
            <li>UserName - имя пользователя, указанное им при регистрации</li>
        </ul>
    </div>
</div>

@if (Model.MediaFiles != null && Model.MediaFiles.Count > 0) {
    <div class="row">
        <div class="col-md-12">
            <h2>Прикрепленные файлы</h2>
            @foreach(var id in Model.MediaFiles){
                <img src="@Url.Action("GetFile", "MediaFiles", new { Id = id })" style="max-height:50px;" onclick="alert(@id)" />
            }
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">

        $(function () {
            $("#Subject").on("keypress", function (e) {
                if (e.which == 13)
                    return false;
            });
        });

    </script>
}


