@model List<Tuple<int,string>>
@using ProducerInterfaceCommon.Heap
@using ProducerInterfaceCommon.Models

@{
    ViewBag.Title = "Шаблоны писем";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Шаблоны писем</h2>

<div class="jumbotron">
    @using (Html.BeginForm("Edit", "Mail", FormMethod.Get)) {
        <div class="form-group">

            <select name="id" class="form-control">
                <option selected="selected"></option>
                <optgroup label="Рассылка регистрационных данных">
                    <option value="@((int)MailType.Registration)">@MailType.Registration.DisplayName()</option>
                    <option value="@((int)MailType.PasswordChange)">@MailType.PasswordChange.DisplayName()</option>
                    <option value="@((int)MailType.PasswordRecovery)">@MailType.PasswordRecovery.DisplayName()</option>
                    <option value="@((int)MailType.ProducerRequest)">@MailType.ProducerRequest.DisplayName()</option>
                    <option value="@((int)MailType.AccountVerification)">@MailType.AccountVerification.DisplayName()</option>
               </optgroup>
                <optgroup label="Рассылка отчетов">
                    <option value="@((int)MailType.AutoPostReport)">@MailType.AutoPostReport.DisplayName()</option>
                    <option value="@((int)MailType.ManualPostReport)">@MailType.ManualPostReport.DisplayName()</option>
                    <option value="@((int)MailType.CallForDelete)">@MailType.CallForDelete.DisplayName()</option>
                </optgroup>
                <optgroup label="Акции">
                    <option value="@((int)MailType.CreatePromotion)">@MailType.CreatePromotion.DisplayName()</option>
                    <option value="@((int)MailType.EditPromotion)">@MailType.EditPromotion.DisplayName()</option>
                    <option value="@((int)MailType.StatusPromotion)">@MailType.StatusPromotion.DisplayName()</option>
                </optgroup>
                <optgroup label="Препараты">
                    <option value="@((int)MailType.CatalogDescription)">@MailType.CatalogDescription.DisplayName()</option>
                    <option value="@((int)MailType.CatalogPKU)">@MailType.CatalogPKU.DisplayName()</option>
                    <option value="@((int)MailType.CatalogMNN)">@MailType.CatalogMNN.DisplayName()</option>
                </optgroup>
               <optgroup label="Сообщения об ошибках">
                    <option value="@((int)MailType.ReportError)">@MailType.ReportError.DisplayName()</option>
                    <option value="@((int)MailType.EmptyReport)">@MailType.EmptyReport.DisplayName()</option>
                </optgroup>
                <optgroup label="Прочее">
                    <option value="@((int)MailType.HeaderFooter)">@MailType.HeaderFooter.DisplayName()</option>
                </optgroup>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Редактировать шаблон" class="btn btn-primary" />
        </div>
    }
</div>

<hr/>
<h4>Прикрепленные файлы</h4>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postFile">Загрузить файл</button>

@if (Model != null && Model.Any()) {
    using (Html.BeginForm("DeleteFile", "Mail", FormMethod.Post)) {
    <hr />
    <div class="row">
        @foreach (var item in Model) {
            <div class="col-md-3">
                <img style="max-height:50px; margin:10px 0;" src="@Url.Action("GetFile", "MediaFiles", new { Id = item.Item1 })"/>
                <input name="Id" type="checkbox" value="@item.Item1"/>
                <span>@item.Item2</span>
            </div>
        }
    </div>
    <input type="submit" value="Удалить файл из системы" class="btn btn-primary" />
    }
}

<div id="postFile" class="modal fade" role="dialog">
    @using (Html.BeginForm("SaveEmailFile", "MediaFiles", FormMethod.Post, new { enctype = "multipart/form-data"})) {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Добавить файл</h3>
                </div>
                <div class="modal-body" id="result">
                    <input type="file" name="file" class="form-control" />
                </div>
                <div class="modal-footer">
                    <div class="btn btn-group btn-group-sm">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>









