@using AnalitFramefork.Hibernate.Models
@using ProducerInterface.Models
@model dynamic
﻿@using ProducerInterface.Models

@{
	ViewBag.Title = "title";
	var user = ViewBag.CurrentUser as ProducerUser;
	var drugFamily = ViewBag.DrugFamily as DrugFamily;
}
<section id="main">
	<div class="container">
		<div class="row">
			<div class="content blog col-sm-9 col-md-9">
				@if (drugFamily.DrugDescription == null)
				{
					<div>У данного товара нет описания</div>
				}
				else
				{
						<h3 class="title">Описание препарата</h3>
					<div class="content blog col-sm-12 col-md-12">
						<table class="table table-striped table-bordered ">
							<tbody>
							<tr>
								<td>
									<label>Наименование:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Name</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Английское наименование:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.EnglishName</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Формакологическое действие:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.PharmacologicalAction</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Состав:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Composition</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Показания к применению:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.IndicationsForUse</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Способ применения и дозы:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Dosing</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Взаимодействие:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Interaction</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Побочные эффекты:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.SideEffect</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Предостережения и противопоказания:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Warnings</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Форма выпуска:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.ProductForm</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Условия хранения:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Storage</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Срок годности:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Expiration</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>Дополнительно:</label>
								</td>
								<td>
									<p>@drugFamily.DrugDescription.Description</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>МНН:</label>
								</td>
								<td>
									<p>@(drugFamily.MNN != null ? drugFamily.MNN.Value : "<span>не указано</span>")</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							<tr>
								<td>
									<label>МНН (Русское наименование)</label>
								</td>
								<td>
									<p>@(drugFamily.MNN != null ? drugFamily.MNN.RussianValue : "<span>не указано</span>")</p>
								</td>
								<td>
									<a class="btn btn-xs btn-primary" href="">Редактировать</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>


					<div class="content-block">

						<a href="@Url.Action("Products")" class="btn btn-primary">
							<span>Назад</span>
						</a>
						<a href="@Url.Action("CreateDrugDescriptionRemark", new {id = drugFamily.Id})" class="btn btn-primary">
							<i class="fa fa-pencil"></i>
							<span>Редактировать описание</span>
						</a>						
					</div>
				}

			</div><!-- .content -->
			<div id="sidebar" class="sidebar col-sm-3 col-md-3">
				@{ Html.RenderPartial("ProfileMenu"); }
			</div><!-- .sidebar -->

		</div>
	</div>
	<!-- .container -->
</section>