@using AnalitFramefork.Helpers
@using ProducerInterface.Models

@{
	ViewBag.Title = "Дополнить описание препарата";
	var drugDescriptionRemark = ViewBag.DrugDescriptionRemark as DrugDescriptionRemark;
	var mnns = ViewBag.AvailibleMnn as List<MNN>;
}
<section id="main">
	<div class="container">
		<div class="row">
			<div class="content blog col-sm-9 col-md-9">
					<form id="contactform" class="form-box register-form contact-form" method="POST">
						<h3 class="title">Запрос на изменение описания</h3>
						<b style="color: red">
							На данной странице создается правка по описанию препаратов и МНН. Позже правки могут быть применены администратором или отклонены.
							Они отображаются в панели управления в разделе "Список правок пользователей"
						</b>
						<div>
							<label>Наименование:</label>
							@Html.TextBoxFor(i => drugDescriptionRemark.Name, new {@class = "form-control"})
						</div>
						<div>
							<label>Английское наименование:</label>
							@Html.TextBoxFor(i => drugDescriptionRemark.EnglishName, new {@class = "form-control"})
						</div>
						<div>
							<label>Формакологическое действие:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.PharmacologicalAction, new {@class = "form-control"})
						</div>
						<div>
							<label>Состав:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Composition, new { @class = "form-control" })
						</div>
						<div>
							<label>Показания к применению:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.IndicationsForUse, new {@class = "form-control"})
						</div>
						<div>
							<label>Способ применения и дозы:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Dosing, new { @class = "form-control" })
						</div>
						<div>
							<label>Взаимодействие:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Interaction, new { @class = "form-control" })
						</div>
						<div>
							<label>Побочные эффекты:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.SideEffect, new {@class = "form-control"})
						</div>
						<div>
							<label>Предостережения и противопоказания:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Warnings, new { @class = "form-control" })
						</div>
						<div>
							<label>Форма выпуска:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.ProductForm, new { @class = "form-control" })
						</div>
						<div>
							<label>Условия хранения:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Storage, new { @class = "form-control" })
						</div>
						<div>
							<label>Срок годности:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Expiration, new { @class = "form-control" })
						</div>
						<div>
							<label>Дополнительно:</label>
							@Html.TextAreaFor(i => drugDescriptionRemark.Description, new {@class = "form-control"})
						</div>
						<div>
							<label>МНН:</label>
							@Html.DropDownListExtendedFor(i => drugDescriptionRemark.MNN,mnns,i => i.Value,null, new { @class = "form-control" }, drugDescriptionRemark.MNN != null ? drugDescriptionRemark.MNN.Id.ToString() : "0")
						</div>
						<div class="clearfix"></div>
						<div class="buttons-box clearfix">
							<button type="submit" class="btn btn-info">Отправить</button>
						</div><!-- .buttons-box -->
					</form>
				</div>
			@{ Html.RenderPartial("SideBar");}
		</div>

	</div>

</section>
