@using System.Globalization
@using AnalitFramefork.Hibernate.Models
@using AnalitFramefork.Mvc
@using Microsoft.Win32.TaskScheduler

@{
    WeeklySchedule weeklySchedule = ViewBag.WeeklySchedule;
    GeneralReport generalReport = weeklySchedule.GeneralReport;
    BaseController controller = ViewBag.Controller;
    var daysofweek = Enum.GetNames(typeof(DaysOfTheWeek)).ToList();
    daysofweek.Remove("AllDays");
    var sunday = daysofweek.First();
    daysofweek.RemoveAt(0);
    daysofweek.Add(sunday);
    weeklySchedule.GeneralReport = generalReport;
}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="content blog col-sm-9 col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">@controller.IfEdit("Редактирование", "Создание") еженедельного расписания для отчета</div>
                    </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                @using (@Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal"}))
                                {
                                    @Html.Hidden("scheduleId", weeklySchedule.Id)
                                    @Html.HiddenFor(i => weeklySchedule.Id)
                                    @Html.HiddenFor(i => weeklySchedule.GeneralReport.Id)
                                    <div class="form-group ">
                                        <label class="col-sm-3 control-label">Время</label>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(i => weeklySchedule.Hour, new {@class = "form-control form"})
                                        </div>
                                        <div class="pull-left">:</div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(i => weeklySchedule.Minute, new {@class = "form-control form"})
                                        </div>
                                    </div>
                                    <div>
                                        @ViewBag.Validation.GetError(weeklySchedule, "Hour")
                                        @ViewBag.Validation.GetError(weeklySchedule, "Minute")
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-sm-3 control-label">Дни недели</label>
                                        <div class="col-sm-9">
                                            @for (var i = 0; i < daysofweek.Count; i++)
                                            {
                                                var day = (DayOfWeek) Enum.Parse(typeof (DayOfWeek), daysofweek[i]);
                                                var checkd = weeklySchedule.Days.Contains(day) ? "checked='checked'" : "";
                                                <div class="checkbox pull-left">
                                                    <input type='checkbox' name="weeklySchedule.Days[@i].Value" @checkd value="@day"/>
                                                    <span>@DateTimeFormatInfo.CurrentInfo.GetDayName(day)</span>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <button class="btn btn-success" type="submit">@controller.IfEdit("Изменить", "Сохранить")</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <a class="btn btn-info" href="@Url.Action("Schedule",new {id = generalReport.Id})">
                        Назад
                    </a>
                </div>

            </div>
            @{ Html.RenderPartial("SideBar");}
        </div>

    </div>

</section>
