@using AnalitFramefork.Hibernate.Models
@using ProducerInterface.Models
@{
	ViewBag.Title = "Профиль пользователя";
	Layout = "~/Views/Shared/_Layout.cshtml";
	List<Producer> producers = ViewBag.ProducerList;
    List<ProducerUser> producerUserList = ViewBag.ProducerUserList;
	List<ProfileNews> profileNewsList = ViewBag.ProfileNewsList;
	var currentUser = (ViewBag.CurrentUser as ProducerUser);
}
 
	<section id="main">
		<header class="page-header">
			<div class="container">
				<h1 class="title">Здравствуйте, @currentUser.Name !</h1>
				<div></div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="content blog col-sm-9 col-md-9">
					@foreach (var article in profileNewsList)
					{
						<article class="post">
							<h2 class="entry-title"><a href="blog-view.html">@article.Topic</a></h2>
							<div class="entry-content">
							@article.Text
							</div>
							<footer class="entry-meta">
								<span class="autor-name">@currentUser.Name</span>,
								<span class="time">@article.CreatedDate</span>
								<span class="separator">|</span>
								<span class="meta">Добавлено в <a href="#">промо-акции</a>, <a href="#">Препараты</a></span>
								<span class="comments-link pull-right">
									<a href="#"><i class="fa fa-comment"></i> Нет комментариев</a>
								</span>
							</footer>
						</article>
					}
				</div><!-- .content -->
				@{ Html.RenderPartial("SideBar"); }
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- #main -->