@*@using ProducerInterfaceCommon.Models
    @model List<ProducerInterfaceCommon.ContextModels.jobextend>*@


@{
    var currentUser = ViewBag.CurrentUser as ProducerInterfaceCommon.ContextModels.Account;
    ViewBag.Title = "Кабинет производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var NewsList = ViewBag.News as IEnumerable<ProducerInterfaceCommon.ContextModels.NotificationToProducers>;
}

<div class="container body-content">


    <div class="form-group">
        <p class="lead">Здраствуйте, @currentUser.Name.</p>
    </div>

    <hr />

    <h2>Новости</h2>
    <hr />

    <div class="form-group" id="NewsListDiv">
        @if (ViewBag.News != null && ViewBag.News.Count > 0)
        {

            <div class="row">
                @foreach (var NewsItem in NewsList)
                {                 
                        <div class="panel panel-default pointer" onclick="window.location='@Url.Action("News", "Profile", new { Id = NewsItem.Id})'">
                            <div class="panel-heading" style="text-decoration:none;">
                                <span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; @NewsItem.Name <span class="pull-right news-date">@NewsItem.DatePublication.Value.ToString("dd.MM.yyyy")</span>
                                @*<h4 class="panel-title">
                                    <p data-toggle="collapse" data-parent="#accordion-menu2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp; @NewsItem.Name <span class="pull-right panel-title">@NewsItem.DatePublication.ToString("dd.MM.yyyy")</span></p>
                                </h4>*@
                            </div>
                            <div class="panel-collapse collapse in" style="text-decoration:none;">
                                <div class="panel-body" style="text-decoration:none; z-index:1;">
                                 
                                        @if (NewsItem.Description.Length > 150)
                                        {
                                            <p  class="clip">@Html.Raw(NewsItem.Description.Substring(0, 150)) ...</p>
                                        }
                                        else
                                        {
                                            <p  class="clip">@Html.Raw(NewsItem.Description) ...</p>
                                        }
                                                                      
                                    </div>
                            </div>
                        </div>
                   
                }
            </div>

            if (ViewBag.MaxCount > 10)
            {
                <div id="@("LoadingListDiv" + ViewBag.Pager)" class="row">

                </div>

                <div id=@("Delete_Id" + ViewBag.Pager)>
                    @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "Profile",
                    new { Pager = ViewBag.Pager },
                    new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
                    new { @class = "btn btn-primary" })
                </div>
            }
        }

    </div>

</div>

@section JavaScript
{
<script src="~/Scripts/WorkPlace/GradientText.js"></script>

<script type="text/javascript">
    function newsisloadcomplete(data_int) {
        var ElementId = "#Delete_Id" + data_int;
        $(ElementId).css("display", "none");
    }

    //$("#textboxgradienttext").fadeOut();
    //$(".gradient").pxgradient({ //произвольный селектор jQuery
    //    step: 10, // размер шага градиента в пикселях. Меньше шаг — больше качество, но меньше производительность
    //    colors: [ "#fff","transparent"],
    //    dir: "x" // направление градиента. x — горизонтальное, y — вертикальное
    //});
</script>
}