@*@using Quartz.Job.Models
@model List<Quartz.Job.EDM.jobextend>*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = ViewBag.CurrentUser as ProducerInterface.Models.produceruser;
   
}

<div class="jumbotron">
    <h3>Идинтификационный номер производителя: @currentUser.ProducerId</h3>
    <p class="lead">Личный кабинет производителя, текущего залогиневшегося пользователя.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Не нажимайте данную кнопку &raquo;</a></p>
</div>



@*@{Quartz.Job.EDM.jobextend dummyModel = null;}

@if (Model != null && Model.Count > 0)
{
    <section id="main">
        <header>
            <div class="container">
                <h3>Список отчетов</h3>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="content blog col-sm-12 col-md-12">

                    <table style="width:100%;" class="table-bordered table-striped">
                        <tr class="first last">
                            <th>
                                @Html.DisplayNameFor(model => dummyModel.CustomName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummyModel.Scheduler)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummyModel.ReportTypeEnum)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummyModel.Creator)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => dummyModel.LastModified)
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CustomName)       
                                </td>
                                <td>
                                    @Html.ActionLink(item.Scheduler, "ScheduleJob", new { jobName = item.JobName, jobGroup = item.JobGroup })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportTypeEnum)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastModified)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </section>
}*@
