@*@using ProducerInterfaceCommon.Models
    @model List<ProducerInterfaceCommon.ContextModels.jobextend>*@


@{
    var currentUser = ViewBag.CurrentUser as ProducerInterfaceCommon.ContextModels.Account;
    ViewBag.Title = "Кабинет производителя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">    
    <p class="lead">Здраствуйте, @currentUser.Name.</p>	
</div>

<hr/> 

<div class="form-group" id="NewsListDiv">
	
	<h2>Новости</h2> <string>Список новостей практически пуст, при попытке получить ещё новости, вернёт тот же список</string>
	<hr/>

    @if (ViewBag.News != null && ViewBag.News.Count > 0)
    {
        foreach (var NewsItem in ViewBag.News)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        Тема @NewsItem.Name
                        <div class="pull-right">Дата публикации @NewsItem.DatePublication.ToString("dd-MM-yyyy")</div>
                    </div>
                </div>
                <div class="panel-body">
                    <p><h4>Сообщение</h4>@NewsItem.Description</p>
                </div>
            </div>
        }

        <div id="@("LoadingListDiv" + ViewBag.Pager)">

        </div>

        <div id=@("Delete_Id" + ViewBag.Pager)>
            @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "Profile",
       new { Pager = ViewBag.Pager },
       new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
       new { @class = "btn btn-primary" }
       )
        </div>
    }
    else
    {
        <h3>Список новостей пуст</h3>
    }


</div>

<script type="text/javascript">
    function newsisloadcomplete(data_int)
    {
        var ElementId = "#Delete_Id" + data_int;
        $(ElementId).css("display", "none");
    }
</script>