@using AnalitFramefork.Helpers
@using ProducerInterface.Models
@{
	ViewBag.Title = "Регистрация";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var user = (ViewBag.NewUser as ProducerUser) ?? new ProducerUser();
	var producerList = ViewBag.ProducerList as List<Producer>;
	string login = string.Empty;
	string password = string.Empty;
} 
@{
	<section id="main" class="login-register">
		<header class="page-header">
			<div class="container">
				<h1 class="title">Авторизуйтесь или Зарегистрируйте профиль</h1>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="content col-sm-12 col-md-12">
					<div class="row filter-elements hidden">
						<div class="col-xs-12 col-sm-6 col-md-6 box login">
							<div class="info-box">
								<h3 class="title">Дорогой пользователь,</h3>
								<p class="descriptions">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
								<button id="new-costumers" class="btn btn-primary filter-buttons" data-filter=".register">Зарегистрировать профиль</button>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 box login">
							@using (Html.BeginForm("UserAuthentication", "Registration", FormMethod.Post, new { @Class = "form-box register-form form-validator" })) {
								<h3 class="title">Авторизация пользователя</h3>
								<p>Если у Вас есть профиль, пожалуйста авторизуйтесь.</p>

								<div class="form-group">
									<label>Логин: <span class="required">*</span></label>
									@Html.TextBoxFor(s => login, new { @Name = "login", @Class = "form-control" })
								</div>

								<div class="form-group">
									<label>Пароль: <span class="required">*</span></label>
									@Html.TextBoxFor(s => password, new { @Name = "password", type = "password", @Class = "form-control" })
								</div>
								<div class="buttons-box clearfix">
									<button id="getAuthorization" type="submit" class="btn btn-primary">Войти</button>
									<a href="@Url.Action("UserPasswordUpdate", "Registration")" class="forgot">Забыли пароль?</a>
									<span class="required"><b>*</b> Поля, обязательные для заполнения</span>
								</div>
							}<!-- .form-box -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 box register">
							@using (Html.BeginForm("RegisterUser", "Registration", FormMethod.Post, new { @Class = "form-box register-form form-validator" })) {
								<h3 class="title">Регистрация пользователя</h3>
								<p>Если у Вас нет профиля, пожалуйста зарегистрируйтесь.</p>
								<div class="form-group">
									<label>ФИО: <span class="required">*</span></label>
									@Html.TextBoxFor(s => user.Name, new { @Name = "Name", @Class = "form-control" })
								</div>
								<div class="form-group">
									<label>Email: <span class="required">*</span></label>
									@Html.TextBoxFor(s => user.Email, new { @Name = "Email", @Class = "form-control" })
								</div>
								<div class="form-group">
									<label>Пароль: <span class="required">*</span></label>
									@Html.TextBoxFor(s => user.Password, new { @Name = "Password", @type = "password", @Class = "form-control" })
								</div>
								<div class="form-group">
									<label>Должность: <span class="required"></span></label>
									@Html.TextBoxFor(s => user.Appointment, new { @Name = "Appointment", @Class = "form-control" })
								</div>
								<div class="form-group">
									<label>Производитель: <span class="required"></span></label>
									@Html.DropDownListExtendedFor(i => user.Producer, producerList, obj => obj.Name, null,
										new { @class = "form-control", @Id = "ProducerDropDown", @Name = "Producer.Id" }, user.Producer != null ? user.Producer.Id : 0, true)
								</div>
								<div class="buttons-box clearfix">
									<button type="submit" class="btn btn-primary">Создать профиль</button>
									<span class="required"><b>*</b> Поля, обязательные для заполнения</span>
								</div>
							}<!-- .form-box -->
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 box register">
							<div class="info-box">
								<h3 class="title">Процедура регистрации</h3>
								<p class="descriptions">При регистрации необходимо заполнить помеченные поля. Регистрация происходит с отправкой подтверждающего письма на почту производителя.</p>
								<button id="login-account" class="btn btn-primary filter-buttons active-form" data-filter=".login">Авторизоваться</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- #main -->
}
 