@using ProducerInterfaceCommon.Models
@model ProducerInterfaceCommon.Models.Slide
@{
    ViewBag.Title = "Редактирование слайда";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    Slide slide = Model;
}
@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Slide")">Слайдер</a>
                </li>
                <li class="active">Редактировать слайд</li>
            </ol>
        </div>
    </div>
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <hr/>
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="col-md-6">
                        @using (@Html.BeginForm("EditSlide", "Slide", FormMethod.Post, new {@class = "form-horizontal form-groups-bordered", EncType = "multipart/form-data"})) {
                            <div class="form-group">
                                @Html.HiddenFor(model => slide.Id)
                                <label class="col-sm-3 control-label">Ссылка</label>
                                <div class="col-sm-5">
                                    @Html.TextBoxFor(model => slide.Url, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Изображение</label>
                                <div class="col-md-5">
                                    <a href="@Url.Action("GetFile", new {id = slide.ImagePath})" target="_blank">
                                        <img src="@Url.Action("GetFile", new {id = slide.ImagePath})" class="max-height-100"/>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Изменить изображение</label>
                                <div class="col-md-5">
                                    <input type="file" name="uploadedFile" class="file"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label c-pointer" for="isEnabled">Показ</label>
                                <div class="col-md-5">
                                    @Html.CheckBoxFor(model => slide.Enabled, new {@id = "isEnabled", @class = "c-pointer"})
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success" type="submit" value="Сохранить">Сохранить</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>