@using ProducerInterfaceCommon.ContextModels
@using System.Web.Mvc.Html

@{
    var user = ViewBag.CurrentUser;

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pharm-Статистика и Pro-движение @ViewBag.Title</title>
    <link href="~/Content/Chosen/css/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body name="main_container" class="main_container" id="main_container">
      
    <div class="server-message" style="font-size:1.5em; text-align:center; margin-top:50px;"></div>

     @Html.Partial("MenuPartialView")

    <div class="content" id="page_content">
      
            @RenderBody()
      
        <br />
        <footer class="panel-footer navbar-fixed-bottom">                   
                <p>&copy; @DateTime.Now.Year – Аналит Фармация | Email: <a href="mailto:marketing@analit.net">marketing@analit.net</a></p>          
        </footer>
    </div>
  
  
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    @if (user == null)
    {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @Html.Partial("ModelSendErrorMessageForAminPartial")

    <script src="~/Scripts/WorkPlace/Analit.js"></script>
    <script src="~/Scripts/WorkPlace/ZAnalit.js"></script>
	 <script src="~/Scripts/WorkPlace/ModalView.js"></script>
    @RenderSection("JavaScript", required: false)

    <a hidden="hidden" name="UrlString" id="UrlString" value="@ViewBag.UrlString"></a>
</body>
</html>
