@using ProducerInterface.Models
@using System.Web.Mvc.Html


@{
    var user = ViewBag.CurrentUser;

}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аналит @ViewBag.Title</title>

    <link href="~/Content/Chosen/css/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body name="main_container" class="main_container" id="main_container">

    @*<div class="container col-sm-12 col-lg-12 col-md-12" style="height:1000em;position:absolute; background-color:white;">
    </div>*@

    <div class="server-message" style="font-size:1.5em; text-align:center;"></div>

    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header navbar-left">
                <button type="button" class="navbar-toggle navbar-left" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="@Url.Action("Index","Home")" class="navbar-brand">
                    <img class="image-brand" src="~/Content/Image/aflogo.png" />
                </a>        
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    @*<li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span> Главная</a></li>*@
                    @if(user != null)
                    {
                        <li><a href="~/Report/JobList/"><span class="glyphicon glyphicon-th-list"> </span> Отчеты</a></li>
                        <li><a href="~/Promotion/"><span class="glyphicon glyphicon-star-empty"> </span> Акции</a></li>
                        <li><a href="~/Drug/Index/"><span class="glyphicon glyphicon-align-justify"> </span> Описания препаратов</a></li>
                    }
                </ul>

        @if (user != null)
        {                 
                    <ul class="nav navbar-nav navbar-right" role="navigation">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"> <span class="glyphicon glyphicon-user"></span>&nbsp; @user.Email</a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Profile/Index">Кабинет производителя</a></li>
                                <li class="divider"></li>
                                <li><a href="~/UserPermission/Index">Редактирование прав</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("ChangePassword","Registration")">Сменить пароль</a></li>   
                                <li class="divider"></li>
                                <li><a href="~/Registration/LogOut">Выход</a></li>
                            </ul>
                        </li>
                    </ul>
        }
        else
        {
                    <ul class="nav navbar-nav navbar-right" role="navigation">

                        <li><a href="@Url.Action("Registration", "Registration")"><span class="glyphicon glyphicon-ok-sign" style="margin-right:0.5em;"></span> Регистрация</a></li>
                        <li class="dropdown">

                            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user" style="margin-right:0.5em;"></span> Вход на сайт <span class="caret"></span>
                            </a>
                            @Html.Partial("LoginPartialView")
                        </li>
                    </ul>
        }
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="content">
            @RenderBody()
        </div>
        <footer class="panel-footer navbar-fixed-bottom">
            <center>             
                <p>&copy; @DateTime.Now.Year – Аналит Фармация | Телефон:8-800-555-46-88</p>
            </center>
        </footer>
    </div>
  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
  
    @if (user == null)
    {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script src="~/Scripts/WorkPlace/Analit.js"></script>
    <script src="~/Scripts/WorkPlace/ZAnalit.js"></script>
    @RenderSection("JavaScript", required: false)
</body>
</html>
