@using AnalitFramefork.Extensions
@using AnalitFramefork.Helpers
@using AnalitFramefork.Hibernate.Models
@using AnalitFramefork.Mvc
@{
    var form = ViewBag.ReportTemplateForm as ReportTemplateForm;
    var reportTemplateForm = form as DrugstoreRatingReportTemplateForm;
    var controller = ViewBag.Controller as BaseController;
}
<!--Регионы-->
<div class="col-sm-12">
    <div>
        <label>Список значений региона:</label>
    </div>
    <div class="col-sm-5">
        @Html.TextBox("dsada", "", new { @class = "form-control findRegions", placeholder = "Фильтр по имени", autocomplete = "off" })
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        @Html.DropDownListExtendedFor(i => reportTemplateForm.AvailableRegions, reportTemplateForm.AvailableRegions, obj => obj.Title, null, new { @class = "form-control availableRegions", multiple = "multiple" })
    </div>
    <div class="col-sm-1">
        <div class="panel">
            <a href="#" class="btn btn-sm btn-success addRegion">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="panel">
            <a href="#" class="btn btn-sm btn-danger removeRegion">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        @Html.DropDownListExtendedFor(i => reportTemplateForm.IncludedRegions, reportTemplateForm.IncludedRegions, obj => obj.Title, i => new { selected = "selected" }, new { @class = "form-control regionList", multiple = "multiple" })
    </div>
</div>
<!--Препараты-->
<div class="col-sm-12">
    <div>
        <label>Список значений полного именования:</label>
    </div>
    <div class="col-sm-5">
        @Html.TextBox("dsada", "", new { @class = "form-control findDrugs", placeholder = "Фильтр по имени", autocomplete = "off" })
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        @Html.DropDownListExtendedFor(i => reportTemplateForm.AvailableDrugs, reportTemplateForm.AvailableDrugs, obj => obj.Name, null, new { @class = "form-control availableDrugs", multiple = "multiple" })
    </div>
    <div class="col-sm-1">
        <div class="panel">
            <a href="#" class="btn btn-sm btn-success addDrug">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="panel">
            <a href="#" class="btn btn-sm btn-danger removeDrug">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        @Html.DropDownListExtendedFor(i => reportTemplateForm.IncludedDrugs, reportTemplateForm.IncludedDrugs, obj => obj.Name, i => new { selected = "selected" }, new { @class = "form-control drugList", multiple = "multiple" })
    </div>
</div>