@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Heap
@model IEnumerable<CataloglogUiPlus>
@{
  ViewBag.Title = "Логирование изменений каталога";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2>Лог изменений каталога</h2>
<hr />

@Html.Partial("Partial/PagerPartial")

@if (Model != null && Model.Count() > 0)
{

<table class="table-bordered table-striped" id="Table-LogUserChange">
    <tr>
        <th>Сущность</th>
        <th>Свойство</th>
        <th>Было</th>
        <th>Стало</th>
        <th>Принять</th>
        <th>Подробнее</th>
    </tr>

    @foreach (var item in Model)
    {
        var details = Json.Encode(new { item.Id, item.LogTime, item.OperatorHost, item.ProducerId, item.ProducerName, item.Login, item.UserId, item.UserName, item.DateEdit });
    <tr>
        <td>@item.TypeEnum.DisplayName()</td>
        <td>@item.PropertyNameUi</td>
        <td>@item.BeforeUi</td>
        <td>@item.AfterUi</td>
        <td>
            <input name="apply" type="checkbox" value="@item.Id" />
        </td>
        <td data-details="@details"><a data-bind="click: Event_SelectItem.bind(Id)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>
    }
</table>

<div id="ModalDetailsItem" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-full">
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Правка номер № <span data-bind="text:Id"></span></h3>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped" id="Table-LogUserChange">
                    <tr>
                        <th>Дата добавления</th>
                        <th><span data-bind="text:LogTime"></span></th>
                    </tr>
                    <tr>
                        <th>Пользователь</th>
                        <th><span data-bind="text:UserName"></span> (id=<span data-bind="text:UserId"></span>, <span data-bind="text:Login"></span>, IP <span data-bind="text:OperatorHost"></span>)</th>
                    </tr>
                    <tr>
                        <th>Производитель</th>
                        <th><span data-bind="text:ProducerName"></span> (id=<span data-bind="text:ProducerId"></span>)</th>
                    </tr>
                    <tr>
                        <th>Правку принял</th>
                        <th><span data-bind="text:DateEdit"></span></th>
                    </tr>
                    <tr>
                        <th>Дата принятия</th>
                        <th><span data-bind="text:DateEdit"></span></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

    <style>
        .modal-dialog-full {
            width: 80%;
            height: 100%;
        }

        .modal-content-full {
            height: 100%;
        }
    </style>
}
else
{
<h4>Список логов пуст</h4>
}

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/WorkPlace/CatalogLog.js"></script>
}