@using ProducerInterfaceCommon.ContextModels;

@model CatalogLogFilter
@{
  ViewBag.Title = "Запросы правок каталога";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h3 style="display: inline-block; margin-right: 20px;">@ViewBag.Title</h3>
<input type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#filterModal" value="Фильтр" style="width: 300px; margin-bottom: 10px;"/>
<br />
@Html.Action("SearchResult", Model)

<div id="filterModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Фильтр запросов</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sform" })) {
                    <input type="hidden" name="CurrentPageIndex" id="CurrentPageIndex" value="@Model.CurrentPageIndex"/>
                    <input type="hidden" name="ApplyId" id="ApplyId" value=""/>
                    <input type="hidden" name="RejectId" id="RejectId" value=""/>
                    <input type="hidden" name="RejectComment" id="RejectComment" value=""/>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Apply)
                        @Html.DropDownListFor(m => m.Apply, Model.ApplyList, new { @class = "form-control" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="btn btn-group btn-group-sm">
                    <input type="button" class="btn btn-primary" value="Закрыть без поиска" data-dismiss="modal"/>
                    <input type="button" class="btn btn-primary" value="Искать" onclick="getSearch()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>

<div id="commentModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Комментарий</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="RejectId2"/>
                    @Html.TextArea("RejectComment2", new { @class = "form-control", @rows = 5 })
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-group btn-group-sm">
                    <input type="button" class="btn btn-primary" value="Закрыть" data-dismiss="modal"/>
                    <input type="button" class="btn btn-primary" value="Отклонить" onclick="rejectChange()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>

<div id="ModalDetailsItem" class="modal fade modal-open-noscroll" role="dialog">
    <div class="modal-dialog modal-dialog-full">
        <div class="modal-content modal-content-full">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Правка № <span data-bind="text:Id"></span></h3>
            </div>
            <div class="modal-body">
                <table class="table-bordered table-striped" id="Table-LogUserChange" style="min-width: 350px;">
                    <tr>
                        <td>Идентификатор сущности</td>
                        <td><span data-bind="text:ObjectReference"></span></td>
                    </tr>
                    <tr>
                        <td>Дата добавления</td>
                        <td><span data-bind="text:LogTimeUi"></span></td>
                    </tr>
                    <tr>
                        <td>Пользователь</td>
                        <td><span data-bind="text:UserName"></span> (id=<span data-bind="text:UserId"></span>, <span data-bind="text:Login"></span>, IP <span data-bind="text:OperatorHost"></span>)</td>
                    </tr>
                    <tr>
                        <td>Производитель</td>
                        <td><span data-bind="text:ProducerName"></span> (id=<span data-bind="text:ProducerId"></span>)</td>
                    </tr>
                    <tr>
                        <td>Правку принял</td>
                        <td><span data-bind="text:AdminLogin"></span></td>
                    </tr>
                    <tr>
                        <td>Дата принятия правки</td>
                        <td><span data-bind="text:DateEditUi"></span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<p>&nbsp;</p>

<style>
    table.table-striped td, table.table-striped th {
            vertical-align: top;
            padding: 10px;
        }
</style>

@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/knockout-3.4.0.debug.js"></script>
    <script src="~/Scripts/WorkPlace/CatalogLog.js"></script>
}