@using ProducerInterfaceCommon.ContextModels
@using ProducerInterfaceCommon.Heap

@model IEnumerable<CataloglogUiPlus>
@{
  Layout = null;
}


@if (Model != null && Model.Any())
{
@Html.Partial("Partial/Pager")
<table class="table table-bordered" id="Table-LogUserChange">
    <tr>
        <th>Сущность</th>
        <th>Свойство</th>
        <th>Было</th>
        <th>Стало</th>
        <th>Принять</th>
        <th>Отклонить</th>
        <th>Подробнее</th>
    </tr>

    @foreach (var item in Model)
    {
        var rowClass = "";
        switch ((ApplyRedaction)item.Apply)
        {
            case ApplyRedaction.Applied:
                rowClass = "success";
                break;
            case ApplyRedaction.Rejected:
                rowClass = "danger";
                break;
            default:
                rowClass = "";
                break;
        }
        var details = Json.Encode(new { item.ObjectReference, item.Id, item.LogTimeUi, item.OperatorHost, item.ProducerId, item.ProducerName, item.Login, item.UserId, item.UserName, item.DateEditUi, item.AdminLogin });
    <tr class="@rowClass">
        <td>@item.ObjectReferenceNameUi</td>
        <td>@item.TypeEnum.DisplayName() / @item.PropertyNameUi</td>
        <td><span style="white-space: pre-wrap;">@item.BeforeUi</span></td>
        <td><span style="white-space: pre-wrap;">@item.AfterUi</span></td>
        <td>
            @if (item.Apply == (sbyte)ApplyRedaction.New)
            {
              <a href="#" class="btn btn-info btn-sm" onclick="applyChange(@item.Id)">Принять</a>  
            }
            else
            {
              <input type="button" value="Принять" disabled="disabled" class="btn btn-info btn-sm pointer" />
            }
        </td>
        <td>
            @if (item.Apply == (sbyte)ApplyRedaction.New)
            {
                <input type="button" value="Отклонить" class="btn btn-info btn-sm" onclick="getComment(@item.Id)"/>
            }
            else
            {
                <input type="button" value="Отклонить" disabled="disabled" class="btn btn-info btn-sm pointer"/>
            }
        </td>
       <td><a onclick="bindDetailsItem(@details)"><span class="glyphicon glyphicon-eye-open"></span></a></td>
    </tr>
    }
</table>

}
else
{
<h3>По вашему запросу ничего не найдено</h3>
}



