@using ProducerInterfaceCommon.ContextModels
@using ProducerInterfaceCommon.Models
@model MailFormUi

@{
    ViewBag.Title = "Изменение шаблона";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var subjectHeader = "Тема сообщения";
    var bodyHeader = "Текст сообщения";
    if (Model.Id == (int)MailType.HeaderFooter) {
        subjectHeader = "Шапка письма";
        bodyHeader = "Подпись к письму";
    }
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Mail")">Шаблоны писем</a>
                </li>
                <li class="active">Шаблон </li>
            </ol>
        </div>
    </div>
}
<h2>Шаблон "@Html.DisplayFor(m=>m.Description)"</h2>

<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            @using (Html.BeginForm("Edit", "Mail")) {
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <p>@subjectHeader</p>
                    @if (Model.Id == (int)MailType.HeaderFooter) {
                        @Html.TextAreaFor(model => model.Subject, new { @class = "form-control", @rows = "10" })
                    }
                    else {
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                    }
                </div>

                <div class="form-group">
                    <p>@bodyHeader</p>
                    @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = "20" })
                </div>

                <div class="form-group">
                    <input hidden="hidden" id="IsBodyHtml" value="false" />
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Сохранить изменения" />
                </div>
            }
        </div>
    </div>
    <div class="col-md-6">
        <h4>Расшифровка подставляемых значений</h4>
        <ul>
					<li>After - значение поля после изменения</li>
					<li>Before - значение поля до изменения</li>
					<li>Break - перенос строки (шаблон промо-акции)</li>
					<li>CatalogName - название препарата без учета формы выпуска</li>
					<li>Comment - комментарий администратора</li>
					<li>Contacts - контакты пользователя</li>
					<li>CreatorName - имя пользователя, создавшего отчет</li>
					<li>DateTimeNow - текущее время</li>
					<li>Id -  идентификатор</li>
					<li>FieldName -  имя измененного поля записи</li>
					<li>FormName - название формы выпуска препарата</li>
					<li>Http - ссылка на акцию</li>
					<li>Message - сообщение пользователя</li>
					<li>Password - пароль, генерируется</li>
					<li>ProducerName - название производителя</li>
					<li>PromotionName - имя акции, данное пользователем</li>
					<li>ReportName - имя отчёта, данное пользователем</li>
					<li>SiteName - название сайта, из конфигурации</li>
					<li>Status - статус промоакции, устанавливается админом</li>
					<li>UserLogin - email пользователя</li>
					<li>UserName - имя пользователя, указанное им при регистрации</li>
        </ul>
        <hr/>
        <h4>Прикрепленные файлы</h4>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postFile">Добавить файл</button>
        @if (Model.MediaFiles != null && Model.MediaFiles.Count > 0) {
            using (Html.BeginForm("DeleteLinksToFile", "Mail", FormMethod.Post)) {
            <hr />
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="row">
                @foreach(var item in Model.MediaFiles){
                    <div class="col-md-4">
                        <img src="@Url.Action("GetEmailFile", "MediaFiles", new { Id = item.Item1 })" style="max-height:100px; margin:10px 0;" />
                        <input name="fileId" type="checkbox" value="@item.Item1"/>
                        <span>@item.Item2</span>
                    </div>
                }
            </div>
            <input type="submit" value="Удалить файлы из сообщения" class="btn btn-primary" />
            }
        }
    </div>
</div>

<div id="postFile" class="modal fade" role="dialog">
    @using (Html.BeginForm("AttachFile", "Mail", FormMethod.Post)) {
        @Html.HiddenFor(model => model.Id)
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3>Добавить файл</h3>
                </div>
                <div class="modal-body" id="result">
	                <div class="row">
		                @foreach (var item in Model.AllMediaFiles) {
			                <div class="col-md-3">
				                <img style="margin-top:10px" src="@Url.Action("GetEmailFile", "MediaFiles", new {Id = item.Item1})" height="50"/>
				                <input name="fileId" type="checkbox" value="@item.Item1"/><br>
				                <span style="overflow-wrap: break-word;">@item.Item2</span>
			                </div>
		                }
	                </div>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-group btn-group-sm">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">

        $(function () {
            $("#Subject:text").on("keypress", function (e) {
                if (e.which == 13)
                    return false;
            });
        });

    </script>
}


