@using ProducerInterfaceCommon.ContextModels;
@model IEnumerable<AccountAppointment>

<div class="row">
    <div class="col-xs-12">
        <h2>Глобальный список должностей</h2>
        <a class="btn btn-primary" href="@Url.Action("CustomAppointmentList")">Добавление должности пользователю</a>    
        <a class="btn btn-primary" href="@Url.Action("AccountCustomPost")">Пользователи без должностей и с индивидуальными должностями</a> 
        <hr />

        <div class="row">
            <div class="col-xs-12">
                <table class="table-bordered table-striped table-condensed table-custom">
                    <tr>
                        <th>Наименование должности</th>
                        <th></th>
                        <th></th>
                        <th>Количество пользователей</th>
                    </tr>

                    @foreach (var PostItem in Model)
                    {
                        <tr>
                            <td>
                                @using (Ajax.BeginForm("GlobalAppointmentChange", new AjaxOptions { UpdateTargetId = "replacecontent" }))
                                {
                                    <input value="@PostItem.Id" hidden="hidden" style="opacity:0" name="idAppointment" Id="idAppointment" />


                                    <div class="input-group">
                                        <input type="text" class="form-control max-w-10em" name="nameAppointmentName" id="nameAppointmentName" value="@PostItem.Name" />
                                        <span class="input-group-btn">
                                            <input type="submit" class="btn btn-primary" value="Сохранить" />
                                        </span>
                                    </div>

                                }
                            </td>
                            <td>
                                @if (PostItem.GlobalEnabled == 1)
                                {

                                    @Ajax.ActionLink(" Сделать недоступной для выбора пользователям ", "GlobalAppointmentActivate", "OfficePost",
                                new { IdAppointment = PostItem.Id.ToString(), Active = false },
                                new AjaxOptions { UpdateTargetId = "replacecontent" },
                                new { @class = "btn btn-info" })

                                }
                                else
                                {

                                    @Ajax.ActionLink(" Сделать доступной для выбора пользователям ", "GlobalAppointmentActivate", "OfficePost",
                                new { IdAppointment = PostItem.Id.ToString(), Active = true },
                                new AjaxOptions { UpdateTargetId = "replacecontent" },
                                new { @class = "btn btn-success" })

                                }
                            </td>

                            <td>
                                @Ajax.ActionLink(" Удалить ", "GlobalAppointmentDelete", "OfficePost",
                                new { idDelAppointment = PostItem.Id.ToString() },
                                new AjaxOptions { UpdateTargetId = "replacecontent", Confirm = "Вы уверены, что хотите удалить должность" },
                                new { @class = "btn btn-danger" })
                            </td>

                            <td>
                                @PostItem.Account.Count()
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>             
    </div>
</div>

<br /><br />

<div class="row">
    <div class="col-xs-12">

        <h3>Добавление новой должности в глобальный список</h3>
        <hr />

        @using (Ajax.BeginForm("GlobalAppointmentAdd", new AjaxOptions { UpdateTargetId = "replacecontent" }))
            {
            <div class="form-group">
                <label>Наименование должности</label>
                <input type="text" id="NewNameAppointment" name="NewNameAppointment" placeholder="Наименование должности" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        }

    </div>

</div>


