@model IEnumerable<ProducerInterfaceCommon.LoggerModels.logchangeview>
@using ProducerInterfaceCommon.LoggerModels;
@{
    ViewBag.Title = "Логирование изменений базы данных";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Лог изменений базы данных</h2>
<hr />

@Html.Partial("PagerPArtial")

@if (Model != null && Model.Count() > 0)
{

<table class="table-bordered table-striped" id="Table-LogUserChange">

    <tr>
        <th>Id</th>
        <th>Дата изменения</th>
        <th>ФИО пользователя</th>
        <th>eMail пользователя</th>
        <th>Наименование производителя</th>
        <th>Тип действия</th>
        <th>Наименование модели (class C# (имя Entity))</th>
        <th>Подробнее</th>
    </tr>



@foreach (var LogChangeItem in Model)
{
    <tr>
        <td>@LogChangeItem.ChangeSetId</td>
        <td>@LogChangeItem.Timestamp.ToString("yyyy.MM.dd")</td>
        <td>@LogChangeItem.UserName</td>
        <td>@LogChangeItem.Email</td>
        <td>@LogChangeItem.ProducerName</td>
        <td>@(LogChangeItem.Action == null ? "" : LogChangeItem.EntityCommandEnum.GetDescription())</td>
        <td>@LogChangeItem.TypeName</td>
        <td>    
        <a href="~/LogUserChange/ReadMore/@LogChangeItem.ChangeObjectId"><span class="glyphicon glyphicon-pencil"></span></a>        
        </td>
    </tr>
}

</table>
}
else
{
<h4>Список логов пуст</h4>
}