@using ProducerInterfaceCommon.ContextModels
@model ReportDescriptionUI

@{
  ViewBag.Title = "Изменение свойств отчета";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
  var propList = (List<SelectListItem>)ViewData["Regions"];
}

<h2>Отчет "@Html.DisplayFor(m=>m.Name)"</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm()) {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Name)
            <div>@Html.LabelFor(m => m.Description)</div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "10", @cols = "30" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div>@Html.LabelFor(m => m.RegionList)</div>
            <div class="form-group">
                <div class="row">
                    @for (int i = 0; i < propList.Count; i++) {
                        var r = propList[i];
                        <div class="col-md-4">
                            <input type="checkbox" name="RegionList" value="@r.Value"
                                   @{if (r.Selected) { <text> checked='checked' </text> } } />
                            <span>@r.Text</span>
                        </div>
                    }
                </div>
                @Html.ValidationMessageFor(m => m.RegionList)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить изменения" />
            </div>
        }
    </div>
    <div class="col-md-6">
    </div>
</div>
