@using ProducerInterfaceCommon.ContextModels
@model ReportDescriptionUI

@{
  ViewBag.Title = "Изменение свойств отчета";
  Layout = "~/Views/Shared/_MasterPage.cshtml";
  var propList = (List<SelectListItem>)ViewData["Regions"];
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("ReportDescription", "Report")">Свойства отчетов</a>
                </li>
                <li class="active">Изменение свойств отчета</li>
            </ol>
        </div>
    </div>
}
<div class="container">
<h2>Отчет "@Html.DisplayFor(m=>m.Name)"</h2>

<div class="row">
        @using (Html.BeginForm()) {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Name)
            <div>@Html.LabelFor(m => m.Description)</div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @rows = "10", @cols = "30" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div>@Html.LabelFor(m => m.RegionList)</div>
            <div class="form-group">
                <div class="row">
                    @for (int i = 0; i < propList.Count; i++) {
                        var r = propList[i];
                        <div class="col-md-4">
                            <input type="checkbox" class="c-pointer" id="checkN@(i.ToString())" name="RegionList" value="@r.Value"
                                   @{if (r.Selected) { <text> checked='checked' </text> } } />
                            <label class="c-pointer" for="checkN@(i.ToString())">@r.Text</label>
                        </div>
                    }
                </div>
                @Html.ValidationMessageFor(m => m.RegionList)
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Сохранить изменения" />
            </div>
        }
</div>
</div>
