@using ProducerInterfaceCommon.ContextModels
@model ProducerInterfaceCommon.ViewModel.ControlPanel.Report.SearchProducerReportsModel

@{
    ViewBag.Title = "Отчеты";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    var listReport = new List<SelectListItem>();
    listReport.Add(new SelectListItem() { Text = "Все типы отчетов" });
    if (Model.ReportType.HasValue) {
        listReport.AddRange(EnumHelper.GetSelectList(typeof(Reports), (Reports)Model.ReportType.Value));
    }
    else {
        listReport.AddRange(EnumHelper.GetSelectList(typeof(Reports)));
    }
    var triStateValues = new List<SelectListItem> {
        new SelectListItem { Text = "Все", Value = String.Empty, Selected = !Model.Enable.HasValue },
        new SelectListItem { Text = "Активные", Value = "true", Selected = Model.Enable.HasValue && Model.Enable.Value },
        new SelectListItem { Text = "Удаленные", Value = "false", Selected = Model.Enable.HasValue && !Model.Enable.Value },
    };
}

@section navigation{
    <div class="body-content affix-top">
        <div class="row">
            <ol class="breadcrumb">
                <li class="active">Список отчетов</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-3"><h3 class="headText">@ViewBag.Title</h3></div>
    <div class="col-md-3"><input type="button" class="btn btn-primary" data-toggle="modal" data-target="#filterModal" value="Фильтр" /></div>
</div>
<br />

@Html.Action("SearchResult", Model)

<div id="filterModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Фильтр отчетов</h3>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "sform" }))
                {
                    @Html.HiddenFor(m => m.CurrentPageIndex)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Enable)
                        @Html.DropDownList("Enable", triStateValues, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Producer)<br />
                        @Html.EditorFor(m => m.Producer)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReportName)
                        @Html.TextBoxFor(m => m.ReportName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReportType)
                        @Html.DropDownList("ReportType", listReport, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                @Html.LabelFor(m => m.RunFrom)
                                @Html.EditorFor(m => m.RunFrom,"Date")
                            </div>
                            <div class="col-xs-6">
                                @Html.LabelFor(m => m.RunTo)
                                @Html.EditorFor(m => m.RunTo, "Date")
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <div class="btn btn-group btn-group-sm">
                    <input type="button" class="btn btn-primary" value="Закрыть без поиска" data-dismiss="modal" />
                    <input type="button" class="btn btn-primary" value="Искать" onclick="getSearch()" />
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts
{
    <script src="~/Content/Chosen/js/chosen.jquery.js"></script>
    <link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />
    <script src="~/Content/Chosen/js/InitReportSearchChosen.js"></script>
}
