@using ProducerInterfaceCommon.ContextModels;
@model promotions


@if (Model.Status == true && Model.Enabled == true && Model.Begin < System.DateTime.Now && Model.End > System.DateTime.Now)
{
<div class="panel-heading">
    <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp; @Model.Name <p class="pull-right">Статус 'Публикуется'</p></a>
</div>
}
else {
if (Model.Status == false)
{
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp; @Model.Name <p class="pull-right">Статус 'Cогласование'</p></a>
    </div>
}
else
{
  if (Model.Begin > DateTime.Now && Model.Enabled == true)
  {
    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp; @Model.Name <p class="pull-right">Статус 'Ожидание даты начала акции'</p></a>
    </div>
  }
  if (Model.Enabled == false)
  {
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp; @Model.Name <p class="pull-right">Статус 'Публикация отменена'</p></a>
        </div>
  }
  if (Model.End < DateTime.Now)
  {
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title"><span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp; @Model.Name <p class="pull-right">Статус 'Aкция завершена'</p></a>
        </div>
  }  
}
}