@using ProducerInterfaceCommon.ContextModels;
@model promotions

<div class="btn-group btn-group-primary btn-group-lg">

    @if(Model.Status == false)
    {
        <!-- редактирование -->
        <a href="@Url.Action("Manage", new { Id = Model.Id })" title="Редактировать" class="btn btn-default glyphicon glyphicon-pencil"></a>
    }

    <!-- копия акции (сразу открывается для редактирования) -->
    <a href="@Url.Action("CopyPaste", new { Id = Model.Id })" title="Создать копию акции" class="btn  btn-default glyphicon glyphicon-floppy-save"></a>

    @if (Model.Enabled == true && Model.Status == true)
    {
          <!-- Отменить публикацию -->
        <a href="@Url.Action("Publication", new { Id = Model.Id, Enabled = false })" title="Остановить публикацию акции" class="btn  btn-default glyphicon glyphicon-eye-close"></a>
    }

    else if(Model.Status == true)
    {
          <!-- запустить публикацию -->
        <a href="@Url.Action("Publication", new { Id = Model.Id, Enabled = true })" title="Начать публикацию акции*(При наступлении срока)" class="btn btn-default glyphicon glyphicon-eye-close"></a>
    }  

    <a href="@Url.Action("DeletePromo", new { Id = Model.Id })" title="Создать копию акции" onclick="return confirm('Вы уверены, что хотите удалить промо-акцию?');" class="btn  btn-default glyphicon glyphicon-trash"></a>


    <!-- Добавить / заменить файл -->

    @*
    @if (Model.PromoFileId == null)  
    {
        
        <a href="@Url.Action("AddFile", new { Id = Model.Id })" title="Прикрепить к акции файл" class="btn btn-default glyphicon glyphicon-file"></a>   
    }
    else
    {
        <a href="@Url.Action("AddFile", new { Id=Model.Id })" title="Прикрепить другой файл к акции" class="btn btn-default glyphicon glyphicon-file"></a>
    }
    *@

</div>
