@using AnalitFramefork.Components
@using ReportsControlPanel.Components
@using ReportsControlPanel.Models
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Отчеты";
	ModelFilter<GeneralReport> pager = ViewBag.Filter;
	var reports = pager.GetItems();
}
<div class="panel panel-default">
	<div class='panel-body'>
		<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("CreateGeneralReport", "GeneralReports")">
			<i class="entypo-plus-circled"></i>
			Добавить
		</a>
	</div>
</div>
	<div class="panel panel-default panel-dark">
		<div class="panel-heading">
			<div class="panel-title col-sm-12">
				<form>
					<div class="col-sm-2 ">
						Поиск по названию
					</div>
					<div class="col-sm-2">
						@pager.FormFilter(i => i.Title, HtmlType.Text, ComparsionType.Like, new { @class = "form-control" })
					</div>
					<div class="col-sm-2">
						@pager.SubmitButton(new { @class = "btn btn-blue" })
					</div>
				</form>
			</div>
		</div>

		<div class="row">
			@{ Html.RenderPartial("Pagination"); }
		</div>
		<table class="table table-bordered " role="grid">
			<thead>
				<tr role="row">
					<th><a href="@pager.OrderBy(s => s.Id)">Номер</a></th>
					<th><a href="@pager.OrderBy(s => s.Payer.Id)">Плательщик</a></th>
					<th><a href="@pager.OrderBy(s => s.Title)">Название</a></th>
					<th><a href="@pager.OrderBy(s => s.Enabled)">Включен</a></th>
					<th>Действия</th>
			</thead>
			<tbody>
				@foreach (var item in reports)
				{
					<tr role="row" class="odd">
						<td>@item.Id</td>
						<td>
							<div>
								@if (item.Payer != null)
								{
									<a href="@Config.AdminInterfaceUrl/Billing?Billing/edit.rails?BillingCode=@item.Payer.Id">@item.Payer.Name</a>
								}
								<i class="editPayer icon entypo-pencil"></i>
							</div>
						</td>
						<td>@item.Title</td>
						<td>@(item.Enabled ? "Да" : "Нет")</td>
						<td>
							<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("Reports", "GeneralReports", new { id = item.Id })">
								<i class="entypo-docs"></i>
								Отчеты
							</a>
							<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("Contacts", "GeneralReports", new { id = item.Id })">
								<i class="entypo-users"></i>
								Рассылка
							</a>
							<a class="btn btn-success btn-sm btn-icon icon-left" href="@Url.Action("Shedule", "GeneralReports", new { id = item.Id })">
								<i class="entypo-clock"></i>
								Расписание
							</a>
							<a class="btn btn-blue btn-sm btn-icon icon-left" href="@Url.Action("EditGeneralReport", "GeneralReports", new { id = item.Id })">
								<i class="entypo-pencil"></i>
								Изменить
							</a>
							<a class="btn btn-red btn-sm btn-icon icon-left" href="@Url.Action("DeleteGeneralReport", "GeneralReports", new { id = item.Id })">
								<i class="entypo-cancel-circled"></i>
								Удалить
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
		<div class="row">
			@{ Html.RenderPartial("Pagination"); }
		</div>
	</div>

