@model EntityContext.ContextModels.PromotionValidation
@using EntityContext.ContextModels
@{
    ViewBag.Title = "Удаление Промо-Акции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="width:100%;">

    <h3>@Model.Name</h3>
    <br />
    @using (Html.BeginForm("Delete", "Promotion", FormMethod.Post))
    {
        @Html.HiddenFor(s => s.Id)
        @Html.ValidationSummary(true);
        <div class="row" style="width:100%;">
            <div class="form-group">
                <label class="control-label">Заголовок:</label>
                @Html.TextBoxFor(s => s.Name, new { @Class = "form-control form-control-mycontrol", @Placeholder = "Заголовок" })
                @Html.ValidationMessageFor(s => s.Name)
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label class="control-label">Содержание:</label>
                @Html.TextAreaFor(Model => Model.Annotation, new { @Class = "form-control width-default", @Rows = "7" })
                @Html.ValidationMessageFor(s => s.Annotation)
            </div>

            <div class="form-group">
                <label>Список лекарств, участвующих в акции: </label>
                @Html.EditorFor(Model => Model.DrugList)
            </div>

            @*@Html.ValidationMessageFor(s => s.DrugList)*@
        </div>

        <div class="row">
            <div class="form-group">
                @Html.EditorFor(m => m.Begin, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.EditorFor(m => m.End, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-top:25px;">
            <div class="col-xs-12 col-sm-6 col-md-6 box">
                <a href="@Url.Action("Promotions")" class="btn btn-primary">Назад</a>
                <button type="submit" class="btn btn-primary filter-buttons active-form" onclick="return confirm('Действительно хатите удалить Промо-Акцию?');">Удалить</button>
            </div>
        </div>
    }
</div>

@section JavaScript
{
    <script src="~/Content/Chosen/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Chosen/js/bootstrap-datepicker.ru.min.js"></script>
    <script src="~/Content/Chosen/js/chosen.jquery.js"></script>
    <script src="~/Content/Chosen/js/InitPromotionGrugList.js"></script>
    <link href="~/Content/Chosen/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/Chosen/css/chosen.css" rel="stylesheet" />

    <script>
    $(function () {
        // http://www.eyecon.ro/bootstrap-datepicker/
        var dateFrom = $('#Begin').datepicker({
            format: 'dd/mm/yyyy',
            weekStart: 1,
            autoclose: true,
            onRender: function (date) {
                return date.valueOf() > Date.now() ? 'disabled' : '';
            }
        }).on('changeDate', function (ev) {
            //$('#DateToUI')[0].focus();
        }).data('datepicker');

        var dateTo = $('#End').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            weekStart: 1,
            onRender: function (date) {
                //return date.valueOf() <= dateFrom.date.valueOf() ? 'disabled' : '';
                return date.valueOf() > Date.now() ? 'disabled' : '';
            }
        }).data('datepicker');
    });

    </script>
    }
