@using ProducerInterfaceCommon.ContextModels
@model ProducerInterfaceCommon.ContextModels.PromotionValidation

@{

    ViewBag.Title = (Model != null && Model.Id != 0 ? "Редактирование акции" : "Добавление акции");
    // "Добавить(редактировать) акцию";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">

    <div class="row">
        <div class="form-group">
            <h3>@(Model != null && Model.Id != 0 ? Model.Name : "Новая акция")</h3>
        </div>
    </div>

    <hr/>
    <!-- Форма для отправка на сервер -->
    <div class="col-xs-12">
        @using (Html.BeginForm("Manage", "Promotion", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
                    @* 
                        некорректно отрабатывает при копировании акции, поэтому тег формариется ручками если Id==0
                        , onsubmit = "return Validate(this);"
                    *@

        if (Model.Id != 0)
        {@Html.HiddenFor(s => s.Id)}
        else {<input type="hidden" name="Id" id="Id" value="0" />}

        @Html.ValidationSummary(true);

            <div class="row">
                <div class="form-group">
                    <label class="control-label">Наименование акции:</label>
                    @Html.TextBoxFor(Model => Model.Name, new { @Class = "form-control", @Placeholder = "Заголовок" })
                    @Html.ValidationMessageFor(Model => Model.Name)
                </div>
            </div>
          
            <div class="row" >
                <div class="form-group">
                    <label class="control-label">Аннотация</label>
                    @Html.TextAreaFor(Model => Model.Annotation, new { @Class = "form-control", @Rows = "7", @onkeyup= "KyUp()" })
                    @Html.ValidationMessageFor(Model => Model.Annotation)
                   <p id="counter">Количество оставшихся для ввода знаков 500</p>
                </div>
            </div>
          
            <div class="row">
                <div class="form-group">
                    <label>Список лекарств, участвующих в акции </label>
                    @Html.EditorFor(Model => Model.DrugList)
                 
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>Список регионов </label>
                    @Html.EditorFor(Model => Model.RegionList)
                    <span>По умолчанию выбран пункт, все регионы. Можете удалить и выбрать нужные из списка</span>
                 
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label>Список поставщиков</label>
                    <div class="checkbox">
                        <label><input type="checkbox" id="AllRegionSelected" onchange="SelectAll()" />Выбрать всех поставщиков в выбранных регионах</label>
                    </div>
                   
                    @Html.EditorFor(Model=>Model.SuppierRegions)
                
                </div>
            </div>

         @*id="date-form-group"*@
            <div class="row">
                <div class="form-group">
                    <div class="form-group col-xs-6">
                        @Html.EditorFor(Model => Model.Begin, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.Begin)
                    </div>
                    <div class="form-group col-xs-6">
                        @Html.EditorFor(Model => Model.End, new { @class = "form-control" })
                        @Html.ValidationMessageFor(Model => Model.End)
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group">
                    @if (Model.PromotionFileId > 0)
                    {
                        <label>Прикрепленный файл</label>
                        <a target="_blank" href="@Url.Action("GetFile", new { Id = Model.PromotionFileId })">@Model.PromotionFileName (скачать)</a> <br />
                    }

                    <label>Выберете файл для загрузки в форматах (.jpg, .jpeg, .txt) Максимальный размер файла 500КБ</label>
                    @Html.Partial("Partial/FileUpload")
                </div>
            </div>
           <br/>
            <div class="row">
                <div class="form-group">
                    <a href="@Url.Action("Index")" class="btn btn-primary">Назад</a>
                    <button type="submit" class="btn btn-primary filter-buttons active-form">@(Model != null && Model.Id != 0 ? "Сохранить изменения и отправить запрос на ее проведение" : "Добавить акцию")</button>
                </div>
            </div>
        }
    </div>
</div>
    
        @section styles
        {       
            <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
            <link href="~/Content/FileUpload.css" rel="stylesheet" />
        }

        @section JavaScript
        {         
            <script src="~/Scripts/WorkPlace/CountAlfavit.js"></script>
      
            <script src="~/Content/Chosen/js/InitPromotion.js"></script> 
      
            <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
            <script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
            <script src="~/Scripts/WorkPlace/DatePicker.js"></script>
     
            <script src="~/Scripts/WorkPlace/FileUpLoad.js"></script>                        
           

        }

