@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления - @ViewBag.Title</title>
    <link href="/Content/default.css?v=0" rel="stylesheet">
        @Styles.Render("~/Content/css")
        @RenderSection("css", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@if (ViewBag.CurrentUser != null) {
	@Html.Partial("Partial/GlobalMenu")
}

<div class="container" style="margin-top:75px;">
	<div style="font-size:1.5em; text-align:center;">
			@if (TempData["SuccessMessage"] != null) {
				<div class="alert alert-success">@TempData["SuccessMessage"]</div>
			}
			@if (TempData["ErrorMessage"] != null) {
				<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
			}
	</div>
</div>

<div class="body-content">
	<div class="row">
		<div class="col-xs-12">
			@RenderBody()
		</div>
	</div>
</div>

<br/>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datepicker")
@RenderSection("scripts", required: false)
<script>
	$(function () {
		Globalize.culture("ru");

		var root = '@Url.Content("~")'.toLowerCase();
		window.siteroot = root;
		$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
			var url = options.url.toLowerCase();
			if (url[0] == "/" && root != "" && url.indexOf(root) != 0)
				options.url = root + options.url;
		});
	});
</script>
</body>
</html>
