@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@if (ViewBag.CurrentUser != null) {
	@Html.Partial("Partial/GlobalMenu")
}

<div class="container" style="margin-top:75px;">
	<div class="server-message" style="font-size:1.5em; text-align:center;"></div>
</div>

<div class="body-content">
	<div class="row">
		<div class="col-xs-12">
			@RenderBody()
		</div>
	</div>
</div>

<br/>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/Analit.js"></script>
<script src="~/Scripts/ZAnalit.js"></script>
@RenderSection("scripts", required: false)
</body>
</html>
