@model ProducerInterfaceCommon.ContextModels.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

    <h3>Ваш профиль</h3>
    <hr />
        
        @using (Html.BeginForm("SaveProfile", "Profile", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.Enabled)
            @Html.HiddenFor(m => m.Login)
        <div class="form-group">
                <label>ФИО</label> <br />
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
        </div>
   
        <div class="form-group">
            <label>Должность</label> <br />

            @Html.DropDownListFor(m=>m.AppointmentId)


            @Html.TextBoxFor(m => m.Appointment, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Appointment)
        </div>      
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </div>    
        }


