@model ProducerInterfaceCommon.Models.News

@{
    ViewBag.Title = "Новое сообщение для производителей";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<div class="container body-content">
	@if (Model.Id > 0) {
		<h2>Редактирование новости</h2>
	} else {
		<h2>Создание новости</h2>
	}
	<hr />

	<input hidden="hidden" id="FullUrlStringFile" value="@ViewBag.FullUrlStringFile" />

	@using (Html.BeginForm(FormMethod.Post))
	{
		@Html.ValidationSummary(true)
		@Html.HiddenFor(m => m.Id)

		<div class="form-group">
			<a href="@Url.Action("Index")" class="btn btn-primary">Назад к списку новостей</a>
			<a class="btn btn-primary" onclick="TargetBlackPreviewNews()">Посмотреть результат</a>
			<input type="submit" class="btn btn-primary" value="Сохранить"/>
			@if (Model.Id != 0) {
				if (Model.Enabled) {
					<a href="@Url.Action("DeleteNews", "News", new {Model.Id})" class="btn btn-warning">В архив</a>
				}
			}
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Subject)
			@Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Subject)
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Body)
			@Html.TextAreaFor(m => m.Body, new { @class = "form-control", @rows = "5" })
			@Html.ValidationMessageFor(m => m.Body)
		</div>

		<div class="form-group">
			<a href="@Url.Action("Index")" class="btn btn-primary">Назад к списку новостей</a>
			<a class="btn btn-primary" onclick="TargetBlackPreviewNews()">Посмотреть результат</a>
			<input type="submit" class="btn btn-primary" value="Сохранить"/>
				@if (Model.Id != 0) {
					if (Model.Enabled) {
							<a href="@Url.Action("DeleteNews", "News", new {Model.Id})" class="btn btn-warning">В архив</a>
					}
				}
		</div>
	}
</div>

@section scripts
{
	<script src="~/Scripts/ckeditor/ckeditor.js"></script>
	<script src="~/Scripts/ckeditor/InitCKEditor_News.js"></script>
}

