@model IEnumerable<ProducerInterfaceCommon.Models.News>

@if (Model != null && Model.Any())
{

    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            Тема @item.Name
                            <div class="pull-right">Дата изменения @item.DatePublication.Value.ToShortDateString()</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <a href="@Url.Action("Create", new { Id = item.Id})" class="btn btn-primary">Редактировать</a>
                            <a href="@Url.Action("DeleteNews", new { id= item.Id})" class="btn btn-primary">Удалить</a>
                        </div>

                        <div class="form-group">
                            <label>История изменений</label>
                            @foreach (var historyItem in item.NewsChange)
                            {
                                <p>@historyItem.DateChange @historyItem.Account.Name @historyItem.GetDisplayNewsTypeChange </p>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }

    if (Model.Count() == 10)
    {
        <div class="row">
            <div id="@("LoadingListDiv" + ViewBag.Pager)" class="col-xs-12">

            </div>
        </div>
    <div id=@("Delete_Id" + ViewBag.Pager)>
        @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "News",
                 new { Pager = ViewBag.Pager },
                 new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
                 new { @class = "btn btn-primary" }
                 )
    </div>
    }
    else
    {
        <h3>Все новости уже отображены на странице</h3>
    }
}
