@model IEnumerable<ProducerInterfaceCommon.Models.News>

@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
    <div class="container">
        <h2>@ViewBag.Title</h2>

        <hr />

        @if (ViewBag.Title == "Новости") {
	        <a href="~/News/Create" class="btn btn-primary">Создать новость</a>  <a href="~/News/Archive" class="btn btn-primary">Архив новостей</a>
        }
        else {
	        <a href="~/News/" class="btn btn-primary">К списку новостей</a>
        }
        <hr />

        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div>
                            @item.Subject
                            <div class="pull-right">@item.DatePublication.Value.ToShortDateString()</div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            @if (item.Enabled)
                            {
															<a href="@Url.Action("Create", new { Id = item.Id })" class="btn btn-primary">Редактировать</a>
															<a href="@Url.Action("DeleteNews", new { id = item.Id })" class="btn btn-warning">В архив (публикация новости прекращается)</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Create", new { Id = item.Id })" class="btn btn-primary">Редактировать с последующей публикацией</a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-warning">Безвозвратно удалить</a>
                            }

                        </div>

                        <div class="form-group">
                            <label>История изменений</label>
                            @foreach (var historyItem in item.NewsChange.OrderByDescending(x => x.CreatedOn))
                            {
	                            <p>
		                            @historyItem.CreatedOn @historyItem.AuthorDisplayName @historyItem.SnapshotName
		                            <a title="Посмотреть изменения" href="@Url.Action("History", new {historyItem.Id})"><i class="glyphicon glyphicon-info-sign"></i></a>
	                            </p>
                            }
                        </div>

                    </div>
                </div>
            }

            if (Model != null && Model.Count() == 10 && ViewBag.Title == "Новости")
            {

            <div class="row">
                <div id="@("LoadingListDiv" + ViewBag.Pager)" class="col-xs-12">
                </div>
            </div>

            <div id=@("Delete_Id" + ViewBag.Pager)>
                @Ajax.ActionLink("Подгрузить предыдущие новости", "GetNextList", "News",
            new { Pager = ViewBag.Pager },
            new AjaxOptions { UpdateTargetId = ("LoadingListDiv" + ViewBag.Pager), InsertionMode = InsertionMode.InsertAfter, HttpMethod = "GET", OnSuccess = "newsisloadcomplete(" + ViewBag.Pager + ")" },
            new { @class = "btn btn-primary" }
            )
            </div>
            }
        }
        else
        {
            <h3>Список новостей пуст</h3>
        }
    </div>

<script type="text/javascript">
    function newsisloadcomplete(data_int) {
        var ElementId = "#Delete_Id" + data_int;
        $(ElementId).css("display", "none");
    }
</script>
