@using ProducerInterface.Models
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var currentUser = ViewBag.CurrentUser as User;
	string userMail = string.Empty;
	string passwordOld = string.Empty;
	string passwordNew = string.Empty;
	string passwordProof = string.Empty;
} 

@{
	<section id="main">
		<header class="page-header">
			<div class="container">
				<h1 class="title">Авторизуйтесь или Зарегистрируйте профиль</h1>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="content col-sm-12 col-md-12">
					<div class="row filter-elements"> 
						<div class="col-xs-12 col-sm-6 col-md-6 box login">
							@if (currentUser == null) {
								using (Html.BeginForm("UserPasswordUpdateRandom", "Registration", FormMethod.Post, new { @Class = "form-box register-form form-validator" })) {
									 <h3 class="title">Забыли пароль? - Не беда!</h3>
									 <p>Укажите Ваш E-mail адрес, если он есть в базе, на него выслан временный пароль.</p>
									 <div class="form-group">
										 <label>Email: <span class="required">*</span></label>
										 @Html.TextBoxFor(s => userMail, new { @Name = "email", @Class = "form-control" })
									 </div>
									 <div class="buttons-box clearfix">
								<button type="submit" class="btn btn-primary">Сменить пароль</button>
										 <span class="required"><b>*</b> Поля, обязательные для заполнения</span>
									 </div>
								 }
							}
							else {
								using (Html.BeginForm("UserPasswordUpdate", "Registration", FormMethod.Post, new { @Class = "form-box register-form form-validator" })) {
									 @Html.HiddenFor(s => currentUser.Id, new { @Name = "UserNumber" })
									 <h3 class="title">Смена пароля</h3>
									 <p>Заполните все поля, подтвердите надобность смены пароля, после чего, Вам на почту будет выслан новый пароль.</p>
									 <div class="form-group">
										 <label>Старый пароль: <span class="required">*</span></label>
										 @Html.TextBoxFor(s => passwordOld, new { @Name = "passwordOld", type = "password", @Class = "form-control" })
									 </div>
									 <div class="form-group">
										 <label>Новый пароль: <span class="required">*</span></label>
										 @Html.TextBoxFor(s => passwordNew, new { @Password = "passwordNew", type = "password", @Class = "form-control" })
									 </div>
									 <div class="form-group">
										 <label>Подтверждение пароля: <span class="required">*</span></label>
										 @Html.TextBoxFor(s => passwordProof, new { @Password = "passwordProof", type = "password", @Class = "form-control" })
									 </div>
									 <div class="buttons-box clearfix">
								<button type="submit" class="btn btn-primary">Сменить пароль</button>
										 <span class="required"><b>*</b> Поля, обязательные для заполнения</span>
									 </div>
								 }
							}
						</div> 
					</div>
				</div>
			</div>
		</div>
		<!-- .container -->
	</section>
	<!-- #main -->
} 