@model string

@{
  // имя свойства
  var field = ViewData.ModelMetadata.PropertyName;
  var fieldTxt = field + "Txt";
  var fieldEditor = field + "Editor";
  var dt = "";
  var logItems = (List<ProducerInterfaceCommon.ContextModels.LogItem>)ViewData["log"];
  foreach (var item in logItems)
  {
      if (item.PropertyName == field)
      {
          dt = $"Последняя редакция {item.OperatorName}";
          if (!string.IsNullOrEmpty(item.OperatorLogin))
          {
              dt = dt + $" ({item.OperatorLogin})";
          }
          dt = dt + $" {item.LogTime.ToString("dd.MM.yyyy hh:mm:ss")}";
      }
  }
}

<div id="@fieldTxt">
    <span style="white-space: pre-wrap;">@Html.DisplayTextFor(m => m)</span>
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-pencil pointer" title="Изменить" onclick="EditToggle('@field')"></span>
        </div>
        <div class="col-md-6" style="text-align:right; font-size: 10px;">@dt</div>
    </div>
</div>
<div style="display: none;" id="@fieldEditor">
    @Html.TextBoxFor(m => m, new { style = "width: 100%;", rows = 10, @class = "form-control" })
    <div class="row" style="margin: 1em 0 1em 0">
        <a href="#" onclick="EditToggle('@field')">Отменить</a>
        <span>&nbsp;</span>
        <span class="btn btn-primary" onclick="EditEntity('@field')">Предложить правку</span>
    </div>
</div>
<hr />

