<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div class="panel-group panel-success" id="accordion-menu">
        <!-- 1 панель -->
        <div class="panel panel-primary">
            <!-- Заголовок 1 панели -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu" href="#collapseOne">Меню 1</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <!-- Содержимое 1 панели -->
                <div class="panel-body">
                    <a href="#" class="btn btn-primary">Ссылка 1</a>
                    <br />
                    <a href="#" class="btn btn-primary">Ссылка 2</a>
                    <br />
                    <a href="#" class="btn btn-primary">Ссылка 3</a>
                </div>
            </div>
        </div>
        <!-- 2 панель -->
        <div class="panel panel-danger">
            <!-- Заголовок 2 панели -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu" href="#collapseTwo">Меню 2</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <!-- Содержимое 2 панели -->
                <div class="panel-body">
                    <a href="#" class="btn btn-danger">Ссылка 1</a>
                    <br />
                    <a href="#" class="btn btn-danger">Ссылка 2</a>
                    <br />
                    <a href="#" class="btn btn-danger">Ссылка 3</a>
                </div>
            </div>
        </div>
        <!-- 3 панель -->
        <div class="panel panel-success">
            <!-- Заголовок 3 панели -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu" href="#collapseThree">Меню 3</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <!-- Содержимое 3 панели -->
                <div class="panel-body">
                    <a href="#" class="btn btn-success">Ссылка 1</a>
                    <br />
                    <a href="#" class="btn btn-success">Ссылка 2</a>
                    <br />
                    <a href="#" class="btn btn-success">Ссылка 3</a>
                </div>
            </div>
        </div>
        <!-- 4 панель -->
        <div class="panel panel-default">
            <!-- Заголовок 4 панели -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu" href="#collapseFor">Меню 4</a>
                </h4>
            </div>
            <div id="collapseFor" class="panel-collapse collapse">
                <!-- Содержимое 4 панели -->
                <div class="panel-body">
                    <a href="#" class="btn btn-default">Ссылка 1</a>
                    <br />
                    <a href="#" class="btn btn-default">Ссылка 2</a>
                    <br />
                    <a href="#" class="btn btn-default">Ссылка 3</a>
                </div>
            </div>
        </div>
        <!-- 5 панель -->
        <div class="panel panel-info">
            <!-- Заголовок 5 панели -->
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-menu" href="#collapseFive">Меню 5</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <!-- Содержимое 5 панели -->
                <div class="panel-body">
                    <a href="#" class="btn btn-info">Ссылка 1</a>
                    <br />
                    <a href="#" class="btn btn-info">Ссылка 2</a>
                    <br />
                    <a href="#" class="btn btn-info">Ссылка 3</a>
                </div>
            </div>
        </div>
    </div>
    
    @*class="container body-content"*@ 

    <div style="position: relative;margin-left: 295px; margin-right:15px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
