@using ProducerInterfaceCommon.Heap
@using ProducerInterfaceCommon.ViewModel.Interface.Promotion
@model PromotionUi

@{
  string x = "text-info";
  ViewBag.Classs = "";
}
<div class="panel panel-default panel-sm">
    <!--        Оглавление    -->

    <div class="panel-heading">
        <a data-toggle="collapse" href="#collapse_@Model.Id" class="panel-title">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>&nbsp;&nbsp; @Model.Name
            <p class="pull-right">Статус '@Model.ActualStatus.DisplayName()'</p>
        </a>
    </div>

    <!--        Содержание акции    -->

    @if(ViewBag.OpenPromotionId != null)
    {
        if (ViewBag.OpenPromotionId == Model.Id.ToString())
        {
            ViewBag.Classs = "in";
        }
    }

    <div id="collapse_@Model.Id" class="panel-collapse collapse @ViewBag.Classs">
        <div class="panel-body">

            <div class="form-group col-xs-12">
                <h4>Аннотация</h4>
                <p>'@Model.Annotation'</p>
            </div>
            <div class="form-group col-xs-6">
                <h4>Дата начала акции</h4>
                <p>@Model.Begin</p>
            </div>

            <div class="form-group col-xs-6">
                <h4>Дата окончания акции</h4>
                <p>@Model.End</p>
            </div>

            <!--                    Прикрепленный файл          -->
            <div class="form-group col-xs-12">
                <h4>Прикреплен файл</h4>

                @if (Model.PromotionFileId != null)
                {
                    <a target="_blank" href="@Url.Action("GetFile", "MediaFiles", new { Id = Model.PromotionFileId })">@Model.PromotionFileName (скачать)</a> <br />
                }
                else
                {
                    <p>Отсутствует файл</p> <br />
                }
            </div>
            <!--                Список лекарств            -->
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" href="#collapse__@Model.Id">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;&nbsp; Список препаратов
                        <p class="pull-right">@Model.DrugList.Count()</p>
                    </a>
                </div>
                <div id="collapse__@Model.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (var item in Model.DrugList)
                        {
                            <p>@item</p>
                        }
                    </div>
                </div>
            </div>
            <!--                Список регионов            -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" href="#collapse___@Model.Id">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;&nbsp; Список регионов
                        <p class="pull-right">@Model.RegionList.Count()</p>
                    </a>
                </div>
                <div id="collapse___@Model.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        @foreach (var item in Model.RegionList)
                        {
                            <p>@item</p>
                        }
                    </div>
                </div>
            </div>
            <!--                Список Поставщиков            -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="panel-title" data-toggle="collapse" href="#collapse_supplier___@Model.Id">
                        <span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;&nbsp;&nbsp; Список Поставщиков
                        <p class="pull-right">@Model.SuppierRegions.Count()</p>
                    </a>
                </div>
                <div id="collapse_supplier___@Model.Id" class="panel-collapse collapse">
                    <div class="panel-body">
                        @if (Model.AllSuppliers)
                        {
                        <p>Все поставщики в выбранных регионах</p>
                        }
                        else
                        {
                            foreach (var item in Model.SuppierRegions)
                            {
                             <p>@item</p>
                            }
                        }

                    </div>
                </div>
            </div>

            <!--                 Управление акцией (ссылки (btn btn-primary) на редактирование, удаление, активацию/деактивацию, копирование)            -->
            <hr />

            <div class="from-group col-xs-12">
                <h4>Управление акцией</h4>
                @Html.Partial("Partial/PromotionItemActionLink", Model)
            </div>
        </div>
    </div>
</div>