<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("MenuPartial");

    <div style="position: relative;margin-left: 295px; margin-right:15px;">

        <div class="server-message" style="font-size:1.5em; text-align:center;"></div>

        @RenderBody()
        <hr />
      
        @if (ViewBag.CurrentUser != null)
        {
        <div class="navbar-fixed-bottom navbar-inverse">
            <center>
                <p>Панель управления | Добро пожаловать @ViewBag.CurrentUser.Name | ваш IP @ViewBag.CurrentUser.IP</p>
            </center>           
        </div>
        }

    </div>  
   
        @Scripts.Render("~/bundles/jquery")      
        @Scripts.Render("~/bundles/bootstrap")

        <script src="~/Scripts/Analit.js"></script>
        <script src="~/Scripts/ZAnalit.js"></script>

        @RenderSection("scripts", required: false)
  

</body>
</html>
