@using ProducerInterfaceCommon.ContextModels;
@using ProducerInterfaceCommon.Heap;
@using ProducerInterfaceCommon.ViewModel.Interface.Global;
@model FeedBack
@{
    ViewBag.Title = "Обратная связь";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Account_ = ViewBag.CurrentUser as ProducerInterfaceCommon.ContextModels.Account;
    var FeedBackTypeList = ViewBag.TypeMessage as IEnumerable<FeedBackTypePrivate>;
}


<div class="container">
    <h2>Обратная связь</h2>

    @using (Html.BeginForm("Index","FeedBack")) {

        @Html.ValidationSummary(true)
     
        if (Account_ != null)
        {
            <div class="form-group">
                <label>Сообщение</label>
                @Html.TextAreaFor(m => m.Description, new { @rows = "5", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

        <div class="form-group">
            <label>Выберите удобный способ для связи</label>
            <select id="Contact" name="Contact" class="form-control">
                <option value="@Account_.Login">@Account_.Login</option>
                @if (@Account_.Phone != null)
                {
                    <option value="@Account_.Phone">@Account_.Phone</option>
                }
            </select>                     
        </div>
        }

        else
        {
            <div class="form-group">
                <label>Сообщение</label>
                @Html.TextAreaFor(m => m.Description, new { @rows = "5", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="form-group">
                <h4 class="text-danger">@ViewBag.ErrorMessageModal</h4>
            </div>
            <div class="form-group">
                <label>Номер телефона</label>
                @Html.TextBoxFor(m => m.PhoneNum, new { @class = "form-control", @placeholder = "(999) 999-99-99" })
                @Html.ValidationMessageFor(m => m.PhoneNum)
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Укажите Email, для регистрации" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        }
        <div class="form-group">
            <label>Тип обращения</label>
            <select id="FeedType" name="FeedType" class="form-control">
                @foreach (var FeedBackItem in FeedBackTypeList)
                {
                    if (ViewBag.FBT == null)
                    {

                        if (FeedBackItem.ToString() == "Wish")
                        {
                        <option value="@((sbyte)FeedBackItem)" selected="selected">@AttributeHelper.DisplayName(FeedBackItem)</option>
                        }
                        else
                        {
                        <option value="@((sbyte)FeedBackItem)">@AttributeHelper.DisplayName(FeedBackItem)</option>
                        }
                    }
                    else
                    {
                        if (FeedBackItem == ViewBag.FBT)
                        {
                            <option value="@((sbyte)FeedBackItem)" selected="selected">@AttributeHelper.DisplayName(FeedBackItem)</option>
                        }
                        else
                        {
                            <option value="@((sbyte)FeedBackItem)">@AttributeHelper.DisplayName(FeedBackItem)</option>
                        }

                    }
                }
            </select>          
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary"/>
        </div>


    }


</div>


