@using ProducerInterfaceCommon.ContextModels;
@{
    var CompanyInformation = ViewBag.CompanyInformation as AccountCompany;
    bool UseLayout = ViewBag.LayoutUsed;

    if (UseLayout)
    {
        Layout = "~/Views/Shared/_LayoutProducerInfermation.cshtml";
    }
    else
    {
        Layout = null;
    }
}

<fieldset>
    <legend>GGG</legend>
    <div>
        <p>sdfsgdfsg sddfs sf sdf sdf jsdhf ksdj hf dsdf sdkjshfakjhsd as dasd asdkjas da askjdhas</p>
    </div>
</fieldset>

<h3>Акции</h3>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-group">
            @foreach (var AccountItem in CompanyInformation.Account)
            {
                foreach (var PromoItem in AccountItem.promotions)
                {
                    <div class="panel-primary">
                        <div class="panel-heading">
                            <h4>@PromoItem.Name  <strong class="col-xs-offset-6">@PromoItem.Status</strong></h4>
                        </div>
                        <div class="panel-body">
                            <div class="col-xs-12">
                                <div class="col-sm-6">
                                    <label>Создана</label>
                                    <p>@PromoItem.Account.Name</p>
                                    <label>Дата последнего изменения</label>
                                    <p>@PromoItem.UpdateTime.ToString("dd.MM.yyyy")</p>
                                    <label>Дата начала</label>
                                    <p>@PromoItem.Begin.Value.ToString("dd.MM.yyyy")</p>
                                    <label>Дата окончания</label>
                                    <p>@PromoItem.End.Value.ToString("dd.MM.yyyy")</p>
                                </div>

                                <div class="col-sm-6">
                                    <label>Аннотация</label>
                                    <p>@PromoItem.Annotation</p>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="btn-group">
                                    <a class="btn btn-primary">1</a>
                                    <a class="btn btn-primary">2</a>
                                    <a class="btn btn-primary">3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>