@model IEnumerable<ProducerInterfaceCommon.ContextModels.LogForNet>

@{
    ViewBag.Title = "Логи ошибок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Лог ошибок</h2>
<hr />

@Html.Partial("PagerPArtial")

<table class="table table-bordered table-striped table-width-100prc" id="ErrorLogTable">
    <tr>
        <th>Номер</th>
        <th>Тип</th>
        <th>Узел</th>   
        <th>Сообщение</th>
        <th>Дата</th>   
    </tr>

    @foreach (var ItemLog in Model)
    {
        <tr>
            <td>@ItemLog.Id</td>
            <td>@ItemLog.ErrorType</td>
            <td>@ItemLog.Host</td>
            <td>@ItemLog.Message</td>
            <td>@ItemLog.DateAddLog.ToString("yyyy.MM.dd")</td>
        
        </tr>
    }

</table>